extends ../layout

block head
	- var PAGE = "initiatives"
	- var TITLE = "Initiatives"

mixin parliamented-initiatives(initiatives)
	-
		var showSentTo = initiatives.some((i) => (
			dbInitiatives[i.id].sent_to_parliament_at
		))

		var showFinishedIn = initiatives.some((i) => (
			dbInitiatives[i.id].finished_in_parliament_at
		))

	table.admin-table
		thead: tr
			if showSentTo
				th Sent to Parliament

			if showFinishedIn
				th Finished in Parliament

			th Title
			th On Rahvaalgatus

		tbody
			each initiative in initiatives
				- var dbInitiative = dbInitiatives[initiative.id]

				tr
					if showSentTo
						td
							if dbInitiative.sent_to_parliament_at
								= formatDate("iso", dbInitiative.sent_to_parliament_at)

					if showFinishedIn
						td
							if dbInitiative.finished_in_parliament_at
								= formatDate("iso", dbInitiative.finished_in_parliament_at)

					td
						a.admin-link(href="/initiatives/" + initiative.id)
							= initiative.title

					td
						a.admin-link(href=Config.url + "/initiatives/" + initiative.id)
							| View on Rahvaalgatus

block body
	- var formatDate = require("root/lib/i18n").formatDate
	h1.admin-heading Initiatives

	h2.admin-subheading
		| In Parliament
		= " "
		span.admin-count (#{parliamented.length})

	+parliamented-initiatives(parliamented)

	h2.admin-subheading
		| Finished
		= " "
		span.admin-count (#{closed.length})

	+parliamented-initiatives(closed)
