div(ng-switch="view")
	div(ng-switch-when="date")
		.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all(style="display: block;")
			.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
				a.ui-datepicker-prev.ui-corner-all(data-handler="prev", data-event="click", title="Prev", ng-click="prev()")
					span.ui-icon.ui-icon-circle-triangle-w Prev
				|                     
				a.ui-datepicker-next.ui-corner-all(data-handler="next", data-event="click", title="Next", ng-click="next()")
					span.ui-icon.ui-icon-circle-triangle-e Next
				|                 
				.ui-datepicker-title
					span.ui-datepicker-month(ng-click="setView('month')") {{date|amDateFormat:'MMMM'}}
					|  
					|                     
					span.ui-datepicker-year {{date|amDateFormat:'YYYY'}}
			// /head
			table.ui-datepicker-calendar
				thead
					tr
						th(ng-repeat="day in weekdays", scope="col", ng-class="{'ui-datepicker-week-end':(day | amDateFormat: 'd')==6 || (day | amDateFormat: 'd')==0}")
							span(title="{{day | amDateFormat: 'd'}}") {{day | amDateFormat: 'dd'}}
				|                     
				tbody
					tr(ng-repeat="week in weeks")
						td(ng-repeat="day in week", ng-class="{'ui-datepicker-days-cell-over   ui-datepicker-current-day ui-datepicker-today':isNow(day)}")
							a.ui-state-default(ng-show="(day.getMonth()==date.getMonth())", href="#", ng-class="{'ui-state-default ui-state-highlight ui-state-active':isNow(day),'ui-state-active':isSameDay(day),'after':isAfter(day),'before':isBefore(day)}", ng-click="setDate(day)", ng-bind="day.getDate()", ng-disabled="isInThePast(day)")
								| 1
	// TODO: below this line nothing is actually used and not ported to angular-moment. But we don't know what future holds...
	div(ng-switch-when="year")
		.deadline-date
			table
				thead
					tr
						th(ng-click="prev(10)") ‹
						|                 
						th.switch(colspan="5") {{years[0].getFullYear()}}-{{years[years.length-1].getFullYear()}}
						|                 
						th(ng-click="next(10)") ›
				|             
				tbody
					tr
						td(colspan="7")
							span(ng-class="{'active':isSameYear(year),'now':isNow(year)}", ng-repeat="year in years", ng-click="setDate(year)", ng-bind="year.getFullYear()")
	|     
	div(ng-switch-when="month")
		table
			thead
				tr
					th(ng-click="prev()") ‹
					|                 
					th.switch(colspan="5", ng-click="setView('year')") {{ date|date:"yyyy" }}
					|                 
					th(ng-click="next()") ›
			|             
			tbody
				tr
					td(colspan="7")
						span(ng-repeat="month in months", ng-class="{'active':isSameMonth(month),'after':isAfter(month),'before':isBefore(month),'now':isNow(month)}", ng-click="setDate(month)") {{month|date:'MMM'}}
	|     
	div(ng-switch-when="hours")
		table
			thead
				tr
					th(ng-click="prev(24)") ‹
					|                 
					th.switch(colspan="5", ng-click="setView('date')") {{ date|date:"dd MMMM yyyy" }}
					|                 
					th(ng-click="next(24)") ›
			|             
			tbody
				tr
					td(colspan="7")
						span(ng-repeat="hour in hours", ng-class="{'now':isNow(hour),'active':isSameHour(hour)}", ng-click="setDate(hour)", ng-bind="hour.getHours()+':00'")
	|     
	div(ng-switch-when="minutes")
		table
			thead
				tr
					th(ng-click="prev()") ‹
					|                 
					th.switch(colspan="5", ng-click="setView('hours')")
						| {{ date|date:"dd MMMM yyyy" }}
					|                 
					th(ng-click="next()") ›
			|             
			tbody
				tr
					td(colspan="7")
						span(ng-repeat="minute in minutes", ng-class="{active:isSameMinutes(minute),'now':isNow(minute)}", ng-click="setDate(minute)") {{minute|date:"HH:mm"}}
