.article-box(ng-if="!filters.statuses.value || filters.statuses.value == 'voting'", ng-show="votingtopicList.length > 0")
	.clearfix
		.left
			h3(translate="INITIATIVE_LIST") ALGATUSTE LOEND
			|             
			.clearfix
				ul.article-pagi.clearfix(ng-show="rangevotingtopicList.length > 1")
					li
						a.disable(ng-show="filters.voting_offset==0")
							img(src="images/pagi-left.png", alt="Image")
						|                     
						a(ng-show="filters.voting_offset>0")
							img(src="images/pagi-left.png", alt="Image", ng-click="setPage('voting',(filters.voting_offset/filters.limit)-1);")
					|                     
					li
						a(ng-show="(filters.voting_offset/filters.limit) > 1", ng-click="setPage('voting',0);") {{1}}
					|                     
					li(ng-show="(filters.voting_offset/filters.limit) > 2") ...
					|                     
					li(data-ng-repeat="i in rangevotingtopicList.slice(0,myCount) track by $index")
						a.disable(ng-show="((filters.voting_offset/filters.limit)== $index  || (filters.voting_offset/filters.limit)+1== $index || (filters.voting_offset/filters.limit)-1== $index )", ng-if="((filters.voting_offset/filters.limit)) == $index") {{$index+1}}
						|                         
						a(ng-show="((filters.voting_offset/filters.limit)== $index  || (filters.voting_offset/filters.limit)+1== $index || (filters.voting_offset/filters.limit)-1== $index)", ng-if="((filters.voting_offset/filters.limit)) != $index", ng-click="setPage('voting',$index);") {{$index+1}}
					|                     
					li(ng-show="(filters.voting_offset/filters.limit) < (rangevotingtopicList.length-3)") ...
					|                     
					li
						a(ng-show="(filters.voting_offset/filters.limit) < (rangevotingtopicList.length-2)", ng-click="setPage('voting',rangevotingtopicList.length-1);") {{rangevotingtopicList.length}}
					|                     
					li
						a(href="#", ng-show="((filters.voting_offset/filters.limit)+1) != rangevotingtopicList.length", ng-click="setPage('voting',(filters.voting_offset/filters.limit)+1);")
							img(src="images/pagi-right.png", alt="Image")
						|                         
						a.disable(href="#", ng-show="((filters.voting_offset/filters.limit)+1) == rangevotingtopicList.length")
							img(src="images/pagi-right.png", alt="Image")
		|         
		.right
			.clearfix.articles
				.in(ui-sref="topics.view({id: topic.id})", ng-repeat="topic in votingtopicList", ng-class="getCategoryTheme(topic.categories[0])")
					p.date {{topic.createdAt | amDateFormat : 'L'}}
					|                     
					p.link
						a(href="#") {{topic.title}}
					|                     
					p.author {{topic.creator.name}}
					|                     
					.bar
						p.signatures-over(ng-if="(topic.vote.options.rows[topic.vote.yesindex].voteCount >=1000)")
						|                         
						p(ng-class='{"signature":((today | amDateFormat : "L") >= (topic.vote.endsAt | amDateFormat : "L" )),"signature-fail":(((topic.vote.endsAt | amDifference : today : "days" )<0) && (!topic.vote.options.rows[topic.vote.yesindex].voteCount || topic.vote.options.rows[topic.vote.yesindex].voteCount <1000) )}', ng-style="::getProgress(topic)")
						|                         
						span(ng-if="(((topic.vote.endsAt | amDifference : today : 'days' )<0) && (!topic.vote.options.rows[topic.vote.yesindex].voteCount || topic.vote.options.rows[topic.vote.yesindex].voteCount <1000 ))", ng-class="{'vote-success':(topic.vote.options.rows[topic.vote.yesindex].voteCount >=1000),'fail':(((topic.vote.endsAt | amDifference : today : 'days' )<0) && (!topic.vote.options.rows[topic.vote.yesindex].voteCount || topic.vote.options.rows[topic.vote.yesindex].voteCount <1000) )}", translate="N_SIGNATURES_FAILED", translate-values="{votes:{{topic.vote.options.rows[topic.vote.yesindex].voteCount || 0}}}")
						|                         
						span(ng-if="(((topic.vote.endsAt | amDifference : today : 'days' )<0) && (topic.vote.options.rows[topic.vote.yesindex].voteCount >=1000))", ng-class="{'vote-success':(topic.vote.options.rows[topic.vote.yesindex].voteCount >=1000),'fail':((!topic.vote.options.rows[topic.vote.yesindex].voteCount || topic.vote.options.rows[topic.vote.yesindex].voteCount <1000) )}", translate="N_SIGNATURES", translate-values="{votes:{{topic.vote.options.rows[topic.vote.yesindex].voteCount || 0}}}")
						|                         
						span(ng-if="(((topic.vote.endsAt | amDifference : today : 'days' )>=0)  || (((topic.vote.endsAt | amDifference : today : 'days' )<0) && (topic.vote.options.rows[topic.vote.yesindex].voteCount >1000)))", ng-class="{'vote-success-progress': ((topic.vote.endsAt | amDifference : today : 'days' )>=0) &&  (topic.vote.options.rows[topic.vote.yesindex].voteCount >=1000) , 'vote-success':((topic.vote.endsAt | amDifference : today : 'days' )<0) &&  (topic.vote.options.rows[topic.vote.yesindex].voteCount >=1000),'fail':(((topic.vote.endsAt | amDifference : today : 'days' )<0) && (topic.vote.options.rows[topic.vote.yesindex].voteCount <1000) )}", translate="N_SIGNATURES", translate-values="{votes:{{topic.vote.options.rows[topic.vote.yesindex].voteCount || 0}}}")
