extends ./layout
include ./_mixins

block append options
	- var subpage = "discussion"

block prepend tab
	-
		var I18n = require("root/lib/i18n")
		var Config = require("root/config")
		var Initiative = require("root/lib/initiative")

	section#initiative.primary-section: center
		include /_flash.jade

		article.text
			header
				if initiative.endsAt
					br
					time.deadline(datetime=initiative.endsAt)
						- var endsAt = I18n.formatDate("numeric", initiative.endsAt)
						= t("DISCUSSION_DEADLINE") + ": " + endsAt

			if Initiative.isEditable(initiative)
				iframe#initiative-etherpad(
					src=Initiative.getEtherpadUrl(initiative),
					frameborder="0",
					scrolling="no")

				:javascript
					var el = document.getElementById("initiative-etherpad")

					window.addEventListener("message", function(ev) {
						switch (ev.data.name) {
							case "ep_resize":
								var height = ev.data.data.height
								if (el.offsetHeight != height) el.style.height = height + "px"
								break
						}
					})

					var scrolled
					window.addEventListener("scroll", function(ev) {
						clearTimeout(scrolled)
						scrolled = setTimeout(handleScroll, 100)
					})

					function handleScroll() {
						el.contentWindow.postMessage({
							name: "ep_embed_floating_toolbar_scroll",
							data: {
								scroll: {top: window.pageYOffset, left: window.pageXOffset},
								frameOffset: {top: el.offsetTop, left: el.offsetLeft}
							}
						}, "*")
					}
			else
				!= text

	section.secondary-section: center
		+initiative-aux-menu(initiative)
		+initiative-subscribe(initiative)
		+comments(comments, comment, subpage)
