extends ./layout

block prepend tab
	- var I18n = require("root/lib/i18n")

	section#initiative.white-section: center
		article
			header
				span.author
					= t("CREATED_BY")
					| &#32;
					= initiative.creator.name

				br
				time.deadline(datetime=initiative.endsAt)
					if subpage == "discussion"
						- var endsAt = I18n.formatDate("numeric", initiative.endsAt)
						= t("DISCUSSION_DEADLINE", {endsAt: endsAt})
					else
						- var endsAt = I18n.formatDate("numeric", initiative.vote.endsAt)
						= t("VOTING_DEADLINE", {endsAt: endsAt})

			!= text
	
block append tab
	section#initiative-comments.grey-section(class=subpage): center
		+comments(subpage, comments)
