extends ./layout

block body
	section#error.primary-section.text-section: center
		h1 Vabandame! Päring ebaõnnestus turvalisuse põhjustel.
		p Palun proovi uuesti. Kui probleem kordub, palun võta meiega ühendust.
