@font-face {
  font-family: 'tisaproregular';
  src: url('../fonts/tisapro-regular-webfont.eot');
  src: url('../fonts/tisapro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tisapro-regular-webfont.woff2') format('woff2'), url('../fonts/tisapro-regular-webfont.woff') format('woff'), url('../fonts/tisapro-regular-webfont.ttf') format('truetype'), url('../fonts/tisapro-regular-webfont.svg#tisaproregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans100';
  src: url('../fonts/museosans-100-webfont.eot');
  src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans-100-webfont.woff2') format('woff2'), url('../fonts/museosans-100-webfont.woff') format('woff'), url('../fonts/museosans-100-webfont.ttf') format('truetype'), url('../fonts/museosans-100-webfont.svg#museo_sans100') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans300';
  src: url('../fonts/museosans-300-webfont.eot');
  src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans-300-webfont.woff2') format('woff2'), url('../fonts/museosans-300-webfont.woff') format('woff'), url('../fonts/museosans-300-webfont.ttf') format('truetype'), url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans500';
  src: url('../fonts/museosans_500-webfont.eot');
  src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans_500-webfont.woff2') format('woff2'), url('../fonts/museosans_500-webfont.woff') format('woff'), url('../fonts/museosans_500-webfont.ttf') format('truetype'), url('../fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans700';
  src: url('../fonts/museosans_700-webfont.eot');
  src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans_700-webfont.woff2') format('woff2'), url('../fonts/museosans_700-webfont.woff') format('woff'), url('../fonts/museosans_700-webfont.ttf') format('truetype'), url('../fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans900';
  src: url('../fonts/museosans_900-webfont.eot');
  src: url('../fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans_900-webfont.woff2') format('woff2'), url('../fonts/museosans_900-webfont.woff') format('woff'), url('../fonts/museosans_900-webfont.ttf') format('truetype'), url('../fonts/museosans_900-webfont.svg#museo_sans900') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff2') format('woff2'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'light';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff2') format('woff2'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'regular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerifRegular';
  src: url('../fonts/NotoSerif-Regular-webfont.eot');
  src: url('../fonts/NotoSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSerif-Regular-webfont.woff2') format('woff2'), url('../fonts/NotoSerif-Regular-webfont.woff') format('woff'), url('../fonts/NotoSerif-Regular-webfont.ttf') format('truetype'), url('../fonts/NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerifBold';
  src: url('../fonts/NotoSerif-Bold-webfont.eot');
  src: url('../fonts/NotoSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSerif-Bold-webfont.woff2') format('woff2'), url('../fonts/NotoSerif-Bold-webfont.woff') format('woff'), url('../fonts/NotoSerif-Bold-webfont.ttf') format('truetype'), url('../fonts/NotoSerif-Bold-webfont.svg#noto_serifbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerifItalic';
  src: url('../fonts/NotoSerif-Italic-webfont.eot');
  src: url('../fonts/NotoSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSerif-Italic-webfont.woff2') format('woff2'), url('../fonts/NotoSerif-Italic-webfont.woff') format('woff'), url('../fonts/NotoSerif-Italic-webfont.ttf') format('truetype'), url('../fonts/NotoSerif-Italic-webfont.svg#noto_serifitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff2') format('woff2'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'light';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff2') format('woff2'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'regular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerifRegular';
  src: url('../fonts/NotoSerif-Regular-webfont.eot');
  src: url('../fonts/NotoSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSerif-Regular-webfont.woff2') format('woff2'), url('../fonts/NotoSerif-Regular-webfont.woff') format('woff'), url('../fonts/NotoSerif-Regular-webfont.ttf') format('truetype'), url('../fonts/NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerifBold';
  src: url('../fonts/NotoSerif-Bold-webfont.eot');
  src: url('../fonts/NotoSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSerif-Bold-webfont.woff2') format('woff2'), url('../fonts/NotoSerif-Bold-webfont.woff') format('woff'), url('../fonts/NotoSerif-Bold-webfont.ttf') format('truetype'), url('../fonts/NotoSerif-Bold-webfont.svg#noto_serifbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerifItalic';
  src: url('../fonts/NotoSerif-Italic-webfont.eot');
  src: url('../fonts/NotoSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSerif-Italic-webfont.woff2') format('woff2'), url('../fonts/NotoSerif-Italic-webfont.woff') format('woff'), url('../fonts/NotoSerif-Italic-webfont.ttf') format('truetype'), url('../fonts/NotoSerif-Italic-webfont.svg#noto_serifitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'bold';
    src: url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  }
  @font-face {
    font-family: 'light';
    src: url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  }
  @font-face {
    font-family: 'regular';
    src: url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  }
  @font-face {
    font-family: 'NotoSerifRegular';
    src: url('../fonts/NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
  }
  @font-face {
    font-family: 'NotoSerifBold';
    src: url('../fonts/NotoSerif-Bold-webfont.svg#noto_serifbold') format('svg');
  }
  @font-face {
    font-family: 'NotoSerifItalic';
    src: url('../fonts/NotoSerif-Italic-webfont.svg#noto_serifitalic') format('svg');
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'bold';
    src: url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  }
  @font-face {
    font-family: 'light';
    src: url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  }
  @font-face {
    font-family: 'regular';
    src: url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  }
  @font-face {
    font-family: 'NotoSerifRegular';
    src: url('../fonts/NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
  }
  @font-face {
    font-family: 'NotoSerifBold';
    src: url('../fonts/NotoSerif-Bold-webfont.svg#noto_serifbold') format('svg');
  }
  @font-face {
    font-family: 'NotoSerifItalic';
    src: url('../fonts/NotoSerif-Italic-webfont.svg#noto_serifitalic') format('svg');
  }
}
/** Main **/
body {
  color: #4A555D;
}
#editorcontainer {
  overflow: hidden;
}
.toolbar {
  background: none;
  border: none;
}
.timeslider-bar {
  background: none;
}
/*
#editbar {
  background: @base-2;
  border-bottom: 1px solid #ccc;
}*/
#editbar .buttonicon {
  border-radius: 0;
  background: #3A434A;
  color: #fff;
  width: 23px;
  height: 20px;
}
#editbar li:hover,
#editbar li:hover a,
#editbar li:hover .buttonicon {
  background: #262D33;
}
.toolbar ul li {
  margin-left: 0;
  padding-left: 2px;
  background: #3A434A;
  height: auto;
}
.toolbar ul li a {
  background: #3A434A;
  border: none;
}
.toolbar ul li a.grouped-left {
  border-radius: 0;
  background: #3A434A;
}
.toolbar ul li a .buttontext {
  color: #fff;
}
.toolbar ul li select {
  background: #3A434A;
  color: #fff;
  padding: 4px;
  line-height: 22px;
  height: 30px;
  border-radius: 0;
  border: none;
  outline: none;
}
/** iframe #ace_outer **/
#outerdocbody {
  overflow: hidden;
  background: none;
}
/** iframe #ace_inner **/
#innerdocbody,
#padcontent {
  background: none;
}
#innerdocbody *,
#padcontent * {
  font-family: 'tisaproregular', regular;
  font-size: 16px;
  line-height: 175%;
}
#innerdocbody h1 *,
#padcontent h1 *,
#innerdocbody h2 *,
#padcontent h2 *,
#innerdocbody h3 *,
#padcontent h3 * {
  font-family: museo_sans700, sans-serif;
  margin: 0;
  line-height: 120%;
}
#innerdocbody h1 *,
#padcontent h1 * {
  font-size: 2.19em;
}
#innerdocbody h2 *,
#padcontent h2 * {
  font-size: 1.6425em;
}
#innerdocbody h3 *,
#padcontent h3 * {
  font-size: 1.231875em;
}
#innerdocbody code *,
#padcontent code * {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
}
#epAuthorshipToggleAuthorList {
  font-family: bold, sans-serif;
  background: #f6f6f6;
}
#padpage #timeslider-top {
  background: #f6f6f6;
}
#padpage #timeslider-top * {
  font-family: bold, sans-serif;
}
#padpage #timeslider-top .toolbar * {
  font-family: regular, sans-serif;
}
#padpage #timeslider-top #steppers .stepper {
  font-family: fontawesome-etherpad;
}
/** Chat flickers on load, don't want that **/
#chatbox,
#chaticon {
  display: none !important;
}
.popup,
#users,
#connectivity {
  background: #f6f6f6;
  border-top: 1px solid #f6f6f6;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0;
  z-index: 1500 !important;
  margin-top: -1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*# sourceMappingURL=editorless.css.map */