.content-wrapper
	#donation-page.enclose
		.content
			h1(translate="SUPPORT_US_TITLE")
			p(translate="SUPPORT_US_CONTENT")

		include ./_donation_form

		.content
			h2(translate="SUPPORT_US_BANK_TITLE")
			p(translate="SUPPORT_US_BANK")
