.content-wrapper
	#donation-page.enclose
		.content
			h1(translate="SUPPORT_US_TITLE")
			p(translate="SUPPORT_US_CONTENT")

		form#donation-form(method="GET", action="{{$sce.trustAsResourceUrl(Config.MAKSEKESKUS_URL)}}")
			input(type="hidden", name="shopId", value="{{Config.MAKSEKESKUS_ID}}")
			input(type="hidden", name="paymentId", value="Donation")

			label.form-label Toetuse suurus eurodes:
			br

			input.form-input(
				type="numeric",
				name="amount",
				value="5",
				placeholder="€",
				requried)

			button.form-submit Toeta

			p
				| Toetuseks suuname su Maksekeskusse, kus saad teha ülekande läbi
				| järgmiste Eesti Interneti-pankade:

				ul.banks
					li: img(src="images/bank_danskebank.png")
					li: img(src="images/bank_krediidipank.png")
					li: img(src="images/bank_lhv.png")
					li: img(src="images/bank_nordea.png")
					li: img(src="images/bank_seb.png")
					li: img(src="images/bank_swedbank.png")

		.content
			h2(translate="SUPPORT_US_BANK_TITLE")
			p(translate="SUPPORT_US_BANK")
