div(ng-controller="TopicRenewDeadlineFormCtrl")
	.voting-options
		div(ng-show="form.voteType")
			.admin-role-cal
				.head
					p(translate="RENEW_DEADLINE") Set the deadline for the signature collecting
				|                 
				.calendar.cal-deadline(ng-show="form.showCalendar")
					.clearfix.dates
						p.left Deadline: {{form.endsAt | amDateFormat : 'L'}}
						|                         
						p.right(translate="{{'TXT_DEADLINE_CALENDAR_DAYS_LEFT' | translate: form}}") 1 days left
					|                     
					div(date-picker="form.endsAt", max-view="date", min-view="date", template="/templates/components/datePicker.html?1312234239084")
				// /calendar
				.sign-in
					a.ng-scope(href="#", ng-click="save()", ng-disabled="topicVoteForm.$invalid", translate="BTN_CONFIRM_NEW_DEADLINE") BTN_CONFIRM_NEW_DEADLINE
	// /voting-options
