div(ng-controller="TopicCtrl")
	.create1-bg(ng-show="('topics.create1' | isState)")
		.enclose
			.step-two.right
			|                 
			.create-step1.clearfix
				.step-one.left
				|                 
				.create1-content.right
					h1(translate="EXPLANATION") Seletus
					|                     
					p(translate="EXPLANATION_CONTENT")
					|                         
					hr(style="color:#cecece; margin-top:30px;")
					|                     
					form
						.click-check
							input#check(type="checkbox", ng-checked="understandConditions", ng-click="checkConditionsRead()")
							|                             
							label(for="check")
								p(style="display:inline;", translate="I_HAVE_READ") I have read and agree with 
								a(href="#", ng-click="termsModal()", translate="TERMS_AND_CONDITIONS") the Terms & Conditions
							br
							|                             
							p.error.error_message(ng-show="!app.user.loggedIn", translate="LOGIN_TO_CREATE_TOPIC") Teema loomiseks peate sisse logima!
							|                             
							p.error.error_message(ng-show="notConfirmedRead", translate="CONFIRM_I_HAVE_READ") Teema loomiseks peate sisse logima!
						|                         
						.step1-butttons.clearfix
							a.yellow-button(href="#", ng-disabled="!app.user.loggedIn", ng-click="triggerStart('discussion')", translate="START_DISCUSSION") ALUSTA ARUTELU JA KOGU OMA IDEELE TEOTUST
							|                             
							a.green-button(href="#", ng-disabled="!app.user.loggedIn", ng-click="triggerStart('initiative')", translate="POST_INITIATIVE") POSTITA ALGATUS JA ALUSTA ALLKIRJADE KOGUMIST
	|     
	.create2-bg(ng-show="('topics.create2' | isState)")
		.enclose
			.create-step2.clearfix
				.step-two.left
				|                 
				.create2-content.left
					h1(translate="DEADLINE_TITLE") Valikud
					|                     
					div(ng-if="!topictype || topictype=='discussion'", translate="DEADLINE_EXPLANATION_DISCUSSION")
						p Siin tuleb inimesele selgitada, miks tähtaja valimine on hea ARUTELU juures.
					|                     
					div(ng-if="topictype=='initiative'", translate="DEADLINE_EXPLANATION_INITIATIVE")
						p Siin tuleb inimesele selgitada, miks tähtaja valimine on hea ARUTELU juures.
					|                     
					h3(ng-if="!topictype || topictype=='discussion'", translate="YOU_CAN_STILL_CHANGE_DEADLINE_DISCUSSION") You can still change the deadline you set for the discussion.
					|                     
					h3(ng-if="topictype=='initiative'", translate="YOU_CAN_STILL_CHANGE_DEADLINE_INITIATIVE") You can still change the deadline you set for the discussion.
					|                         
					.step2-buttton
						a.blue-button(href="", ng-click="createDeadlineEnd(topic.endsAt)", translate="CONTINUE_TO_ADD_COAUTHORS") CONTINUE TO ADD CO-AUTHORS
					|                     
					.step-back
						a(href="#", ui-sref="topics.create1", translate="BACK_TO_PREVIOUS_CHOICE")
					|                     
					p.error.error_message(ng-show="dateNotSet", translate="CHOOSE_DEADLINE_TO_CONTINUE") Teema loomiseks peate sisse logima!
				|                 
				.calendar-block
					.deadline-calendar.clearfix
						p.left
							span(translate="DEADLINE") Deadline
							| : {{topic.endsAt | amDateFormat : 'L'}}
						|                         
						p.right(translate="{{'TXT_DEADLINE_CALENDAR_DAYS_LEFT' | translate: topic}}") 23 days left
					|                     
					hr(style="margin-bottom:20px;")
					|                     
					.calendar-right.clearfix.hasDatepicker
						div(date-picker="topic.endsAt", max-view="date", min-view="date", template="/templates/components/datePickerTopic.html?1312234239084")
	|     
	div(ng-tabs="", ng-show="topicLoadSuccess && !isTopicLoading && !('topics.create2' | isState) && !('topics.create1' | isState)")
		div(ng-include=" 'templates/components/topicProgress.html' ")
		|         
		.enclose.clearfix
			ul.profile-tabs.left.adminrole-tabs.nav.nav-tabs
				li
					a(ng-tab-head="", href="", ng-class="{deactive: !('topics.view' | isState) && !('topics.create' | isState), active:('topics.view' | isState) || ('topics.create' | isState)}", ui-sref="topics.view({id:topic.id})", translate="HEADING_TAB_ORIGINAL") Original
				|                 
				li(ng-show="topic.vote.id && topic.status != 'followUp' || ('topics.view.vote.create' | isState) && topic.status != 'followUp'")
					a(ng-tab-head="", href="", ng-class="{deactive: !('topics.view.vote.view' | isState) && !('topics.view.vote.create' | isState), active:!('topics.view' | isState) && !('topics.create' | isState)}", ui-sref="topics.view.vote.view({id:topic.id, voteId:topic.vote.id})", translate="HEADING_TAB_VOTE") Signing
				|                 
				li(ng-show="topic.status=='followUp'")
					a(href="", ng-class="active", ui-sref="topics.view.vote.view({id:topic.id, voteId:topic.vote.id})", translate="HEADING_TAB_VOTE") Signing
				|                 
				li(ng-show="topic.status=='followUp'")
					a(ng-class="{active: ('topics.view.events' | isState)}", ui-sref="topics.view.events({id:topic.id})", translate="HEADING_TAB_EVENTS")
						| Events
		|     
		.admin-role-content
			.enclose
				.admin-role-box.clearfix
					.left.tab-content(style="overflow: hidden")
						.clearfix.c-by
							p.left
								span(translate="CREATED_BY") Created by
								|                             
								a(href="#") {{topic.creator.name}}
							|                         
							p.right {{topic.createdAt | amDateFormat : 'L'}}
						//
							FIXME: hidding the categories list until it is actually operational
							p class="in-cat"><span ng-repeat="category in topic.categories"><a href="#">{{'TXT_TOPIC_CATEGORY_' + category | uppercase | translate}}</a>,</span>
							</p
						.clearfix.args
							p.left
								a(href="#", ng-if="topic.status=='inProgress'", ng-click="goToComments()", translate="HEADING_ARGUMENTS", translate-values="{count: '{{topicComments.rows.length || 0}}'}") 5 arguments
								|                                 
								a(href="#", ng-if="topic.status!='inProgress'", ng-click="goToComments()", translate="HEADING_COMMENTS", translate-values="{count: '{{topicComments.rows.length || 0}}'}") 5 comments
							// <p class="right">3 social mentions #rahvaalgatus</p>
						|                     
						div(ui-view="")
						|                     
						#commentBlock.arg-social-tabs(ng-show="topic.id")
							ul.arg-tabs.clearfix.version2
								li
									a.active(ng-if="topic.status=='inProgress'", href="#argumentsv2", translate="ARGUMENTS") Arguments
									|                                     
									a.active(ng-if="topic.status!='inProgress' ", href="#argumentsv2", translate="COMMENT_HEADING") Comments
							|                             
							#argumentsv2.tab-content
								.clearfix.arg-header
									h2.left(ng-if="topic.status=='inProgress'", translate="ARGUMENTS") Arguments
									|                                 	
									h2.left(ng-if="topic.status!='inProgress'", translate="COMMENT_HEADING") Comments
									|                                     
									p.left(ng-if="topic.status=='inProgress'", translate="TXT_ARGUMENTS_PRO_CON", translate-values="{countPro: '{{topicComments.counts.pro}}', countCon: '{{topicComments.counts.con}}'}")
										span pro
										| : 3 
										span con
										| : 1
									|                                     
									a.right(ng-if="topic.status=='inProgress'", href="#", onclick="$(window).scrollTop( $('#new_comment_form').position().top );", ng-show="app.user.loggedIn", translate="POST_ARGUMENT") POST ARGUMENT
									|                                     
									a.right(ng-if="topic.status!='inProgress'", href="#", onclick="$(window).scrollTop( $('#new_comment_form').position().top );", ng-show="app.user.loggedIn", translate="POST_COMMENT") POST COMMENT
								|                                 
								.arg-comments
									ul
										li(ng-repeat="comment in topicComments.rows")
											div(ng-class="{'{{comment.type}}':topic.status=='inProgress', sign:topic.status !='inProgress'}")
												p.author
													| {{comment.creator.name}} | {{comment.createdAt | amDateFormat: 'LLL'}} {{comment.createdAt | amTimeAgo}}
												|                                             
												p.subject(ng-bind-html="comment.subject | linky")
												|                                             
												.desc
													.comment-content(ng-bind-html="comment.text | linky")
												|                                             
												p.meta
													span(ng-click="showReplyForm = !showReplyForm")
														a(href="#", translate="REPLY") Reply
														|   |
													|                                                 
													a(href="#")
														img(src="images/comment-like.png", alt="Image", ng-click="doCommentVote(comment.id, 1)")
													|   
													span {{comment.votes.up.count}}
													|    
													|                                                 
													a(href="#")
														img(src="images/comment-dislike.png", alt="Image", ng-click="doCommentVote(comment.id, -1)")
													|   
													span {{comment.votes.down.count}}
											|                                             
											ul
												li(ng-repeat="reply in comment.replies.rows")
													p.author {{reply.creator.name}} | {{reply.createdAt | amTimeAgo}}
													|                                                     
													p.subject(ng-bind-html="reply.subject | linky") Final pro argument coming from me!
													|                                                     
													.desc
														.comment-content(ng-bind-html="reply.text | linky")
													|                                                     
													p.meta
														a(href="#", ng-click="doCommentVoteReply(comment.id, reply.id, 1)")
															img(src="images/comment-like.png", alt="Image")
														|   
														span {{reply.votes.up.count}}
														|    
														|                                                         
														a(href="#", ng-click="doCommentVoteReply(comment.id, reply.id, -1)")
															img(src="images/comment-dislike.png", alt="Image")
														|   
														span {{reply.votes.down.count}}
											|                                             
											.arg-form(ng-show="showReplyForm")
												.overlay(ng-show="!app.user.loggedIn")
													h3(translate="TXT_TOPIC_COMMENT_LOG_IN_TO_PARTICIPATE") You need to log in to participate
												|                                                 
												form(name="topicCommentReplyForm", ng-controller="TopicCommentCreateFormCtrl")
													textarea(msd-elastic="", ng-model="form.text", placeholder="{{'PLACEHOLDER_ADD_YOUR_REPLY_TO_ARGUMENT' | translate: comment.creator}}", maxlength="{{maxLengthText}}", ng-disabled="!canComment()", required="")
													|                                                     
													.pull-left.character-count(translate="TXT_TOPIC_COMMENT_CHARACTERS_LEFT", translate-values="{count: charactersLeft}") 512 characters left
													|                                                     
													.clearfix
														button.right.reply-button(ng-click="submitReply(comment.id)", ng-disabled="topicCommentReplyForm.$invalid", translate="REPLY") REPLY
								|                                 
								#new_comment_form.arg-form(ng-show="app.user.loggedIn")
									form(name="topicCommentCreateForm", ng-controller="TopicCommentCreateFormCtrl")
										p
											input(type="text", ng-model="form.subject", placeholder="{{'PLACEHOLDER_ADD_ARGUMENT_SUBJECT' | translate}}", maxlength="{{maxLengthSubject}}", ng-disabled="!canComment()", required="")
										|                                         
										p
											textarea(msd-elastic="", ng-model="form.text", placeholder="{{'PLACEHOLDER_ADD_ARGUMENT_TEXT' | translate}}", maxlength="{{maxLengthText}}", ng-disabled="!canComment()", required="")
										|                                         
										.clearfix
											button.left(ng-if="topic.status=='inProgress'", ng-click="submitPro()", ng-disabled="topicCommentCreateForm.$invalid", translate="BTN_ADD_ARGUMENT_PRO") POST AS A PRO ARGUMENT
											|                                         	
											button.right(ng-if="topic.status=='inProgress'", ng-click="submitCon()", ng-disabled="topicCommentCreateForm.$invalid", translate="BTN_ADD_ARGUMENT_CON") POST AS A CON ARGUMENT
											|                                         	
											button.right.comment(ng-if="topic.status!='inProgress'", ng-click="submitCon()", ng-disabled="topicCommentCreateForm.$invalid", translate="POST_COMMENT") BTN_ADD_COMMENT
					// left end
					.right
						p.publish-topic
							a(href="#", ng-show="!isClosed() && isAdmin() && topic.visibility=='private'", ng-click="doSetVisibility('public')", translate="PUBLISH_TOPIC") PUBLISH TOPIC
							|                         
							a(href="#", ng-show="!isClosed() && isAdmin() && topic.visibility=='public'", ng-click="doSetVisibility('private')", translate="UNPUBLISH_TOPIC") UNPUBLISH TOPIC
						|                     
						p.collect-signatures.s
							a(href="#", ng-show="isAdmin() && !topic.vote.id", ui-sref="topics.view.vote.create({id: topic.id})", translate="BTN_SEND_TO_VOTE") COLLECT SIGNATURES
						|                     
						p.publish-topic(ng-show="(isAdmin()&& !isClosed() || canEdit() && !isClosed()) && canSendToFollowUp() && (vote && vote.options.rows[0].voteCount >= Config.VOTES_REQUIRED)")
							a(ng-click="confirmTopicFollowUp(topic)", translate="SEND_TO_PARLIAMENT", href="#") SEND TO PARLIAMENT
						|                     
						p.publish-topic(ng-show="isAdmin() && topic.status=='followUp'")
							a(ng-click="setTopicStatusToVoting(topic)", translate="BTN_SEND_BACK_TO_VOTE", href="#") SEND TO PARLIAMENT
						|                     
						.admin-role-options
							p.heading(translate="OPTIONS") OPTIONS
							|                         
							div
								ul(ng-show="isAdmin() && !isClosed()")
									li
										a(href="#", ng-show="canInvite() && !isShowInVotingNotification()", ng-dialog="/templates/modals/topicMembersInvite.html", ng-dialog-data="{{topic}}")
											span(translate="INVITE_PEOPLE") Invite people
									|                                 
									li
										a(href="#", ng-show="isShowInVotingNotification() && canInvite()", ng-dialog="/templates/modals/topicMembersInvite.html", ng-dialog-data="{{topic}}")
											span(translate="REMIND_PEOPLE_TO_SIGN") Remind people to sign
								|                             
								p.edit-topic.assign-category.clearfix(ng-show="isAdmin() || canEdit()")
									a(href="#", ng-show="isAdmin() || canEdit()", ng-click="showCategories = !showCategories", ng-class="{active:showCategories}")
										span(translate="ASSIGN_CATEGORIES") Assign categories 
								|                             
								#categories-list.assign-categories-list(ng-show="showCategories")
									ul.categories(ng-show="!isClosed()")
										li.clearfix(ng-repeat="(key, value) in CATEGORIES", ng-show="isCategorySelected(value)")
											a(ng-click="updateCategories(value)") {{'TXT_TOPIC_CATEGORY_' + value | uppercase | translate}}
									|                                 
									ul.hash-category(ng-show="!isClosed()")
										li.clearfix(ng-repeat="(key, value) in CATEGORIES", ng-show="!isCategorySelected(value)")
											a(href="#", ng-click="updateCategories(value)") {{'TXT_TOPIC_CATEGORY_' + value | uppercase | translate}}
								|                             
								ul(ng-show="isAdmin() && !isClosed()")
									// TODO
									li(ng-show="false")
										a.pop-hashatg(href="#", ng-click="setHashtag()", ng-show="isAdmin() || canEdit()", translate="SET_HASHTAG") Set hashtag
									// 
									li
										a(href="#", ng-show="isAdmin() && !isClosed()", ng-click="setTopicStatusToClosed(topic)", translate="CLOSE_TOPIC") Close topic
									|                                 
									li
										a(ng-show="!isClosed() && isAdmin()", href="#", ui-sref="topics.view.renewdeadline({id: topic.id})", translate="RENEW_DEADLINE") Delete topic
									|                                 
									li
										a(ng-show="isAdmin()", ng-click="doDelete()", href="#", translate="BTN_DELETE_TOPIC") Delete topic
									// TODO
									// <li><a href="#" ng-show="isAdmin() || canEdit()" ng-click="createNewVersion()" translate="CREATE_A_NEW_VERSION">Create a new version</a></li>
									// 
								|                             
								ul
									li
										a(style="width: 100%;", href="http://twitter.com/intent/tweet?status={{shortDescription}}+https://rahvaalgatus.ee/topics/{{topic.id}}", target="_blank")
											span(translate="SHARE_ON_TWITTER")
											.icon-twitter
									// <li><a href="#" ng-dialog="/templates/modals/topicUsersInvite.html" ng-dialog-data="{{topic}}" ><span translate="INVITE_BY_EMAIL">INVITE_BY_EMAIL</span></a></li>
							// TODO
							p.edit-topic(ng-show="false")
								a(href="#", translate="EDIT_TOPIC") Edit topic
							// 
						// TODO
						.admin-role-notes(ng-show="false")
							p.heading(translate="PERSONAL_NOTES") PERSONAL NOTES
							|                         
							ul
								li.link
									a(href="#", translate="ADD_PERSONAL_NOTES") Add personal note…
