div(ng-if="topicEvents.status=='loading'")
	| Loading topic events...
div(ng-if="topicEvents.status=='failed'")
	h3 Failed to load the events list :(
div(ng-if="topicEvents.status=='loaded'")
	div(ng-if="!topicEvents.current")
		h1 404 Not Found
		|     
		p
			| Sorry, but we could not find the event you're looking for
	|   
	.event(ng-if="topicEvents.current", ng-init="event=topicEvents.current")
		h2.separator
			.date {{event.createdAt | date : 'dd.MM.yyyy'}}
		|     
		h1(ng-bind-html="event.subject | linky")
		|     
		.comment-content(ng-bind-html="event.text | linky")
