.connections
	.column
		h2
			| FOLLOWING 
			sup 12
			|  
			a.search-trigger(href="")  
		|         
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") UNFOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
	// /column
	.column
		h2
			| FOLLOWERS 
			sup 8
			|  
			a.search-trigger(href="")  
		|         
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") FOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") FOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") FOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
		.person
			.image
				img(src="static/tmp/user.png")
			|             
			a.button.secondary(href="") FOLLOW
			|             
			.description
				b Kristian Lember
				|                 Design-UX OÜ | kristian@dux.ee
			// /description
		// /person
	// /column
// /connections
