// FIXME: padding inline style :(
.grid(style="padding-top: 1.88em", ng-controller="GroupCtrl")
	.entry.theme-21(ng-controller="GroupCreateFormCtrl")
		span.wrapper(ng-show="!showForm")
			.create(ng-click="doShowForm()", translate="BTN_CREATE_A_NEW_GROUP")
				| Create a new group.
			// /create
		|         
		form.wrapper(ng-show="showForm")
			a.close-btn(href="#", ng-click="doHideForm()")
			|             
			.label(ng-class="{error: errors.name}")
				input(type="text", ng-model="form.name", placeholder="{{'LBL_GROUP_NAME' | translate}}")
				|                 
				span.error_message(ng-show="errors.name")
					span(translate="{{errors.name}}")
			// /label
			.label
				button.button.secondary(ng-click="doShowPermissionsAddDialog()")
					span(translate="BTN_INVITE_MORE_USERS") INVITE MORE USERS
				|                 
				.info(translate="{{'TXT_N_USERS_WILL_BE_INVITED' | translate: users}}") 0 USERS WILL BE INVITED
			// /label
			.label
				button.button.secondary(ng-click="doShowTopicsAddDialog()")
					span(translate="BTN_ADD_MORE_TOPICS") ADD MORE TOPICS
				|                 
				.info(translate="{{'TXT_N_TOPICS_WILL_BE_ADDED' | translate: topics}}") 0 TOPICS WILL BE ADDED
			// /label
			.label.submit
				button.button(type="submit", ng-click="submit()", translate="BTN_CREATE_GROUP") CREATE THIS GROUP
			// /label
		// /wrapper
	// /entry
	.entry(ng-class="{'theme-21': showForm, 'theme-20 group': !showForm}", ng-repeat="group in groups", ng-controller="GroupEditFormCtrl", ng-init="init(group, doShowGroupEditView(group.id))")
		span.wrapper(ng-show="!showForm")
			span.title {{group.name}}
			|             
			a.settings(href="", ng-click="doShowForm()", ng-show="isAdmin()")
			|             
			.columns
				.column
					span(translate="LBL_USERS") USERS
					|                     
					a.big(href="", ng-dialog="/templates/modals/groupPermissionsView.html", ng-dialog-data="{{group}}") {{group.members.count}}
				// /entry
				.column
					span(translate="LBL_TOPICS") TOPICS
					|                     
					a.big(href="", ng-dialog="/templates/modals/groupTopicsView.html", ng-dialog-data="{{group}}") {{group.topics.count}}
				// /entry
			// /columns
			span.body(ng-show="group.topics.latest.title")
				span.small(translate="LBL_LATEST_ACTIVE_TOPIC") LATEST ACTIVE TOPIC
				| {{group.topics.latest.title}}
		|         
		form.wrapper(ng-show="showForm")
			a.close-btn(href="#", ng-click="doHideForm()")
			|             
			.label(ng-class="{error: errors.name}")
				input(type="text", placeholder="{{'LBL_GROUP_NAME' | translate}}", ng-model="form.name")
				|                 
				span.error_message(ng-show="errors.name")
					span(translate="{{errors.name}}")
			// /label
			.label
				button.button.secondary(ng-click="doShowPermissionsAddDialog()")
					span(translate="BTN_INVITE_MORE_USERS") INVITE MORE USERS
				|                 
				.info(translate="{{'TXT_N_USERS_WILL_BE_INVITED' | translate: users}}") 0 USERS WILL BE INVITED
			// /label
			.label
				button.button.secondary(ng-click="doShowTopicsAddDialog()")
					span(translate="BTN_ADD_MORE_TOPICS") ADD MORE TOPICS
				|                 
				.info(translate="{{'TXT_N_TOPICS_WILL_BE_ADDED' | translate: topics}}") 0 TOPICS WILL BE ADDED
			// /label
			.label.buttons
				button.button(ng-click="submit()", translate="BTN_SAVE") SAVE
				|                 
				button.button.btn-small.delete(ng-click="delete()")
// /grid
