div(ng-controller="HomeCtrl")
	.home-hero.clearfix
		.box.clearfix
			.right
				div
					h2(translate="HOME_WELCOME_TITLE")
					p(translate="HOME_WELCOME")

					#home-video
						a(href="#", ng-click="watchvideo()")
							span#home-video-icon
							span#home-video-text(translate="HOME_VIDEO_TEXT")

		.box.clearfix.bg
			.left
				ul.h-list
					li: a.active(href="/topics/new", translate="BTN_NEW_TOPIC")

	.article-bg
		.enclose
			.article-box(ng-if="!filters.statuses.value || filters.statuses.value == 'inProgress'", ng-show="discussiontopicList.length > 0")
				.clearfix
					.left
						h3(translate="DISCUSSIONS_LIST")

						.clearfix
							ul.article-pagi.clearfix(ng-show="rangediscussiontopicList.length > 1")
								li
									a.disable(ng-show="filters.discussion_offset==0")
										img(src="images/pagi-left.png", alt="Image")

									a(ng-show="filters.discussion_offset>0")
										img(src="images/pagi-left.png", alt="Image", ng-click="setPage('inProgress',(filters.discussion_offset/filters.limit)-1);")

								li
									a(ng-show="(filters.discussion_offset/filters.limit) > 1", ng-click="setPage('inProgress',0);") {{1}}

								li(ng-show="(filters.discussion_offset/filters.limit) > 2") ...

								li(data-ng-repeat="i in rangediscussiontopicList.slice(0,myCount) track by $index")
									a.disable(ng-show="((filters.discussion_offset/filters.limit)== $index  || (filters.discussion_offset/filters.limit)+1== $index || (filters.discussion_offset/filters.limit)-1== $index )", ng-if="((filters.discussion_offset/filters.limit)) == $index") {{$index+1}}

									a(ng-show="((filters.discussion_offset/filters.limit)== $index  || (filters.discussion_offset/filters.limit)+1== $index || (filters.discussion_offset/filters.limit)-1== $index)", ng-if="((filters.discussion_offset/filters.limit)) != $index", ng-click="setPage('inProgress',$index);") {{$index+1}}

								li(ng-show="(filters.discussion_offset/filters.limit) < (rangediscussiontopicList.length-3)") ...

								li
									a(ng-show="(filters.discussion_offset/filters.limit) < (rangediscussiontopicList.length-2)", ng-click="setPage('inProgress',rangediscussiontopicList.length-1);") {{rangediscussiontopicList.length}}

								li
									a(href="#", ng-show="((filters.discussion_offset/filters.limit)+1) != rangediscussiontopicList.length", ng-click="setPage('inProgress',(filters.discussion_offset/filters.limit)+1);")
										img(src="images/pagi-right.png", alt="Image")

									a.disable(href="#", ng-show="((filters.discussion_offset/filters.limit)+1) == rangediscussiontopicList.length")
										img(src="images/pagi-right.png", alt="Image")

					.right
						.clearfix.articles
							.in(ui-sref="topics.read({id: topic.id})", ng-repeat="topic in discussiontopicList")
								p.date(data-topic="{{topic}}") {{topic.createdAt | amDateFormat : 'L'}}

								p.link
									a(href="#") {{topic.title}}

								p.author {{topic.creator.name}}

								.bar
									p(ng-class="{progress:topic.endsAt !=null && ((topic.endsAt | amDifference : today : 'days' )>=0), finished:(topic.endsAt ==null || (parseDate(topics.endsAt) < Date.now()) || ((topic.endsAt | amDifference : today : 'days' )<0))}", ng-style="::getProgress(topic)")
									span(ng-if="topic.endsAt !=null && (parseDate(topic.endsAt) > Date.now())") {{'TXT_DEADLINE_CALENDAR_DAYS_LEFT' | translate: topic}}
									span.discussion-finished(ng-if="topic.endsAt == null || (parseDate(topic.endsAt) < Date.now())", translate="DISCUSSION_FINISHED")

			include ./initiatives/_initiatives
			include ./initiatives/_followups
			div(style="width:100%;height:10px;clear:both;position:relative;")

	include ./_initiative_height
