<div class="connections">
    <div class="column">
        <h2>FOLLOWING <sup>12</sup> <a href="" class="search-trigger">&nbsp;</a></h2>

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">UNFOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->


    </div>
    <!--/column-->
    <div class="column">
        <h2>FOLLOWERS <sup>8</sup> <a href="" class="search-trigger">&nbsp;</a></h2>

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">FOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">FOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->

        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">FOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->
        <div class="person">
            <div class="image"><img src="static/tmp/user.png"/></div>
            <a href="" class="button secondary">FOLLOW</a>

            <div class="description">
                <b>Kristian Lember</b>
                Design-UX OÜ | kristian@dux.ee
            </div>
            <!--/description-->
        </div>
        <!--/person-->


    </div>
    <!--/column-->
</div><!--/connections-->