<!-- new -->
<div ng-controller="TopicCtrl">
    <div class="create1-bg" ng-show="('topics.create1' | isState)">
        <div class="enclose">
                <div class="step-two right">
                </div>
                <div class="create-step1 clearfix">
                <div class="step-one left">
                </div>
                <div class="create1-content right">
                    <h1 translate="EXPLANATION">Seletus</h1>
                    <p translate="EXPLANATION_CONTENT"></p>

                        <hr style="color:#cecece; margin-top:30px;">
                    <form>
                        <div class="click-check">
                            <input type="checkbox" id="check" ng-checked="understandConditions" ng-click="checkConditionsRead()">
                            <label for="check"><p style="display:inline;" translate="I_HAVE_READ">I have read and agree with </p><a href="#" ng-click="termsModal()" translate="TERMS_AND_CONDITIONS">the Terms &amp; Conditions</a></label><br>
                            <p class="error error_message" ng-show="!app.user.loggedIn" translate="LOGIN_TO_CREATE_TOPIC">Teema loomiseks peate sisse logima!</p>
                            <p class="error error_message" ng-show="notConfirmedRead" translate="CONFIRM_I_HAVE_READ">Teema loomiseks peate sisse logima!</p>
                        </div>
                        <div class="step1-butttons clearfix">
                            <a class="yellow-button" href="#" ng-disabled="!app.user.loggedIn" ng-click="triggerStart('discussion')" translate="START_DISCUSSION">ALUSTA ARUTELU JA KOGU OMA IDEELE TEOTUST</a>
                            <a class="green-button" href="#" ng-disabled="!app.user.loggedIn" ng-click="triggerStart('initiative')" translate="POST_INITIATIVE">POSTITA ALGATUS JA ALUSTA ALLKIRJADE KOGUMIST</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="create2-bg" ng-show="('topics.create2' | isState)">
    	<div class="enclose">
        	<div class="create-step2 clearfix">
            	<div class="step-two left">
                </div>
                <div class="create2-content left">
                    <h1 translate="DEADLINE_TITLE">Valikud</h1>
                    <div ng-if="!topictype || topictype=='discussion'"  translate="DEADLINE_EXPLANATION_DISCUSSION"><p>Siin tuleb inimesele selgitada, miks tähtaja valimine on hea ARUTELU juures.</p></div>
                    <div ng-if="topictype=='initiative'" translate="DEADLINE_EXPLANATION_INITIATIVE"><p>Siin tuleb inimesele selgitada, miks tähtaja valimine on hea ARUTELU juures.</p></div>
                    <h3 ng-if="!topictype || topictype=='discussion'" translate="YOU_CAN_STILL_CHANGE_DEADLINE_DISCUSSION">You can still change the deadline you set for the discussion.</h3>
                    <h3 ng-if="topictype=='initiative'" translate="YOU_CAN_STILL_CHANGE_DEADLINE_INITIATIVE">You can still change the deadline you set for the discussion.</h3>
                        <div class="step2-buttton">
                        	<a class="blue-button" href="" ng-click="createDeadlineEnd(topic.endsAt)" translate="CONTINUE_TO_ADD_COAUTHORS">CONTINUE TO ADD CO-AUTHORS</a>
                        </div>
                    <div class="step-back">
                        <a href="#" ui-sref="topics.create1" translate="BACK_TO_PREVIOUS_CHOICE"></a>
                    </div>
                    <p class="error error_message" ng-show="dateNotSet" translate="CHOOSE_DEADLINE_TO_CONTINUE">Teema loomiseks peate sisse logima!</p>
                </div>
                <div class="calendar-block" >
                	<div class="deadline-calendar clearfix">
                            <p class="left"><span translate="DEADLINE">Deadline</span>: {{topic.endsAt | amDateFormat : 'L'}}</p>
                        <p class="right" translate="{{'TXT_DEADLINE_CALENDAR_DAYS_LEFT' | translate: topic}}">23 days left</p>
                    </div>
                    <hr style="margin-bottom:20px;">
                    <div class='calendar-right clearfix hasDatepicker'>
                        <div date-picker="topic.endsAt" max-view="date" min-view="date" template="/templates/components/datePickerTopic.html?1312234239084"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-tabs ng-show="topicLoadSuccess && !isTopicLoading && !('topics.create2' | isState) && !('topics.create1' | isState)">
	      <div ng-include=" 'templates/components/topicProgress.html' "></div>
        <div class="enclose clearfix">
            <ul class="profile-tabs left adminrole-tabs nav nav-tabs">
                <li><a ng-tab-head href="" ng-class="{deactive: !('topics.view' | isState) && !('topics.create' | isState), active:('topics.view' | isState) || ('topics.create' | isState)}" ui-sref="topics.view({id:topic.id})" translate="HEADING_TAB_ORIGINAL">Original</a></li>
                <li ng-show="topic.vote.id && topic.status != 'followUp' || ('topics.view.vote.create' | isState) && topic.status != 'followUp'"><a ng-tab-head href="" ng-class="{deactive: !('topics.view.vote.view' | isState) && !('topics.view.vote.create' | isState), active:!('topics.view' | isState) && !('topics.create' | isState)}" ui-sref="topics.view.vote.view({id:topic.id, voteId:topic.vote.id})" translate="HEADING_TAB_VOTE">Signing</a></li>
                <li ng-show="topic.status=='followUp'"><a href="" ng-class="active" ng-class="{deactive: !('topics.view.vote.view' | isState) && !('topics.view.vote.create' | isState) && !('topics.view.events.view' | isState)}" ui-sref="topics.view.vote.view({id:topic.id, voteId:topic.vote.id})" translate="HEADING_TAB_VOTE">Signing</a></li>
                <li ng-show="topic.status=='followUp'">
                   <a
                    ng-class="{active: ('topics.view.events' | isState)}"
                    ui-sref="topics.view.events({id:topic.id})"
                    translate="HEADING_TAB_EVENTS"
                  >
                    Events
                  </a>
                </li>
            </ul>
        </div>
    <div class="admin-role-content" >
    	<div class="enclose">
            <div class="admin-role-box clearfix">
                <div class="left tab-content" style="overflow: hidden">
                    <div class="clearfix c-by">
                        <p class="left"><span translate="CREATED_BY">Created by</span>
                            <a href="#" >{{topic.creator.name}}</a>
                        </p>
                        <p class="right">{{topic.createdAt | amDateFormat : 'L'}}</p>
                    </div>
                    <!--
                      FIXME: hidding the categories list until it is actually operational
                      p class="in-cat"><span ng-repeat="category in topic.categories"><a href="#">{{'TXT_TOPIC_CATEGORY_' + category | uppercase | translate}}</a>,</span>
                    </p -->
                    <div class="clearfix args">
                            <p class="left">
                                <a href="#" ng-if="topic.status=='inProgress'" ng-click='goToComments()' translate="HEADING_ARGUMENTS" translate-values="{count: '{{topicComments.rows.length || 0}}'}">5 arguments</a>
                                <a href="#" ng-if="topic.status!='inProgress'" ng-click='goToComments()' translate="HEADING_COMMENTS" translate-values="{count: '{{topicComments.rows.length || 0}}'}">5 comments</a>
                            </p>
                      <!--  <p class="right">3 social mentions #rahvaalgatus</p>-->
                    </div>
                    <div ui-view></div>

                    <div class="arg-social-tabs" ng-show="topic.id" id='commentBlock'>
                        	<ul class="arg-tabs clearfix version2">
                            	<li>
                                    <a ng-if="topic.status=='inProgress'" href="#argumentsv2" class="active" translate="ARGUMENTS">Arguments</a>
                                    <a ng-if="topic.status!='inProgress' "href="#argumentsv2" class="active" translate="COMMENT_HEADING">Comments</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="argumentsv2">
                            	<div class="clearfix arg-header">
                                	<h2 ng-if="topic.status=='inProgress'" class="left" translate="ARGUMENTS">Arguments</h2>
                                	<h2 ng-if="topic.status!='inProgress'"  class="left" translate="COMMENT_HEADING">Comments</h2>
                                    <p ng-if="topic.status=='inProgress'" class="left" translate="TXT_ARGUMENTS_PRO_CON" translate-values="{countPro: '{{topicComments.counts.pro}}', countCon: '{{topicComments.counts.con}}'}"><span>pro</span>: 3 <span>con</span>: 1</p>
                                    <a ng-if="topic.status=='inProgress'" href="#" onclick="$(window).scrollTop( $('#new_comment_form').position().top );" class="right" ng-show="app.user.loggedIn" translate="POST_ARGUMENT">POST ARGUMENT</a>
                                    <a ng-if="topic.status!='inProgress'" href="#" onclick="$(window).scrollTop( $('#new_comment_form').position().top );" class="right" ng-show="app.user.loggedIn" translate="POST_COMMENT">POST COMMENT</a>
                                </div>
                                <div class="arg-comments">
                                	<ul>
                                    	<li  ng-repeat="comment in topicComments.rows">
                                            <div ng-class="{'{{comment.type}}':topic.status=='inProgress', sign:topic.status !='inProgress'}">
                                        	<p class="author">{{comment.creator.name}} | {{comment.createdAt | amDateFormat: 'LLL'}} {{comment.createdAt | amTimeAgo}}</p>
                                            <p class="subject" ng-bind-html="comment.subject | linky"></p>
                                            <div class="desc"><div ng-bind-html="comment.text | linky" class="comment-content"></div></div>
                                            <p class="meta">
                                                <span ng-click="showReplyForm = !showReplyForm"><a href="#" translate="REPLY">Reply</a> &nbsp;|&nbsp; </span>
                                                <a href="#"><img src="images/comment-like.png" alt="Image" ng-click="doCommentVote(comment.id, 1)"></a>&nbsp;&nbsp;<span>{{comment.votes.up.count}}</span>&nbsp;&nbsp;&nbsp;
                                                <a href="#"><img src="images/comment-dislike.png" alt="Image" ng-click="doCommentVote(comment.id, -1)"></a>&nbsp;&nbsp;<span>{{comment.votes.down.count}}</span>
                                            </p>
                                            </div>
                                            <ul>
                                                <li ng-repeat="reply in comment.replies.rows">
                                                    <p class="author">{{reply.creator.name}} | {{reply.createdAt | amTimeAgo}}</p>
                                                    <p class="subject" ng-bind-html="reply.subject | linky">Final pro argument coming from me!</p>
                                                    <div class="desc"><div  ng-bind-html="reply.text | linky" class="comment-content"></div></div>
                                                    <p class="meta">
                                                        <a href="#" ng-click="doCommentVoteReply(comment.id, reply.id, 1)"><img src="images/comment-like.png" alt="Image"></a>&nbsp;&nbsp;<span>{{reply.votes.up.count}}</span>&nbsp;&nbsp;&nbsp;
                                                        <a href="#" ng-click="doCommentVoteReply(comment.id, reply.id, -1)"><img src="images/comment-dislike.png" alt="Image"></a>&nbsp;&nbsp;<span>{{reply.votes.down.count}}</span>
                                                    </p>
                                                </li>
                                            </ul>
                                            <div class="arg-form" ng-show="showReplyForm">
                                                <div class="overlay" ng-show="!app.user.loggedIn">
                                                    <h3 translate="TXT_TOPIC_COMMENT_LOG_IN_TO_PARTICIPATE">You need to log in to participate</h3>
                                                </div>
                                                <form name="topicCommentReplyForm" ng-controller="TopicCommentCreateFormCtrl">
                                                <textarea msd-elastic ng-model="form.text" placeholder="{{'PLACEHOLDER_ADD_YOUR_REPLY_TO_ARGUMENT' | translate: comment.creator}}" maxlength="{{maxLengthText}}"
                                                          ng-disabled="!canComment()"
                                                          required></textarea>

                                                    <div class="pull-left character-count" translate="TXT_TOPIC_COMMENT_CHARACTERS_LEFT" translate-values="{count: charactersLeft}">512 characters left</div>
                                                    <div class="clearfix">
                                                        <button ng-click="submitReply(comment.id)" ng-disabled="topicCommentReplyForm.$invalid" class="right reply-button" translate="REPLY">REPLY</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="new_comment_form" class="arg-form" ng-show="app.user.loggedIn">
                                	<form name="topicCommentCreateForm" ng-controller="TopicCommentCreateFormCtrl">
                                    	<p><input type="text" ng-model="form.subject" placeholder="{{'PLACEHOLDER_ADD_ARGUMENT_SUBJECT' | translate}}" maxlength="{{maxLengthSubject}}" ng-disabled="!canComment()" required /></p>
                                        <p><textarea msd-elastic ng-model="form.text" placeholder="{{'PLACEHOLDER_ADD_ARGUMENT_TEXT' | translate}}" maxlength="{{maxLengthText}}" ng-disabled="!canComment()"
                                          required></textarea></p>
                                        <div class="clearfix">
                                        	<button ng-if="topic.status=='inProgress'" class="left" ng-click="submitPro()" ng-disabled="topicCommentCreateForm.$invalid" translate="BTN_ADD_ARGUMENT_PRO">POST AS A PRO ARGUMENT</button>
                                        	<button ng-if="topic.status=='inProgress'" class="right" ng-click="submitCon()" ng-disabled="topicCommentCreateForm.$invalid" translate="BTN_ADD_ARGUMENT_CON">POST AS A CON ARGUMENT</button>
                                        	<button ng-if="topic.status!='inProgress'" class="right comment" ng-click="submitCon()" ng-disabled="topicCommentCreateForm.$invalid" translate="POST_COMMENT">BTN_ADD_COMMENT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
                <!--left end-->
                <div class="right">
                    <p class="publish-topic" >
                        <a href="#" ng-show="!isClosed() && isAdmin() && topic.visibility=='private'" ng-click="doSetVisibility('public')" translate="PUBLISH_TOPIC">PUBLISH TOPIC</a>
                        <a href="#" ng-show="!isClosed() && isAdmin() && topic.visibility=='public'" ng-click="doSetVisibility('private')" translate="UNPUBLISH_TOPIC">UNPUBLISH TOPIC</a>
                    </p>
                    <p class="collect-signatures s"><a href="#" ng-show="isAdmin() && !topic.vote.id" ui-sref="topics.view.vote.create({id: topic.id})" translate="BTN_SEND_TO_VOTE">COLLECT SIGNATURES</a></p>
                    <p class="publish-topic" ng-show="(isAdmin()&& !isClosed() || canEdit() && !isClosed()) && canSendToFollowUp() && (vote && vote.options.rows[0].voteCount >= Config.VOTES_REQUIRED)" ><a ng-click="confirmTopicFollowUp(topic)" translate="SEND_TO_PARLIAMENT"  href="#">SEND TO PARLIAMENT</a></p>
                    <p class="publish-topic" ng-show="isAdmin() && topic.status=='followUp'" ><a ng-click="setTopicStatusToVoting(topic)" translate="BTN_SEND_BACK_TO_VOTE"  href="#">SEND TO PARLIAMENT</a></p>
                    <div class="admin-role-options">
                    	<p class="heading" translate="OPTIONS">OPTIONS</p>
                        <div >
                            <ul ng-show="isAdmin() && !isClosed()">
                                <li><a href="#" ng-show="canInvite() && !isShowInVotingNotification()" ng-dialog="/templates/modals/topicMembersInvite.html" ng-dialog-data="{{topic}}"><span translate="INVITE_PEOPLE">Invite people</span></a></li>
                                <li><a href="#" ng-show="isShowInVotingNotification() && canInvite()" ng-dialog="/templates/modals/topicMembersInvite.html" ng-dialog-data="{{topic}}"><span translate="REMIND_PEOPLE_TO_SIGN">Remind people to sign</span></a></li>
                            </ul>
                            <p class="edit-topic assign-category clearfix" ng-show="isAdmin() || canEdit()">
                                <a href="#"  ng-show="isAdmin() || canEdit()" ng-click="showCategories = !showCategories" ng-class="{active:showCategories}"><span translate="ASSIGN_CATEGORIES">Assign categories </span></a></p>
                            <div id='categories-list' class="assign-categories-list" ng-show="showCategories">
                                <ul class="categories" ng-show='!isClosed()'>
                                    <li class="clearfix" ng-repeat="(key, value) in CATEGORIES" ng-show="isCategorySelected(value)"><a ng-click="updateCategories(value)">{{'TXT_TOPIC_CATEGORY_' + value | uppercase | translate}}</a></li>
                                </ul>
                                <ul class="hash-category" ng-show='!isClosed()'>
                                    <li class="clearfix" ng-repeat="(key, value) in CATEGORIES" ng-show="!isCategorySelected(value)"><a href="#" ng-click="updateCategories(value)" >{{'TXT_TOPIC_CATEGORY_' + value | uppercase | translate}}</a></li>
                                </ul>
                            </div>
                            <ul ng-show="isAdmin() && !isClosed()">
                                <!--TODO-->
                                <li ng-show="false"><a class="pop-hashatg" href="#" ng-click="setHashtag()" ng-show="isAdmin() || canEdit()" translate="SET_HASHTAG">Set hashtag</a></li>
                                <!---->
                                <li><a href="#" ng-show="isAdmin() && !isClosed()" ng-click="setTopicStatusToClosed(topic)" translate="CLOSE_TOPIC">Close topic</a></li>
                                <li><a ng-show="!isClosed() && isAdmin()" href="#" ui-sref="topics.view.renewdeadline({id: topic.id})" translate="RENEW_DEADLINE">Delete topic</a></li>
                                <li><a ng-show="isAdmin()" ng-click="doDelete()" href="#" translate="BTN_DELETE_TOPIC">Delete topic</a></li>
                                <!--TODO-->
                                <!--<li><a href="#" ng-show="isAdmin() || canEdit()" ng-click="createNewVersion()" translate="CREATE_A_NEW_VERSION">Create a new version</a></li>-->
                                <!---->
                            </ul>
                            <ul>
                                <div id="fb-root"></div>
                                <script>
                                window.fbAsyncInit = function() {
                                  FB.init({
                                    appId      : '139457666450574',
                                    xfbml      : true,
                                    version    : 'v2.5'
                                  });
                                };

                                (function(d, s, id){
                                   var js, fjs = d.getElementsByTagName(s)[0];
                                   if (d.getElementById(id)) {return;}
                                   js = d.createElement(s); js.id = id;
                                   js.src = "//connect.facebook.net/en_US/sdk.js";
                                   fjs.parentNode.insertBefore(js, fjs);
                                 }(document, 'script', 'facebook-jssdk'));
                              </script>
                              <style>
                                  .facebookButton{
                                      display:none;
                                  }
                                  .facebookShare{
                                      width:100%;
                                  }
                              </style>
                                <li><a facebook-feed-share class="facebookShare" data-url='https://rahvaalgatus.ee/topics/{{topic.id}}' data-title='{{topic.title}}' data-shares='shares' data-description="{{shortDescription}}" data-picture-url="https://dev.rahvaalgatus.ee/images/rahvaalagatus_logo_email.png" ><span translate="SHARE_ON_FACEBOOK"></span><div class="icon-facebook"></div></a></li>
                                <li><a style="width: 100%;" href="http://twitter.com/intent/tweet?status={{shortDescription}}+https://rahvaalgatus.ee/topics/{{topic.id}}" target="_blank"><span translate="SHARE_ON_TWITTER"></span><div class="icon-twitter"></div></a></li>
                                <!--<li><a href="#" ng-dialog="/templates/modals/topicUsersInvite.html" ng-dialog-data="{{topic}}" ><span translate="INVITE_BY_EMAIL">INVITE_BY_EMAIL</span></a></li>-->
                            </ul>
                        </div>
                        <!--TODO--><p class="edit-topic" ng-show="false"><a href="#" translate="EDIT_TOPIC">Edit topic</a></p><!---->
                    </div>
                    <!--TODO-->
                    <div class="admin-role-notes" ng-show="false">
                    	<p class="heading" translate="PERSONAL_NOTES">PERSONAL NOTES</p>
                        <ul>
                            <li class="link"><a href="#" translate="ADD_PERSONAL_NOTES">Add personal note…</a></li>
                        </ul>
                    </div>
                    <!---->
                </div>
                <!--right end-->
            </div>
        </div>
    </div>
    </div>
</div>
