<div class="home-hero clearfix">
    	<div class="box clearfix">
            <div class="right">
                <div >
            	<h2 translate="LINK_VOTING" style="width:400px;">Tere tulemast Rahvaalgatus!</h2>
                <p translate="INITIATIVE_CONTENT">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum turpis at leo placerat consectetur. Praesent fermentum, lacus at rhoncus efficitur, risus nulla tincidunt purus, eget ultricies odio odio id quam. Integer sem augue, elementum vitae aliquam vel.</p>
                </div>
            </div>
        </div>
    	<div class="box clearfix bg">
        	<div class="left">
            	<ul class="h-list">
                    <li><a href="#" class="active" ui-sref="topics.create1" ui-sref-opts="{reload: true}" translate="BTN_NEW_TOPIC" >LOO ISE ALGATUS VÕI ARUTELU</a></li>
                </ul>
            </div>
        </div>
</div><!--hero part end-->
<div ng-controller="HomeCtrl">
    <!--Discussions part-->
    <div class="article-bg">
    	<div class="enclose">
        	<!--articles-->
          <div ng-include=" 'templates/components/initiativesList.html' "></div>
            <!--articles end-->
        </div><!--enclose end-->
    </div><!--Discussions end-->

<script>
         var maxheight = 0;
        $(function(){

            $(".article-box .right .in .link").each(function(){
                if($(this).height()>maxheight){
                    maxheight =$(this).height();
                    $(".article-box .right .in .link").css("height",maxheight);
                }
            });
        });
    </script>
</div>
