RewriteEngine On

<FilesMatch "\.(html|js|css|eot|woff|woff2|ttf|svg)$">
Header set Cache-Control "max-age=0, public, must-revalidate"
</FilesMatch>

# Editor's CSS and its fonts are referenced by CitizenOS's <iframe>.
<FilesMatch "editor\.css|\.eot$|\.woff$|\.woff2$|\.ttf|\.svg$">
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "GET, OPTIONS"
</FilesMatch>

<IfModule mod_deflate.c>
Header edit ETag "^\"(.+)-gzip\"$" "\"$1\"" "expr=resp('Content-Encoding') == 'gzip'"

# Compress HTML, CSS, JavaScript, Text, XML and fonts
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE font/opentype
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
</IfModule>

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^rahvaalgatus\.ee$ [nocase,ornext]
RewriteCond %{HTTP_HOST} ^www\.rahvaalgatus\.ee$ [nocase]
RewriteRule ^ https://rahvaalgatus.ee%{REQUEST_URI} [qsappend,last,redirect=301]

# The editorless.css file is included by CitizenOS's Etherpad frame.
RewriteRule ^css/editorless\.css$ /stylesheets/editor.css [last]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [last]
