extends ../layout
include ../_mixins

block prepend subpage
	section#initiative-comment.primary-section: center
		include /_flash.jade

		h2= t("COMMENT_HEADING")
		article.comment: +comment(comment, editedComment)

	section.secondary-section: center
		+initiative-subscribe(initiative)
