extends ../layout
include ../_mixins

block append options
	- var subpage = "vote"

block append head
	script(src="/assets/html5.js")

block prepend tab
	section#initiative-signature.text-section.primary-section: center
		if error
			p.flash.error= error
		else
			case method
				when "mobile-id"
					p
						strong= t("CONTROL_CODE", {code: code})
						br
						= t("MAKE_SURE_CONTROL_CODE")
				
					:javascript
						fetch("#{poll}", {
							redirect: "manual",
							credentials: "same-origin"
						}).then(function(res) {
							if (res.status >= 302 && res.status <= 303)
								window.location.assign(res.headers.get("location"))
							else
								// WhatWG-Fetch polyfill lacks res.url.
								window.location.assign("#{poll}")
						})
