extends ../layout
include ../_mixins

block prepend tab
	section#initiative-signature.white-section: center
		include /_flash.jade

		+header(initiative)
			h1= initiative.title

		if error
			p= error
		else
			p= t("THANKS_FOR_SIGNING")

			//-p(translate="SUPPORT_US_CONTENT")
			//-include ../_donation_form
