<div class="confirmation">
    <div class="inline">
        <h2 translate="HEADING_ARE_YOU_SURE">Are you sure you want to continue?</h2>

        <p translate="TXT_NO_UNDO">Please keep in mind you cannot undo this action.</p>
        <ul>
            <li translate="TXT_GROUP_WILL_BE_DELETED">The group will be deleted.</li>
            <li translate="TXT_GROUP_MEMBERS_LOSE_ACCESS_TO_TOPICS">All members of the group lose access to topics related to this group.</li>
        </ul>
        <div class="buttons">
            <button class="button highlight-5" ng-click="closeThisDialog()" translate="BTN_NO_KEEP_GROUP">NO, KEEP THIS GROUP</button>
            <button class="button highlight-4" ng-click="confirm()" translate="BTN_NO_DELETE_GROUP">YES, DELETE THIS GROUP</button>
        </div>
        <!--/buttons-->
    </div>
    <!--/inline-->
</div>