<div id="popup" class="ngdialog-overlay">
    <div class="inline" style="width:500px;">
        <div class="buttons">
            <div class="btn-close" ng-click="closeThisDialog()">&nbsp;</div>
        </div>
        <!--/buttons-->
        <div class="scroller">

            <div class="form">
                <form name="passwordResetForm" ng-controller="PasswordResetFormCtrl">
                    <h2 translate="HEADING_RESET_YOUR_ACCOUNT_PASSWORD">Reset your account password</h2>

                    <p>
                        <span translate="LBL_EMAIL">E-mail</span>: <strong>{{passwordResetEmail}}</strong>
                    </p>

                    <div class="label" ng-class="{error: errors.password}">
                        <div class="title" translate="LBL_PASSWORD">Password</div>
                        <div class="element">
                            <input type="password" placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}" ng-model="form.password"/>

                            <div class="error_message" ng-show="errors.password" translate="{{errors.password}}"></div>
                        </div>
                        <!--/element-->
                    </div>
                    <div class="label" ng-class="{error: errors.passwordRepeat}">
                        <div class="title"><span translate="LBL_PASSWORD_REPEAT">Repeat password</span> *</div>
                        <div class="element">
                            <input type="password" placeholder="{{'PLACEHOLDER_PASSWORD_REPEAT' | translate}}" ng-model="form.passwordRepeat" required/>

                            <div class="error_message" ng-show="errors.passwordRepeat" translate="{{errors.passwordRepeat}}"></div>
                        </div>
                        <!--/element-->
                    </div>
                    <!--/label-->
                    <div class="label">
                        <div class="title">&nbsp;</div>
                        <div class="element">
                            <button type="submit" class="button secondary"
                                    ng-click="submit()"
                                    ng-disabled="passwordResetForm.$invalid" translate="BTN_RESET_PASSWORD">RESET YOUR PASSWORD
                            </button>
                        </div>
                        <!--/element-->
                    </div>
                    <!--/label-->
                </form>
                <!--/form-->
            </div>

        </div>
        <!--/scroller-->
    </div>
</div>
<script type="text/javascript">

</script>
