<div id="popup" class="ngdialog-overlay" >    
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="invitepop" aria-labelledby="ui-id-40" style="position: absolute; height: auto; width: 680px; top: 50px; left: 612px;">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
        <span id="ui-id-40" class="ui-dialog-title" translate="HEADING_ARE_YOU_SURE">Are you sure you want to continue?</span>
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close" ng-click="closeThisDialog()">
            <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
            <span class="ui-button-text" translate="CLOSE">Close</span>
        </button>
    </div>
    <div id="invitepop" class="invits ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: auto;">
        <div class="confirmation">
            <div class="sign-type clearfix">
            <p><strong translate="HEADING_ARE_YOU_SURE">Are you sure you want to continue?</strong></p> <br>
            </div>
            <div class="sign-inner">
                <strong translate="TXT_NO_UNDO">Please keep in mind you cannot undo this action.</strong>
                <p translate="TXT_TOPIC_BECOMES_UNEDITABLE">The topic is finalized and you cannot edit it's contents.</p>
                <p translate="TXT_VOTING_ENDS">Voting ends and further voting is not possible.</p>
                <div class="buttons">
                    <button class="button deletetopic" style="width:50%; float:left;" ng-click="closeThisDialog()" translate="BTN_NO_CHANGE_TO_FOLLOWUP">NO, DON'T CHANGE STATUS</button>
                    <button class="button deletetopic" style="width:50%;" ng-click="confirm()" translate="BTN_YES_CHANGE_TO_FOLLOWUP">YES, CHANGE THE STATUS</button>
                </div>
                <!--/buttons-->
            </div>
            <!--/inline-->
        </div>
    </div>
</div>
<script type="text/javascript">
    // Not the most elegant solution, find a better one.
    setTimeout(function () {
        $('.pp-layer').show();
    }, 100);
</script>
