extends ../layout

block options
	- var title = t("SUPPORT_US_TITLE")
	- var page = "donate"

block body
	section#about.white-section.text-section: center
		h1= t("SUPPORT_US_TITLE")
		p= t("SUPPORT_US_CONTENT")
