extends ../layout
include ./_donate_form

block options
	- var title = t("SUPPORT_US_TITLE")
	- var page = "donate"

block body
	section.primary-section
		center.text-section!= t("SUPPORT_US_CONTENT")
		center: +donate-form(reference, amount)

	section.secondary-section.text-section: center
		p!= t("SUPPORTERS")
