extends ../layout

block options
	- var title = t("SUPPORT_US_TITLE")
	- var page = "donated"

block body
	section.primary-section.text-section: center
		h1= t("SUPPORT_US_TITLE")
		p Täname toetuse eest!
