extends ../layout

block options
	- var title = "Riiklikult lahendatavad ettepanekud"
	- var page = "effective-ideas-for-gov"

block body
	section#about.primary-section.text-section: center
		<h1 id="toc_0">Riiklikult lahendatavad ettepanekud</h1>

		<p>Uue eakuse rahvakogule laekus ideekorje käigus üle 80 idee tuleviku eakapõlve kujundamiseks. Vastavalt <a href="https://uuseakus.rahvaalgatus.ee/about">rahvakogu eesmärgile</a> arutati <a href="http://help.rahvaalgatus.ee/abi/teemaseminaride-kirjeldus">17. ja 18. mail toimunud teemaseminaridel</a> nende ettepanekute üle, mis on riiklikult lahendatavad. Teemaseminaridel arutatud 29 ettepanekust hääletati edasiarendamisele 26 ettepanekut. </p>

		<p>Allpool ongi koondülevaade neist 26 ettepanekust, mis saavad lähiajal kollektiivse pöördumisena vormistatud ja hakkavad toetusallkirju koguma. Pöördumised koostavad üldjuhul ettepanekute autorid ise, Koostöö Kogu pakub selleks nõu ja tehnilist tuge. </p>

		<ul>
		<li><a href="#kindlustatus">Kindlustatus</a></li>
		<li><a href="#eneseteostus">Eneseteostus</a></li>
		<li><a href="#tervis">Tervis</a></li>
		<li><a href="#kohanemine">Kohanemine</a></li>
		</ul>

		<h1 id="kindlustatus">Kindlustatus</h1>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/c3b2c37c-55ae-4375-bf23-fdd712d503b1">Seadustada vanemate tegevus lapselaste hoidmisel</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/90806467-1a48-427b-a558-50cb816f8530">Teenusmajade süsteem</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/f3dca8aa-9c00-41b9-875e-3acef45c20e2">II samba väljamaksete alguseks võiks saada valida pensionilemineku aja</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/3564141b-3657-4fc8-b0e1-4b338e1698d6">Vajaduspõhine pension</a> (Ei läbinud hääletust)</li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/041c609d-6548-4993-a012-810b89c25b8c">Sissetulekult makstavad maksud peaks maksma töövõtja, mitte -andja</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/920b3859-d32a-40ae-8105-7163d2777cae">Riikliku miinimumpensioni määramine ning II samba väljamaksete piirangute kaotamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/a1790b3d-5110-49cf-833a-8115a41a5d6f">Sotsiaalmaksu arvestusel asendada kuupõhine arvestus tunnipõhise arvestusega</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/ce965c51-daec-468c-8284-fe33e707af04">Tööandja sotsiaalmaksu vabastus osalise koormusega töötava pensionäri tööle võtmisel</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/4dd73a55-8c43-4d82-bafe-1fed5f30537e">Vanemaealiste maksusoodustused</a> (Ei läbinud hääletust)</li>
		</ul>

		<h1 id="eneseteostus">Eneseteostus</h1>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/58bd1b46-abef-44c0-b43b-3e46b290de54">Võimaldada töötutel töötada käsunduslepingu alusel või osaajaga</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/9d3d49b7-3b29-4f1c-9593-3ac755aa42ff">Avatud ülikoolis tasuta õppimiseks võiks olla pikem nominaalaeg</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/702b45ec-b36f-4105-8578-2ff936780e0f">Tulumaksusoodustus oma vanemate koolituskuludele</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/b47faf06-c763-4f3c-93a4-02c969496d89">Jagatud töökohad</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/533d67e3-fae6-4603-88fc-4ef3e2a0021e">Töötuskindlustushüvitise maksmine omal soovil lahkujatele</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/41798cc7-3594-4090-a9f1-52a28da9cd98">Vanemaealiste start-upide riiklik toetamine</a> (Ei läbinud hääletust)</li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/56d3ba7d-570e-4f7b-aedd-0f42c7daa0fd">Riiklikku programmi „Säästlik Eesti“ lisada ka tööjõuressursside, sh eriti inimliku kogemuse kui ressursi säästliku ja otstarbeka kasutamise nõue</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/26ef2413-ef56-49c1-889c-4f7c86460ee6">Inimeseõpetus kohustuslikuks ärikoolides ja kõrgkoolide juhtimiserialadel</a></li>
		</ul>

		<h1 id="tervis">Tervis</h1>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/c69ba46f-12ae-4d07-8555-8b673c920145">Luua geriaatria väljaõpe</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/6c353b46-4aea-48a0-8ca4-c8636e8948bd">Tervisliku vananemise edendamine füüsilise aktiivsusega</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/c99cde6f-7ac9-441b-877a-2aa312b36212">Vabatahtlike suurem kaasamine tervishoiusektoris</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/38d26a15-e8db-42ec-933c-a0399aa88671">Hoolduskassa loomine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/6ec97e6e-e785-4bbd-a51a-a865e0ac5388">Vanemaealiste vabatahtliku töö/tegevuse soodustamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/cfa634c4-9139-498b-b8d0-003c47405791">Liikumispuudega inimestele paremate liikumisvõimaluste tagamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/a11b619c-55e6-48fb-b64b-52e9770713d0">Toiduainete maksuerisused</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/c0c00606-35a9-41ce-a63f-121d9211ab9c">Omastehooldajatele palk</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/396f0f95-e5ca-41ca-af33-460963ce6ba3">Avaliku ruumi kujundamine vanemaealistesõbralikuks</a></li>
		</ul>

		<h1 id="kohanemine">Kohanemine</h1>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/1b7617be-1069-40ba-8692-d33019f151f3">Seeniortöö professiooni loomine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/db0212bd-300e-4a87-82bf-d620c7130076">Ühiskodude ehitusprojektides kogukonnatöö ruumide nõue</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/21ccf9c5-43b6-40ec-8863-3852429d8fc7">Kohustuslik koolitus inimestele, kes on saanud 60-aastaseks</a></li>
		</ul>

		<hr>

		<p><big>Vaata ka <a href="/effective-ideas">kõiki uue eakuse rahvakogule esitatud ideid</a></big>.</p>

