extends ../layout

block options
	- var title = "Esitatud ideede mõjuhinnangud"
	- var page = "effective-ideas"

block body
	section#about.primary-section.text-section: center
		<h1 id="toc_0">Esitatud ideede mõjude hindamine</h1>

		<p>Uue eakuse rahvakogule laekus kolme nädalaga ligikaudu 80 ideed tuleviku eakapõlve kujundamiseks. <a href="http://help.rahvaalgatus.ee/abi/juhised-ideekorjes-osalemiseks">Rahvakogu kriteeriumidele</a> vastas neist enamus. Pärast sarnase sisuga ideede kokkupanemist hindasid oma ala asjatundjad 60 ettepanekut. Ideede analüüsimisel selgus, et vaid osa ettepanekuist on <a href="/effective-ideas/govermental">riiklikult lahendatavad</a> või korraldatavad, see tähendab põhimõttelise muudatusena või seadusandluse tasandil. Samas suur osa ideedest on seotud omavalitsuse, kogukondliku või indiviidi tasandiga või hoopis eri sektorite koostöö taga kinni. Seetõttu on mõjuhinnangud grupeeritud võimaliku lahendamise viisi või tasandi kaupa.</p>

		<p>Allpool on ülevaade kõigist hinnatud ettepanekutest rahvakogu nelja teemaploki kaupa. Rahvakogu järgmisse etappi - teemaseminaridel arutamisele - liiguvad edasi <a href="/effective-ideas/govermental">riiklikult lahendatavad ideed</a>.</p>

		<ul>
		<li><a href="#kindlustatus">Kindlustatus</a></li>
		<li><a href="#eneseteostus">Eneseteostus</a></li>
		<li><a href="#tervis">Tervis</a></li>
		<li><a href="#kohanemine">Kohanemine</a></li>
		</ul>

		<h1 id="kindlustatus">Kindlustatus</h1>

		<h2 id="toc_2">Riiklikult lahendatav  (põhimõtteline ja/või seadusandlik muudatus)</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/c3b2c37c-55ae-4375-bf23-fdd712d503b1">Seadustada vanemate tegevus lapselaste hoidmisel</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/90806467-1a48-427b-a558-50cb816f8530">Teenusmajade süsteem</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/f3dca8aa-9c00-41b9-875e-3acef45c20e2">II samba väljamaksete alguseks võiks saada valida pensionilemineku aja</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/3564141b-3657-4fc8-b0e1-4b338e1698d6">Vajaduspõhine pension</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/041c609d-6548-4993-a012-810b89c25b8c">Sissetulekult makstavad maksud peaks maksma töövõtja, mitte -andja</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/920b3859-d32a-40ae-8105-7163d2777cae">Riikliku miinimumpensioni määramine ning II samba väljamaksete piirangute kaotamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/a1790b3d-5110-49cf-833a-8115a41a5d6f">Sotsiaalmaksu arvestusel asendada kuupõhine arvestus tunnipõhise arvestusega</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/ce965c51-daec-468c-8284-fe33e707af04">Tööandja sotsiaalmaksu vabastus osalise koormusega töötava pensionäri tööle võtmisel</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/4dd73a55-8c43-4d82-bafe-1fed5f30537e">Vanemaealiste maksusoodustused</a></li>
		</ul>

		<h2 id="toc_3">Lahendatav isiku või tööandja vm organisatsiooni tasemel</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/9ba94dfa-739e-4622-9658-c4c3790c50b7">Palgatõusu sidumine III sambasse maksmisega</a> </li>
		</ul>

		<h2 id="toc_4">Ideed ei ole mõistlik Eestis rakendada</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/71f2b78f-cc1f-45ab-b310-70b666efa843">Pensionivõlakirjad</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/a37aa48a-adfc-466a-a531-3c9de929fb1d">Isikustatud töötuskindlustus</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/fe7f12ae-2c33-448f-a0e7-e81520f28848">Solidaarsest pensionisüsteemist loobumine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/836641a0-b423-4597-a766-8e5c374c754c">Kohene pensionite tõus</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/75a0d426-fb72-4553-bd0a-534db8f2ac76">Pensionite tulumaksuvabastus</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/02b564be-0c68-4015-82c0-7e1348a515bc">Personaalne pensionikonto</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/41efcdfb-a134-431b-a00a-c3105e82ea20">Pensionifondi automaatne vahetus 5 aastat enne vanaduspensioniiga</a></li>
		</ul>

		<h2 id="toc_5">Vajab oluliselt täpsemat mõjuanalüüsi</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/2b51a497-c544-4b44-a8f8-127a1f278a65">Kodanikupalk</a></li>
		</ul>

		<h2 id="toc_6">Lahendus on juba olemas</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/6954d14d-697f-4caa-bb65-8b00c50eadce">Tööandja pensioni loomine</a></li>
		</ul>

		<h2 id="toc_7">Idee polnud piisavalt selgelt vormistatud või nõrgalt seotud uue eakuse rahvakoguga</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/2caa9bd1-14dd-4a16-9bc8-0228edc91441">Väike-ettevõtete täiendavad soodustused</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/ba7b37cd-a5c8-4950-8265-122b74de2abd/comments/21c18529-c05c-4409-a3f3-2cfba9938238">II sambast loobumine</a></li>
		</ul>

		<h1 id="eneseteostus">Eneseteostus</h1>

		<h2 id="toc_9">Riiklikult lahendatav (põhimõtteline ja/või seadusandlik muudatus)</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/58bd1b46-abef-44c0-b43b-3e46b290de54">Võimaldada töötutel töötada käsunduslepingu alusel või osaajaga</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/9d3d49b7-3b29-4f1c-9593-3ac755aa42ff">Avatud ülikoolis tasuta õppimiseks võiks olla pikem nominaalaeg</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/702b45ec-b36f-4105-8578-2ff936780e0f">Tulumaksusoodustus oma vanemate koolituskuludele</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/b47faf06-c763-4f3c-93a4-02c969496d89">Jagatud töökohad</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/533d67e3-fae6-4603-88fc-4ef3e2a0021e">Töötuskindlustushüvitise maksmine omal soovil lahkujatele</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/41798cc7-3594-4090-a9f1-52a28da9cd98">Vanemaealiste start-upide riiklik toetamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/56d3ba7d-570e-4f7b-aedd-0f42c7daa0fd">Riiklikku programmi „Säästlik Eesti“ lisada ka tööjõuressursside, sh eriti inimliku kogemuse kui ressursi säästliku ja otstarbeka kasutamise nõue</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/26ef2413-ef56-49c1-889c-4f7c86460ee6">Inimeseõpetus kohustuslikuks ärikoolides ja kõrgkoolide juhtimiserialadel</a></li>
		</ul>

		<h2 id="toc_10">Omavalitsuse ja/või kogukonna ellurakendatav idee</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/df3074ee-6def-42d2-a523-6fb9703df4a9">Multivanuselise kogukonnakeskuste arendamine, näiteks raamatukogude baasil</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/115f65c5-306b-4069-b5d0-9ea66a91e94f">Edendada täiskasvanute võimlemist</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/be90a991-d3d0-4050-9609-383a2a1889cf">Soodustada võiks eakate klaveriõpet (juba keskealiste) või mõnd muud sarnast kahe käega mängimise pilli</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/6bc1c08c-5fcb-4297-b8db-dd776b159654">Vanemaealiste ja laste koostegevuste soodustamine</a></li>
		</ul>

		<h2 id="toc_11">Lahendatav isiku, tööandja või organisatsiooni tasemel</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/b8a8f16f-ef2c-477c-bd64-80e28cedef88">Vanemaealiste kaasamine digiteerimisse</a></li>
		</ul>

		<h2 id="toc_12">Ideed ei ole mõistlik Eestis rakendada</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/6723e81e-9c11-49ad-9ef9-23e247622fb6">Muuta avalikus sektoris normiks vanuseline mitmekesisus</a></li>
		</ul>

		<h2 id="toc_13">Lahendus on juba olemas</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/9de9e653-f72a-45ae-b445-51ea0ed21cc1">Töötukassa suurem roll inimestele sobivate eneseteostusvõimaluste leidmisel</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/a3827910-0885-437f-ae36-7e161c884def">Ettevõtjatel võimalik saada tööotsijana/töötuna teenuseid</a></li>
		</ul>

		<h2 id="toc_14">Idee oli ebaselgelt vormistatud või nõrgalt seotud uue eakuse rahvakoguga</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/58c8c6ab-1cd0-442b-9866-7b469fd6f2bd/comments/94dcadbe-52eb-4c38-a18f-e0db51ee0c64">Vanusjuhtimise põhimõtete rakendamise soodustamine organisatsioonides.</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/58c8c6ab-1cd0-442b-9866-7b469fd6f2bd/comments/14ec898f-e124-44b9-bf2e-ab0d36ca960c">Avalik sektor saab näidata eeskuju eakate kogemuste arvestamisel</a></li>
		</ul>

		<h1 id="tervis">Tervis</h1>

		<h2 id="toc_16">Riiklikult lahendatav (põhimõtteline ja/või seadusandlik muudatus)</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/c69ba46f-12ae-4d07-8555-8b673c920145">Luua geriaatria väljaõpe</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/6c353b46-4aea-48a0-8ca4-c8636e8948bd">Tervisliku vananemise edendamine füüsilise aktiivsusega</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/c99cde6f-7ac9-441b-877a-2aa312b36212">Vabatahtlike suurem kaasamine tervishoiusektoris</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/38d26a15-e8db-42ec-933c-a0399aa88671">Hoolduskassa loomine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/6ec97e6e-e785-4bbd-a51a-a865e0ac5388">Vanemaealiste vabatahtliku töö/tegevuse soodustamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/cfa634c4-9139-498b-b8d0-003c47405791">Liikumispuudega inimestele paremate liikumisvõimaluste tagamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/a11b619c-55e6-48fb-b64b-52e9770713d0">Toiduainete maksuerisused</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/c0c00606-35a9-41ce-a63f-121d9211ab9c">Omastehooldajatele palk</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/396f0f95-e5ca-41ca-af33-460963ce6ba3">Avaliku ruumi kujundamine vanemaealistesõbralikuks</a></li>
		</ul>

		<h2 id="toc_17">Omavalitsuse ja/või kogukonna ellurakendatav idee</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/515590b1-1026-4450-8157-79f3e0020ee0">Jalgrattarajad linnadesse ja asulatesse</a> </li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/37d57367-22d6-40e4-88c0-0ece1ba29fbe">Omavalitsuse spordihoonete/ujulate kasutamise doteerimine</a> </li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/b7c604a5-73a4-41b0-91ba-1c814cc960b6">Kogukonna aiandite arendamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/b1393e3a-ec1a-4348-b5b7-411e3d8c3224">Rahvaliikumine <q>Kilomeeter, tere ja vesi</q></a></li>
		</ul>

		<h2 id="toc_18">Lahendatav isiku, tööandja või organisatsiooni tasemel</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/b620863d-0aac-4ff7-81c2-c0ea6906818d">Haigusteadlikkuse tõstmine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/f56eb7cf-a4c0-4e21-bf39-b16765625d9d">Töövõimetust põhjustavate terviseprobleemide (lihas-liigeshaigused, kardiovaskulaarhaigused, depressioon) tõhusam ravi</a></li>
		</ul>

		<h2 id="toc_19">Ideed ei ole mõistlik Eestis rakendada</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/65014dcd-bc7d-45cc-8943-c50fc1febdf5">Sotsiaalmaksumäära sidumine tervisekäitumisega</a></li>
		</ul>

		<h2 id="toc_20">Vajab oluliselt täpsemat mõjuanalüüsi</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/0dfd980e-f747-4ada-8c85-4786ee5fc1b0">Neljapäevane töönädal</a></li>
		</ul>

		<h2 id="toc_21">Lahendus on juba olemas</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/e95658de-274a-4203-8ff2-9b1e813133a9">Hammaste tervise parandamine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/de1d0c99-2bd7-483a-a4b4-3e4c8fdcce28">Tervislikku elustiili toetavad meetmed</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/982d08b9-b46d-4b19-a455-3b9115e61268">Tervisekeskuste soodsamad hinnad perearsti saatekirjaga</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/b132931b-55ec-49e4-b649-01f0cf7c5cdc">Riiklikud soodustused/nõuded tervisehädade ennetamiseks</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/ea6cd3e2-69a6-4d02-9320-7425def1dac8">Riiklikult muuta nõudeid, et vähendada sundasendis töötamist</a></li>
		</ul>

		<h2 id="toc_22">Idee oli ebaselgelt vormistatud või nõrgalt seotud uue eakuse rahvakoguga</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/a9498f52-5879-40f1-8dc2-2ddb206f4bf3/comments/a658b86c-8dad-4c24-a4c1-f6cf63901a16#comment-a658b86c-8dad-4c24-a4c1-f6cf63901a16-reply">Tervislikkus</a></li>
		</ul>

		<h1 id="kohanemine">Kohanemine</h1>

		<h2 id="toc_24">Riiklikult lahendatav (põhimõtteline ja/või seadusandlik muudatus)</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/1b7617be-1069-40ba-8692-d33019f151f3">Seeniortöö professiooni loomine</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/db0212bd-300e-4a87-82bf-d620c7130076">Ühiskodude ehitusprojektides kogukonnatöö ruumide nõue</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/21ccf9c5-43b6-40ec-8863-3852429d8fc7">Kohustuslik koolitus inimestele, kes on saanud 60-aastaseks</a></li>
		</ul>

		<h2 id="toc_25">Idee oli ebaselgelt vormistatud või nõrgalt seotud uue eakuse rahvakoguga</h2>

		<ul>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/9fb680ee-3238-4e35-9df9-1e741925a2c4/comments/d39d37f5-fa5a-4d9a-af9a-3d5a07dc6587">Pensionilagi</a></li>
		<li><a href="https://uuseakus.rahvaalgatus.ee/initiatives/9fb680ee-3238-4e35-9df9-1e741925a2c4/comments/c9ada51f-2195-4358-8586-807b12a264ef">Tööandja ja -võtja suhete korrastamine</a></li>
		</ul>
