extends ../layout
include ../_mixins

block append options
	- var subpage = "events"

block prepend tab
	- var I18n = require("root/lib/i18n")
	- var linkify = require("root/lib/linkify")

	section#initiative-events.primary-section: center
		include /_flash.jade

		if events.length
			ol.events
				for event in events
					li.event
						time(datetime=event.createdAt.toJSON())
							= I18n.formatDate("numeric", event.createdAt)

						h2= event.subject
						p.text!= linkify(event.text)
		else
			p= t("NO_EVENTS")

	section.secondary-section: center
		+initiative-subscribe(initiative)
