$dark-blue: #124267;
$black: #161616;
$grey: #7e7e7e;
$text: #4a555d;
$red: #f00052;
$header-background: $dark-blue;
$secondary-background: #f2f2f2;
$light-background: #f6f6f6;
$light-background-border: #e1e1e1;
$secondary-light-text: #aaa;
$discussion-color: #ffb200;
$green-color: #75c682;
$voting-color: #12ca80;
$parliament-color: #1C71A2;
$title-text: $parliament-color;
$link-color: #53B1EB;
$flash-background: #3d434a;
$flash-header-background: #282d33;
$progress-bar-color: #3a434a;
$progress-bar-background: #eee;
$initiatives-section-title-border: $voting-color;
$footer-link: $link-color;
$primary-button-background: $voting-color;
$primary-button-border: #02b071;
$primary-button-text: white;
$secondary-button-background: #45a0e6;
$secondary-button-border: #45a0e6;
$secondary-button-text: white;
$white-button-background: white;
$white-button-border: #cecece;
$white-button-text: $text;
$initiative-sidebar-header-background: #e3e3e3;

$museo-sans: "Museo Sans Cyrl", "Museo Sans", sans-serif;
$tisa-pro: "Tisa Pro Regular", serif;
$monospace: "Ubuntu Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$aino: Aino, sans-serif;
$aino-headline: Aino Headline, Aino, sans-serif;

$button-height: 3.2rem;
$button-radius: 0.4rem;
$page-padding: 3rem;
$page-mobile-padding: 1.5rem;
$page-width: 96rem;
$flash-min-height: 4rem;

$edit-phase-color: $discussion-color;
$sign-phase-color: $voting-color;
$parliament-phase-color: $parliament-color;
$government-phase-color: $parliament-color;
$done-phase-color: $dark-blue;
$archived-phase-color: $dark-blue;

@mixin tablet {
  @media only screen and (max-width: 768px) { @content }
}

@mixin mobile {
  @media only screen and (max-width: 375px) { @content }
}

@mixin mobile-and-tablet {
  @media only screen and (max-width: 768px) { @content }
}

@mixin appearance($value) {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

@mixin progress-bar() {
	&::-moz-progress-bar { @content; }
	&::-webkit-progress-value { @content; }
	&::-ms-fill { @content; }
}

@mixin progress-bar-color($color) {
	color: $color;
	&::-moz-progress-bar { background-color: $color; }
	&::-webkit-progress-value { background-color: $color; }
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin multiline-ellipsis($lines) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	line-clamp: $lines;
	overflow: hidden;
}

@mixin hyphens($value) {
	-webkit-hyphens: $value;
	-moz-hyphens: $value;
	hyphens: $value;
}

@mixin progress-bar-background-color($color) {
	background-color: $color;
	&::-webkit-progress-bar { background-color: $color; }
}
