@font-face {
  font-family: "Rahvaicons";
  font-weight: normal;
  font-style: normal;

  src: url("/assets/Rahvaicons_68f020245278570a3350ff2214850ee2.eot");
  src: url("/assets/Rahvaicons_68f020245278570a3350ff2214850ee2.eot?#iefix") format("embedded-opentype"),
       url("/assets/Rahvaicons_68f020245278570a3350ff2214850ee2.woff") format("woff"),
       url("/assets/Rahvaicons_68f020245278570a3350ff2214850ee2.woff2") format("woff2"),
       url("/assets/Rahvaicons_68f020245278570a3350ff2214850ee2.ttf") format("truetype");
}

.ra-icon-ddoc:before,
.ra-icon-doc:before,
.ra-icon-facebook-logo:before,
.ra-icon-html:before,
.ra-icon-msg:before,
.ra-icon-pdf:before,
.ra-icon-ppt:before,
.ra-icon-rss:before,
.ra-icon-twitter-logo:before {
  font-family: "Rahvaicons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* NOTE: iOS (at least 4.2) doesn't seem to support CSS Unicode escapes. */
/* Use !important so we could provide fallback content in CSS. */
.ra-icon-ddoc:before { content: "" !important; }
.ra-icon-doc:before { content: "" !important; }
.ra-icon-facebook-logo:before { content: "" !important; }
.ra-icon-html:before { content: "" !important; }
.ra-icon-msg:before { content: "" !important; }
.ra-icon-pdf:before { content: "" !important; }
.ra-icon-ppt:before { content: "" !important; }
.ra-icon-rss:before { content: "" !important; }
.ra-icon-twitter-logo:before { content: "" !important; }

/* vim: set ft=eruby.css :*/
