@import "_lib";
@import "reset";
$back-color: #bbb;
$button-height: 3rem;
$page-padding: 2rem;

body {
	font-family: $museo-sans;
	font-weight: 400;
	font-size: 1.4rem;
	color: $text;
	background: $secondary-background;
}

form { display: inline; }
strong { font-weight: bold; }

.inherited {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;

	border: none;
	background: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

#header {
	background: $header-background;
	padding: 1rem 2rem 1rem;
	color: white;

	h1 {
		display: block;
		margin-right: 2rem;
		font-weight: 900;
		font-family: $museo-sans;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
	}

	nav, nav ul, nav li {
		display: inline;
	}

	nav li + li { margin-left: 1rem; }

	nav a {
		display: inline-block;
		font-size: 1.6rem;
		padding: 0.5rem 1rem;
		border-radius: 2px;
		transition: color ease 0.1s;

		&.selected,
		&:hover {
			background-color: white;
			color: $link-color;
		}
	}
}

main {
	padding: 3rem $page-padding;
}

.admin-heading {
  font-size: 3.4rem;

	& + * { margin-top: 3rem; }
}

.admin-subheading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
	font-weight: 300;

  & ~ .admin-subheading { margin-top: 3rem; }
}

.admin-count {
  color: $back-color;
}

.admin-back,
.admin-back-2 {
  display: block;
  color: $back-color;
  margin-bottom: 0.5rem;
}

.admin-back { font-size: 2.4rem; }
.admin-back-2 { font-size: 1.8rem; }

button.admin-link { @extend .inherited; }

.admin-link,
button.admin-link {
  color: $link-color;
  text-decoration: underline;
	cursor: pointer;
}

.admin-table,
.admin-horizontal-table {
	& > thead > tr > th,
	& > tbody > tr > th {
		background: white;
		font-size: 1.5rem;
		padding: 0.5rem 2rem;
		font-weight: bold;
		white-space: nowrap;

		small {
			font-weight: normal;
			font-size: 1.3rem;
		}
	}

  & > tbody {
    background: $light-background;
    line-height: 1.5;
  }

  & > tbody > tr > td { padding: 0.5rem 2rem; }
  & > tbody > tr:first-child > td { padding-top: 1rem; }
  & > tbody > tr + tr td { border-top: 1px solid white; }

	& > thead > tr:first-child > th,
	& > tbody > tr:first-child > th { padding-top: 1.5rem; }

	& > thead > tr:last-child > th,
	& > tbody > tr:last-child > th { padding-bottom: 1rem; }
}

.admin-table {
	width: 100%;

	th {
		border-bottom: 1px solid #d4d9df;

		&:first-child {
			border-top-left-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
		}

		&:last-child {
			border-top-right-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
		}
	}
}

.admin-horizontal-table {
	th {
		border-right: 1px solid #d4d9df;
	}
}

.admin-primary-button,
.admin-white-button,
.admin-submit {
	border-radius: $button-radius;
	border: 0px solid transparent;
	display: inline-block;
	font-family: $museo-sans;
	font-weight: bold;
	font-size: 1.3rem;
	height: $button-height;
	padding: 0 2rem;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;

	i {
		margin-right: 1rem;
		margin-left: -1rem;
	}

	&:not(button) { line-height: $button-height; }
	&:disabled { cursor: auto; }
}

.admin-primary-button,
.admin-submit {
	background: $secondary-button-background;
	color: $secondary-button-text;
	border: 1px solid $secondary-button-border;

	&:disabled {
		background: $secondary-background;
		border: 1px solid darken($secondary-background, 10%);
		color: $secondary-light-text;
	}
}

.admin-white-button {
	background: $white-button-background;
	color: $white-button-text;
	border: .1rem solid $white-button-border;

	&:disabled {
		background: $secondary-background;
		border: 1px solid darken($secondary-background, 10%);
		color: $secondary-light-text;
	}
}

.admin-form {
	display: block;
	max-width: 60rem;

	& > .admin-label,
	& > .admin-input {
		display: block;
	}

	& > .admin-input,
	& > .admin-datetime-input { width: 100%; }

	textarea.admin-input {
		min-height: 15rem;
		resize: vertical;
	}

	.admin-label ~ .admin-label {
		margin-top: 1rem;
	}

	.admin-submit {
		margin-top: 1rem;
	}

	.admin-submit + .admin-paragraph {
		margin-top: 1rem;
	}

	button + button {
		margin-left: 1rem;
	}
}

* + .admin-form { margin-top: 2rem; }

.admin-inline-form {
	.admin-input ~ .admin-input,
	.admin-input ~ .admin-submit { margin-left: 0.5rem; }
}

.admin-form-table {
	line-height: 1.5;
	font-size: 1.4rem;
	width: 100%;

	& > thead > tr > th {
		font-weight: bold;
	}

	& > thead > tr > th,
	& > tbody > tr > td,
	& > tfoot > tr > td {
		padding: 0.5rem 1rem;
	}

  & > thead > tr > th,
  & > tfoot > tr > td {
    background: $light-background;
  }

	& > thead > tr > th:first-child { border-top-left-radius: 0.5rem; }
	& > thead > tr > th:last-child { border-top-right-radius: 0.5rem; }
	& > tfoot > tr > td:first-child { border-bottom-left-radius: 0.5rem; }
	& > tfoot > tr > td:last-child { border-bottom-right-radius: 0.5rem; }
}

.admin-label {
	&:after { content: ":"; }
}

.admin-input {
	font-size: 1.4rem;
	font-family: $museo-sans;
	font-weight: 500;

	border: 1px solid #cecece;
	height: $button-height;
	padding: 0 0.5rem;

	background: white;
	color: #4a555d;
	border-radius: $button-radius;
	vertical-align: top;

	&:disabled {
		background-color: $secondary-background;
	}
}

.admin-datetime-input {
	input[type=date] {
		width: 15rem;
		margin-right: 1rem;
	}

	input[type=time] {
		width: 15rem;
	}
}

.admin-email-preview {
	background: white;
	box-shadow: 0 1px 0.3rem 0 rgba(0, 0, 0, 0.2);
	padding-top: 1.5rem;

	table {
		margin: 0 2rem 1.5rem;
		line-height: 1.5;

		th {
			font-weight: bold;
			&:after { content: ":"; }
		}

		td {
			padding: 0 0.5rem;
		}
	}

	p {
		padding: 2rem;
		border-top: 1px solid #eee;
		white-space: pre-wrap;

		.link { @extend .admin-link; }
	}
}

textarea.admin-input {
	padding: 0.5rem;
}

.flash {
	display: inline-block;
	border-radius: 0.5rem;
	background: white;
	padding: 1rem 2rem;
	white-space: pre-wrap;
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 1rem;

	&:empty { display: none; }

	&.notice { background: #ceecb7; }
	&.error { color: white; background: tomato; }
}

.admin-text {
	line-height: 1.5;
	white-space: pre-wrap;

	em { font-style: italic; }
	u { text-decoration: underline; }
	a { @extend .admin-link; }
}

#dashboard-page main {
	.overview-form {
		display: block;
		margin-bottom: 0.5rem;

		label { margin-right: 0.5rem; }
		label ~ label { margin-left: 1rem; }
	}

	.signature-counts-table {
		small {
			font-size: 1.3rem;
		}
	}

	.subscriptions-table {
		i { font-style: italic; }
	}
}

#users-page main {
	.users {
		em { font-style: italic; }
	}

	.unconfirmed-email {
		font-style: italic;
	}
}

#user-page main {
	h1 ~ h2 {
		margin-top: 4rem;
	}

	#initiatives,
	#comments {
		h3 { font-weight: bold; }
	}

	#initiatives {
		.unpublished { font-style: italic; }
	}

	#comments {
		.reply { font-style: italic; }
	}

	#merge-form {
		p { margin-bottom: 0.5rem; }
		button { margin-left: 0.5rem; }
	}
}

#initiative-page main {
	#production-link {
		display: block;
		margin-bottom: 1rem;
	}

	.form-toggle {
		&:not(:checked) ~ .form-toggle-form,
		&:checked + .form-toggle-buttons { display: none; }
	}

	#initiative-table {
		form ~ p { margin-top: 0.5rem; }
	}

	#notify-events {
		border-radius: $button-radius;
		background: white;
		padding: 1.5rem 2rem;
		margin-bottom: 1rem;
	}

	.events {
		margin-top: 4rem;

		& > table > thead {
			th { white-space: nowrap; }
			th:last-child { padding: 0.5rem; }
			th:last-child { text-align: right; }
		}

		h3 { font-weight: bold; }
		p { margin-top: 0.5rem; }

		.link { @extend .admin-link; }
		.text-toggle:not(:checked) ~ :not(label),
		.text-toggle:checked + label { display: none; }
	}

	.events > table > tbody > tr > td {
		&:last-child { text-align: right; }
	}
}

#signatures-page main {
	.options-form {
		display: inline-block;
		margin-bottom: 0.5rem;
		background: white;
		padding: 2rem;
		border-radius: $button-radius;

		input { vertical-align: middle; }

		.date-range-fields {
			label { margin-right: 0.5rem; }
			label ~ label { margin-left: 1rem; }
		}

		.admin-submit { margin-top: 2rem; }
		.admin-submit + .admin-submit { margin-left: 0.5rem; }

		fieldset + fieldset {
			margin-top: 2rem;
		}

		h2 {
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		.column-fields {
			li {
				margin-left: 1rem;

				.column-checkbox input {
					width: 3rem;
					margin: 0;
				}

				.column-checkbox ~ * { margin-left: 3rem; }

				& + li {
					margin-top: 0.3rem;
				}
			}
		}
	}

	#signatures-table {
		margin-top: 2rem;

		.method-column {
			white-space: nowrap;
		}
	}
}

#comments-page main {
	.comments {
		h3 {
			font-weight: bold;
			margin-bottom: 1rem;
		}
	}
}

#initiative-subscriptions-page main {
	.download-link { float: right; }
}

.event-page main {
	#event-form {
		#files {
			.title-column {
				input { width: 100%; }
			}

			tbody td input {
				vertical-align: middle;
			}

			tfoot {
				text-align: center;
			}
		}

		.subscriber-count {
			margin-top: 1rem;
		}
	}
}

#create-event-page main {
	#event-type-tabs {
		$tab-radius: 0.5rem;

		margin-top: 3rem;

		a {
			display: inline-block;
			border: 0.1rem solid $light-background-border;
			border-bottom: 0;
			padding: 1rem 2rem;
			line-height: 1.2;
			font-size: 1.6rem;
			margin-bottom: -0.1rem;
			color: #888;
			text-align: center;

			& + a { margin-left: -0.1rem; }
			&:first-child { border-top-left-radius: $tab-radius; }
			&:last-child { border-top-right-radius: $tab-radius; }

			&.selected { background: white; color: $text; }
			&[disabled] { cursor: auto; }
			&[disabled]:not(.selected) { color: transparent; }
		}
	}

	#tab {
		border-top: 0.1rem solid $light-background-border;
		margin-top: 0;
		margin-left: -$page-padding;
		margin-right: -$page-padding;
		padding: 2rem $page-padding;
		background: white;
	}
}

#update-event-page main {
	#event-form {
		padding: 2rem $page-padding;
		border-radius: 0.5rem;
		background: white;
	}
}
