@import "_lib";
@import "reset";
@import "_fonts";
@import "_rahvaicons";
@import "_rahvaicons_lib";
$article-padding: 3rem;
$article-padding-mobile: 2rem;

html,
body {
	height: 100%;
}

body {
	font-family: $museo-sans;
	font-weight: 300;
	font-size: 1.4rem;
	color: $text;
}

center {
	max-width: $page-width + 2 * $page-padding;
	padding-left: $page-padding;
	padding-right: $page-padding;
	margin: 0 auto;
	text-align: inherit;

	// Internet Explorer still centers things under <center> even with
	// text-align: inherit.
	& > * { margin-right: auto }

	@include mobile {
		padding-left: $page-mobile-padding;
		padding-right: $page-mobile-padding;
	}
}

strong {
	// Rahvaalgatus lacks weights other than normal for Tisa Pro.
	font-family: $museo-sans;
	font-weight: bold;
}

.left { float: left; }
.right { float: right; }

.secondary-section,
.primary-section,
.transparent-section {
	padding-top: 4rem;
	padding-bottom: 4rem;

	@include mobile {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}

	&:after { display: block; content: ""; clear: both; }
}

.secondary-section {
	background-color: $secondary-background;

	& + .secondary-section { padding-top: 0; }
}

.transparent-section {
	& + .transparent-section { padding-top: 0; }
}

.primary-section {
	background-color: white;
}

.text {
	line-height: 1.5;
	word-wrap: break-word;

	h1 {
		font-size: 3.4rem;
		color: $title-text;
		font-family: $museo-sans;
		line-height: 1.2;

		& ~ h1 { margin-top: 4rem; }
		& + h2 { margin-top: 1.5rem; }
		& + p { margin-top: 1.5rem; }
	}

	h2,
	h3 {
		font-family: $museo-sans;
		line-height: 1.2;
	}

	h2 {
		font-size: 2.4rem;
		font-weight: 500;
		color: $title-text;

		& + * { margin-top: 1rem; }
	}

	h3 {
		margin: 2rem 0 1rem;
		font-size: 2.2rem;
		font-weight: 500;
	}

	p + p,
	p + h2,
	p + h3 {
		margin-top: 2rem;
	}

	em { font-style: italic; }
	u { text-decoration: underline; }

	a:not(.button) {
		color: $link-color;
		text-decoration: underline;
	}

	ol, ul {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	li {
		margin-left: 4rem;
		list-style-position: outside;
	}

	ul > li { list-style-type: disc; }
	ol > li { list-style-type: decimal; }

	* + form { margin-top: 2rem; }
}

.text-section {
	@extend .text;
	font-size: 1.6rem;

	p {
		white-space: pre-wrap;
	}

	img {
		max-width: 100%;
	}

	.form-input,
	.form-textarea {
		width: 100%;
		max-width: 64rem;
	}
}

button.inherited {
	@include appearance(none);

	border: none;
	background: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

%generic-button {
	display: inline-block;
	border-radius: $button-radius;
	font-family: $museo-sans;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 0 1.5rem;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	border: none;

	height: $button-height;
	line-height: $button-height;

	i {
		margin-right: 0.75rem;
		margin-left: -0.75rem;
	}

	&:before {
		display: inline-block;
		vertical-align: middle;
		margin-top: -.2rem;
		margin-left: -0.2rem;
		margin-right: 0.7rem;
		font-size: 1.6rem;
	}

	&:focus {
		box-shadow: 0 0 5px 2px $link-color;
	}

	&:disabled {
		cursor: auto;
		background: $secondary-background;
		border-color: darken($secondary-background, 10%);
		color: $secondary-light-text;
	}
}

.primary-button,
.green-button {
	@extend %generic-button;

	background: $primary-button-background;
	color: $primary-button-text;
	border: 0.1rem solid $primary-button-border;
	line-height: $button-height - .2rem;
}

.secondary-button,
.blue-button {
	@extend %generic-button;

	background: $secondary-button-background;
	color: $secondary-button-text;
}

.dark-blue-button {
	@extend %generic-button;

	background: $dark-blue;
	color: white;
}

.yellow-button {
	@extend %generic-button;

	background: #ffb400;
	color: #4a555d;
	border: .1rem solid #f1aa01;
	line-height: $button-height - .2rem;
}

.white-button {
	@extend %generic-button;

	background: $white-button-background;
	color: $white-button-text;
	border: .1rem solid $white-button-border;
	line-height: $button-height - .2rem;
}

.grey-button {
	@extend %generic-button;

	padding: 0 1rem;
	color: #aaa;
	border: .1rem solid #bbb;
	line-height: $button-height - .2rem;

	&:focus { box-shadow: 0 0 3px 1px $link-color; }

	&:hover {
		color: $link-color;
		border-color: $link-color;
	}
}

.link-button {
	@extend button.inherited;

	cursor: pointer;
	color: $link-color;
	&:hover { text-decoration: underline; }
}

.form {
	font-family: $museo-sans;
	font-size: 1.3rem;
}

.inherited-button {
	@extend button.inherited;
	cursor: pointer;
}

.form-label,
.form-input,
.form-textarea {
	&:disabled {
		background-color: $secondary-background;
	}
}

.form-input ~ .form-submit,
.form-input ~ .form-checkbox {
	margin-top: 1rem;
}

.form-input ~ .form-date-picker {
	margin-top: 2rem;
}

.form-label {
	display: inline-block;
	font-weight: bold;

	& ~ .form-label {
		margin-top: 1rem;
	}
}

.form-input,
.form-textarea {
	display: block;

	& + p { margin-top: 0.5rem; }
}

.form-input {
	border: 1px solid #cecece;
	height: $button-height;
	padding-left: 1rem;
	padding-right: 1rem;

	background: white;
	color: #4a555d;
	border-radius: $button-radius;

	// Some browsers have a clear-field button on the right that gets pushed too
	// far.
	&[type=date] { padding-right: 0.5rem; }
}

.form-textarea {
	border: 1px solid #cecece;
	padding: 1rem 1rem;
	min-height: 10rem;

	background: white;
	color: #4a555d;
	border-radius: $button-radius;
	resize: vertical;
}

.form-submit + .form-epilogue {
	margin-top: 0.5rem;
}

.form-checkbox + .form-submit {
	margin-top: 0.5rem;
}

.form-checkbox {
	display: block;
	cursor: pointer;

	input[type=checkbox] {
		margin: 0;
		width: 2rem;
		height: 2rem;
		display: inline-block;
		vertical-align: middle;
	}

	a {
		color: $link-color;
		text-decoration: underline;
	}
}

.form-date-picker {
	font-family: $museo-sans;
	max-width: 32rem;

	.pika-title {
		text-align: center;
		font-weight: bold;
		overflow: hidden;
		margin-bottom: 1rem;
		line-height: 2.5rem;
	}

	.pika-label {
		display: inline-block;
		select { display: none; }

		& + .pika-label { margin-left: 0.5rem; }
	}

	.pika-prev,
	.pika-next {
		@extend button.inherited;
		width: 2.5rem;
		height: 2.5rem;
		text-indent: -9999px;
	}

	.pika-prev {
		float: left;
		background: url(/assets/calendar-prev.png) center no-repeat;
	}

	.pika-next {
		float: right;
		background: url(/assets/calendar-next.png) center no-repeat;
	}

	table {
		width: 100%;
		text-align: center;
		table-layout: fixed;
	}

	thead {
		text-transform: uppercase;
		color: #195d91;
		font-weight: bold;
		line-height: 3rem;
	}

	td {
		font-weight: bold;
		line-height: 4.6rem; // Height of the selected background image.

		button {
			@extend button.inherited;
			width: 100%;
		}

		&.is-selected {
			background: url(/assets/date-active.png) center no-repeat;
		}

		&.is-disabled { color: #bbb; }
	}
}

.form-or {
	margin: 0 0.5rem;
}

.flash {
	background: $flash-header-background;
	padding: 1.2rem $page-padding 1rem;
	color: white;
	border-radius: $button-radius;
	white-space: pre-wrap;
	font-size: 1.3rem;
	font-weight: 600;
	min-height: $flash-min-height;
	line-height: 1.3;

	&:empty { display: none; }
}

.initiatives-section {
	$initiative-width: 22.5rem;

	center {
		padding-right: 0;
		@include mobile { padding-right: $page-mobile-padding; }
	}

	h2 {
		font-size: 2rem;
		line-height: 3rem;
		color: $title-text;
		border-bottom: 1px solid $initiatives-section-title-border;
		text-align: right;
		font-family: $museo-sans;
		font-weight: 900;
		text-transform: uppercase;
		max-width: $initiative-width;
		margin-bottom: -3rem;

		& ~ h2 { margin-top: 4rem; }

		@include tablet {
			text-align: left;
			margin-bottom: 2rem;
		}

		@include mobile {
			max-width: none;
		}
	}

	.initiatives {
		margin-left: $initiative-width + 2rem;

		@include tablet { margin-left: 0; }
		&:after { display: block; content: ""; clear: both; }
	}

	.initiative {
		background: white;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

		line-height: 1;
		width: $initiative-width;
		float: left;
		margin-bottom: 2rem;
		margin-left: 0;
		margin-right: 2rem;

		a {
			display: block;
			padding: 1.5rem 2rem 0;
		}

		time,
		.author {
			font-size: 1.4rem;
			font-family: $tisa-pro;
			color: $secondary-light-text;
		}

		.author {
			display: block;
			@include ellipsis;
			padding-bottom: 1rem; // For descenders like "j" and "g".
		}

		h3 {
			$font-size: 1.7rem;
			$line-height: 1.5 * $font-size;
			font-size: $font-size;
			color: #4F4F4F;
			line-height: $line-height;
			margin-top: 0.5rem;
			word-wrap: break-word;
			height: 5 * $line-height;
			overflow: hidden;
			margin-bottom: $line-height;

			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
		}

		.badge {
			float: right;
			height: 2rem;
			margin-top: -0.5rem;
			margin-right: -0.5rem;
			margin-left: 0.5rem;
		}

		&:hover {
			box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
			h3 { color: $title-text; }
		}

		.initiative-progress {
			clear: both;
			margin: 0 -2rem;
			padding-top: 1rem;
			padding-bottom: 0.8rem;
			line-height: 1;
		}

		@include mobile { width: 100%; }
	}
}

.initiative-progress {
	display: block;

	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1.3rem;
	font-family: $museo-sans;
	font-weight: bold;
	color: $progress-bar-color;

	background-color: $progress-bar-background;
	background-repeat: no-repeat;

	&.private {
		color: white;
		background-color: #9a9a9a;
	}

	&.discussable.completed {
		background-color: $discussion-color;
		background-image: url(/assets/discussion-over.png);
		background-position: 1rem center;
		padding-left: 3.5rem;
	}

	&.votable.completed {
		color: white;
		background-color: $voting-color;
		background-image: url(/assets/vote-success.png);
		background-position: 1rem center;
		padding-left: 3.5rem;
	}

	&.processable {
		color: $parliament-color;
		background-image: url(/assets/clock.png);
		background-position: 1rem center;
		padding-left: 3.5rem;
	}

	&.finished {
		color: $parliament-color;
		background-image: url(/assets/discussion-over.png);
		background-position: 1rem center;
		padding-left: 3.5rem;
	}

	&.failed {
		color: white;
		background-color: #9a9a9a;
		background-image: url(/assets/vote-failed.png);
		background-position: 1rem center;
		padding-left: 3.5rem;
	}
}

.donate-form {
	margin-top: 2rem;

	h2 {
		font-weight: bold;
		margin-bottom: 1rem;
	}

	.form-fields {
		display: inline-block;
		margin-right: 1rem;
		margin-bottom: 0.5rem;

		// Without a vertical-align, Internet Explorer 11 doesn't align properly.
		// Firefox does.
		vertical-align: bottom;

		.form-label { margin-bottom: 0.5rem; }
		input[name=person] { width: 100%; }
		@include mobile { display: block; }
	}

	.amount-input {
		&:before {
			vertical-align: top;
			height: $button-height;
			line-height: $button-height + 0.4rem;
			margin-right: -10rem;
			display: inline-block;
			text-indent: 1rem;
			font-size: 1.8rem;
			color: #ccc;
			width: 10rem;
			content: "€";
			font-weight: bold;
			background: white;
			border-radius: $button-radius;
		}

		input {
			padding-left: 2.5rem;
			width: 10rem;
			display: inline-block;
			background-color: transparent;
		}
	}

	button {
		margin-bottom: 0.5rem;
	}

	p {
		font-size: 1.4rem;
		color: $grey;
	}
}

#header {
	background: $header-background;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	color: white;

	menu {
		margin-bottom: 1.5rem;
		overflow: hidden;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-family: $museo-sans;
		font-weight: normal;

		.languages {
			display: inline;
			font-weight: bold;

			button { text-transform: uppercase; }
			button[disabled] { color: $link-color; }
			button + button { margin-left: 1rem; }
		}

		.user {
			text-transform: none;
		}

		.signout {
			display: inline;
			&:before { margin: 0 1rem; content: "|"; }
		}
	}

	.logo {
		display: block;
		float: left;
		width: 18rem;
		height: inherit;
		margin-right: 2rem;

		img { width: 100%; }
	}

	.uuseakus,
	.kestame,
	.hea-annetus {
		display: block;
		float: right;
		height: inherit;
		margin-left: 2rem;
		margin-top: -0.5rem;

		img { width: 100%; }
	}

	.uuseakus { width: 10rem; }
	.kestame { width: 15rem; }
	.hea-annetus { width: 3.6rem; }

	@include tablet {
		.uuseakus,
		.kestame,
		.hea-annetus { display: none; }
	}

	nav li {
		display: inline;

		& + li { margin-left: 1rem; }
	}

	nav a {
		display: inline-block;
		font-size: 1.6rem;
		padding: 0.5rem 1rem;
		border-radius: 2px;
		transition: color ease 0.1s;

		&.selected,
		&:hover {
			background-color: white;
			color: $link-color;
		}
	}

  @media only screen and (max-width: 999px) {
		menu { margin-bottom: 1rem; }
		.logo { float: none; }

		nav li {
			margin-right: 0.5rem;
			& + li { margin-left: 0; }
		}

		nav a {
			font-size: 1.5rem;
			line-height: 1;
			padding: 0.5rem 0.7rem;
		}
	}

	@include mobile {
		.logo { max-width: 16rem; }
		nav { clear: both; }
	}
}

#main {
	min-height: 100%;
	height: auto;
	padding-bottom: $footer-height;
	margin-bottom: -$footer-height;
}

#home-page {
	$half-width: 50%;
	background-color: $secondary-background;

	.flash {
		margin-bottom: 2rem;
	}

	#welcome {
		h1 {
			margin-top: 1rem;
			margin-bottom: 3rem;
		}

		.welcome-paragraph {
			font-size: 1.8rem;
			line-height: 1.7;
			margin-bottom: 2rem;
			max-width: 50%;
		}

		.video {
			float: right;
			max-width: 50%;
			margin-left: 4rem;

			iframe {
				max-width: 100%;
				border-radius: 0.5rem;
			}
		}

		.large-button {
			font-size: 1.6rem;
			line-height: 4rem;
			height: 4rem;
		}

		#initiatives-subscribe {
			margin-top: 1rem;
			max-width: 50%;

			input[type=email] {
				margin-top: 1rem;
				max-width: 32rem;
			}

			button { margin-top: 0.7rem; }

			#subscriptions-form-toggle:not(:checked) {
				& ~ h2,
				& ~ p,
				& ~ input,
				& ~ button { display: none; }
			}

			#subscriptions-form-toggle:checked + label { display: none; }
			#subscriptions-form-toggle:checked ~ h2 { margin-top: 2rem; }
		}

		.social-media-logos {
			margin-top: 1rem;

			a { vertical-align: middle; }
			a + a { margin-left: 1rem; }
			img { height: 3.6rem; }
		}

		@include mobile-and-tablet {
			h1,
			.welcome-paragraph,
			#initiatives-subscribe { max-width: none; }

			.video {
				float: none;
				max-width: none;
				margin-left: 0;
				margin-bottom: 2rem;
			}
		}

		@include mobile {
			.large-button, button { width: 100%; }
		}
	}
}

#initiative-create-page #initiative {
	$new-initiative-background-height: 515px;

	center {
		position: relative;
	}

	background: url(/assets/bg-1.png) no-repeat;
	background-position: calc(50% - 200px) top;
	min-height: $new-initiative-background-height;

	.step-counter { position: absolute; top: -10px; left: -60px; }

	form {
		input[name=title] {
			display: block;
			width: 100%;
			font-size: 2rem;
			height: 4.4rem;
		}
	}
}

#initiatives-page {
	background-color: $secondary-background;
}

#initiative-page,
.initiative-page {
	background-color: $secondary-background;

	#initiative-header {
		margin-top: 4rem;
		margin-bottom: 4rem;
		font-family: $tisa-pro;

		center {
			padding-left: $article-padding;
			padding-right: $article-padding;

			@include mobile {
				padding-left: $article-padding-mobile;
				padding-right: $article-padding-mobile;
			}
		}

		img.badge {
			vertical-align: middle;
			display: inline-block;
			height: 3rem;
			margin-left: 2rem;
		}

		a.badge img { vertical-align: baseline; }

		h1 {
			color: $title-text;
			font-size: 4.2rem;
			line-height: 1.2;
			word-wrap: break-word;
			margin-bottom: 1rem;
		}

		time,
		.author {
			font-size: 1.6rem;
			color: #8a8a8a;
		}

		@include mobile {
			margin-top: 2rem;
			margin-bottom: 2rem;

			h1 { font-size: 3.2rem; }
			a.badge { display: block; margin-left: 0; }
			img.badge { margin-top: 1rem; margin-left: 0; }
		}
	}
}

#initiative-page,
#initiative-comment-page {
	#initiative-comment,
	#initiative-comments {
		h2 {
			font-family: $museo-sans;
			font-size: 2.4rem;
			color: $title-text;
			margin-bottom: 1rem;
			font-weight: 500;
		}

		h3 {
			margin-bottom: 1rem;
			font-family: $museo-sans;
			font-size: 1.6rem;
			font-weight: 500;
		}
	}

	.comment {
		background: white;

		h3 {
			font-family: $museo-sans;
			font-size: 1.8rem;
			line-height: 1.7;
			color: black;

			a:hover { text-decoration: underline; }
		}

		.author,
		time {
			font-size: 1.4rem;
			font-family: $tisa-pro;
			color: $secondary-light-text;
		}

		// Anchor used for linking to comment itself via <time>.
		time a:hover { text-decoration: underline; }

		.author:after { content: ", " }

		p {
			font-family: $tisa-pro;
			line-height: 1.7;
			white-space: pre-wrap;
			word-wrap: break-word;
		}

		.curse:not(:hover) {
			// Inline block required for ::first-letter.
			display: inline-block;
			color: white;

			text-decoration-line: line-through;
			-webkit-text-decoration-line: line-through;
			text-decoration-color: red;
			-webkit-text-decoration-color: red;
			text-decoration-style: wavy;
			-webkit-text-decoration-style: wavy;

			&::first-letter { color: $text; }
		}

		.comment-reply-button {
			margin-top: 1.5rem;
			display: inline-block;
			height: 3.2rem;
			line-height: 3.2rem;
			color: $title-text;

			&[disabled] { color: #ccc; }
		}

		& + .comment {
			margin-top: 1rem;
		}
	}

	.comment-replies,
	.comment-reply-form {
		border-top: 1px solid $secondary-background;
		margin-left: -$article-padding;
		margin-right: -$article-padding;

		@include mobile {
			margin-left: -$article-padding-mobile;
			margin-right: -$article-padding-mobile;
		}
	}

	.comment-replies {
		margin-top: 2rem;

		&:empty { display: none; }
	}

	.comment-reply,
	.comment-reply-form {
		padding-top: 2rem;
		padding-left: $article-padding;
		padding-right: $article-padding;

		@include mobile {
			padding-left: $article-padding-mobile;
			padding-right: $article-padding-mobile;
		}
	}

	.comment-reply {
		& + .comment-reply {
			margin-top: 2rem;
			border-top: 1px solid $secondary-background;
		}
	}

	.comment-reply.short {
		p { display: inline; }
		time:after { content: ": "; }

		& + .comment-reply.short {
			padding-top: 0;
			border-top: 0;
			margin-top: 0;
		}
	}

	.comment-form,
	.comment-reply-form {
		margin-top: 2rem;

		input[type=text],
		textarea {
			width: 100%;
			margin-bottom: 0.5rem;
		}

		textarea { min-height: 10rem; }
		button + button { margin-left: 1rem; }
		p { text-align: center; }

		@include mobile {
			button { width: 100%; }
		}
	}

	.comment-reply-form {
		textarea { min-height: 5rem; }

		// Override the default [hidden] attribute.
		&:target { display: block !important; }
	}
}

#initiative-page,
#edit-initiative-page {
	$article-width: 72rem;
	$article-width-percentage: 70%;
	$sidebar-padding: 2rem;

	#initiative-phases {
		$phase-icon-width: 6rem;
		$progress-height: 1.2rem;
		$progress-background: $initiative-sidebar-header-background;

		@media only screen and (max-width: 767px) {
			display: none;
		}

		center {
			padding-left: $article-padding;
			padding-right: $article-padding;

			@include mobile {
				padding-left: $article-padding-mobile;
				padding-right: $article-padding-mobile;
			}
		}

		margin-top: -1rem;
		padding-top: 0;
		padding-bottom: 4rem;
		overflow: hidden;

		ol {
			padding-top: 1rem;
			height: 11rem;
			position: relative;
		}

		li {
			display: inline-block;
			position: absolute;
			width: 25%;
			font-weight: normal;

			i {
				display: block;
				width: 100%;
				text-align: center;
				position: relative;
				left: -50%;
				color: $secondary-light-text;
			}

			i:before {
				content: "";
				position: relative;
				display: block;
				margin: 0 auto;
				width: $phase-icon-width;
				height: $phase-icon-width;
				background-color: $progress-background;
				background-size: cover;
				border-radius: 50%;
				margin-bottom: 1rem;
				z-index: 5;
				background-repeat: no-repeat;
				background-position: center;
			}

			.progress {
				position: absolute;
				top: ($phase-icon-width - $progress-height) / 2;
				height: $progress-height;
				left: 0;
				right: 0;
				z-index: 1;
				margin: 0 -.2rem;

				text-align: center;
				font-size: 1.1rem;
				line-height: 1.2;
				color: $grey;
			}

			progress {
				@include appearance(none);

				width: 100%;
				height: $progress-height;
				z-index: 1;
				margin-bottom: .2rem;
				padding-right: .7rem;

				@include progress-bar {
					border-top-right-radius: 5rem;
					border-bottom-right-radius: 5rem;
				}

				@include progress-bar-background-color($progress-background);

				&:indeterminate {
					@include progress-bar-color($progress-background !important);
				}
			}

			&:nth-child(1) {
				left: 0;

				i { margin-left: $phase-icon-width / 2; }

				.progress {
					left: $phase-icon-width;
					right: $phase-icon-width / 2 - $phase-icon-width / 4;
				}
			}

			&:nth-child(2) {
				left: 25%;

				i { margin-left: $phase-icon-width / 4; }

				.progress {
					left: $phase-icon-width / 2 + $phase-icon-width / 4;
					right: $phase-icon-width / 2;
				}
			}

			&:nth-child(3) {
				left: 50%;

				.progress {
					left: $phase-icon-width / 2;
					right: $phase-icon-width / 2 + $phase-icon-width / 4;
				}
			}

			&:nth-child(4) {
				left: 75%;

				i { margin-left: -$phase-icon-width / 4; }

				.progress {
					left: $phase-icon-width / 2 - $phase-icon-width / 4;
					right: $phase-icon-width;
				}
			}

			&:nth-child(5) {
				right: 0;

				i { left: 50%; margin-left: -$phase-icon-width / 2; }
			}

			&#edit-phase {
				i:before {
					background-image: url("/assets/edit-phase.svg");
					background-position: center bottom;
				}

				progress { @include progress-bar-color($edit-phase-color); }

				&.past progress {
					@include progress-bar-background-color($sign-phase-color);
				}

				&.current i,
				&.past i {
					color: $text;
					&:before { background-color: $edit-phase-color; }
				}
			}

			&#sign-phase {
				i:before { background-image: url("/assets/sign-phase.svg"); }
				progress { @include progress-bar-color($sign-phase-color); }

				&.past progress {
					@include progress-bar-background-color($parliament-phase-color);
				}

				&.current i,
				&.past i {
					color: #049862;
					&:before { background-color: $sign-phase-color; }
				}
			}

			&#parliament-phase {
				i:before { background-image: url("/assets/parliament-phase.svg"); }
				progress { @include progress-bar-color($parliament-phase-color); }

				&.past progress {
					@include progress-bar-background-color($government-phase-color);
				}

				&.current i,
				&.past i {
					color: $parliament-phase-color;
					&:before { background-color: $parliament-phase-color; }
				}
			}

			&#government-phase {
				i:before { background-image: url("/assets/government-phase.svg"); }
				progress { @include progress-bar-color($government-phase-color); }

				&.past progress {
					@include progress-bar-background-color($done-phase-color);
				}

				&.current i,
				&.past i {
					color: $government-phase-color;
					&:before { background-color: $government-phase-color; }
				}
			}

			&#done-phase {
				i:before { background-image: url("/assets/done-phase.svg"); }

				&.current i {
					color: $done-phase-color;
					&:before { background-color: $done-phase-color; }
				}
			}

			&#archived-phase {
				i:before { background-image: url("/assets/archived-phase.svg"); }

				&.current i {
					color: $archived-phase-color;
					&:before { background-color: $archived-phase-color; }
				}
			}
		}
	}

	.sheet {
		background: white;
		box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
		width: $article-width-percentage;

		@include mobile-and-tablet { width: auto; }
	}

	#initiative-section center,
	#initiative-events center {
		max-width: $page-width + $article-padding;
		padding-left: 0;
		padding-right: 0;
	}

	#initiative-section {
		padding-top: 0;

		center {
			display: flex;

			@include mobile-and-tablet { display: block; }
		}

		#initiative-sheet,
		#initiative-sidebar {
			display: inline-block;
			vertical-align: top;

			@include mobile-and-tablet { display: block; }
		}

		#initiative-sheet {
			position: relative; // To have box-shadow be on top of <aside>.
			display: flex;
			flex-direction: column;

			& > .flash { border-radius: 0; }

			.quicksign {
				display: none;
				background-color: $light-background;
				padding: $sidebar-padding $article-padding;
				border-bottom: 1px solid $light-background-border;

				.initiative-progress { line-height: 3.2rem; border-radius: 0.4rem; }
				.sign-button, { margin-top: 1rem; }

				@include mobile-and-tablet { display: block; }

				@include mobile {
					padding-left: $article-padding-mobile;
					padding-right: $article-padding-mobile;
				}
			}
		}

		article.text {
			flex-grow: 1;
			font-size: 1.6rem;
			font-family: $tisa-pro;
			padding: $article-padding;

			@include mobile { padding: $article-padding-mobile; }

			// Etherpad generates non-standard HTML by putting a nested <ol> directly
			// under <ul>.
			ol ol,
			ul ul,
			ol ul,
			ul ol {
				margin-left: 2rem;
			}

			// Initiative HTML often has <h2> following plain non-tagged text, so
			// `* + h2` won't work.
			h2 { margin-top: 4rem; margin-bottom: 1rem; }

			// Etherpad provides a fixed set of text colors.
			.black { color: $text; }
			.red { color: red; }
			.green { color: #00cb81; }
			.blue { color: #45a0e6; }
			.yellow { color: yellow; }
			.orange { color: #ffb400; }
		}

		article.pdf {
			// Whereas `height: 100%` on <object> works for Firefox, it doesn't on
			// Chromium.  Use flex for backup.
			display: flex;
			flex-direction: column;

			object {
				display: block;
				min-height: 60rem;
				width: 100%;
				height: 100%;
				flex-grow: 1;
			}
		}

		.initiative-subscribe-form {
			font-family: $museo-sans;

			p { color: $grey; }

			input {
				display: inline-block;
				margin-right: 1rem;
				margin-bottom: 0.5rem;
				max-width: 18rem;

				@include mobile { width: 100%; }
			}

			button {
				margin-bottom: 0.5rem;

				@include mobile { width: 100%; }
			}
		}

		.quicksign {
			text-align: center;
			line-height: 1.5;

			.link-button {
				font-weight: bold;
			}

			h2 {
				margin-top: 1rem;
				font-size: 1.6rem;
				font-weight: bold;
			}

			form { display: inline; }

			.hiding-description {
				display: none;
			}

			.hiding-description-toggle:checked {
				& + label { display: none; }
				& ~ .hiding-description { display: block; }
			}
		}

		.initiative-progress-text {
			margin-top: 1rem;

			time { @extend strong; }
		}
	}

	#initiative-sidebar {
		width: 100% - $article-width-percentage;
		background-color: $light-background;
		padding: $sidebar-padding;
		font-size: 1.3rem;

		.sidebar-section + .sidebar-section {
			margin-top: 2rem;
		}

		.sidebar-header {
			margin-bottom: 1rem;
			margin-left: -$sidebar-padding;
			margin-right: -$sidebar-padding;
			padding: 0 $sidebar-padding;
			line-height: 3.6rem;
			background: $initiative-sidebar-header-background;
			font-size: 1.6rem;
			color: $dark-blue;
			font-weight: 900;
			text-transform: uppercase;
		}

		.sidebar-subheader {
			color: $black;
			font-size: 1.3rem;
			line-height: 1.5;
			font-weight: 500;
			margin-bottom: 0.5rem;

			& ~ .sidebar-subheader {
				margin-top: 1.5rem;
			}
		}

		.wide-button {
			width: 100%;
		}

		.share-button {
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
		}

		.link-button.wide-button {
			display: block;
			text-align: center;
			line-height: 3rem;
			font-weight: bold;
		}

		.quicksign {
			margin-bottom: 2rem;

			.initiative-progress {
				margin-top: -$sidebar-padding;
				margin-left: -$sidebar-padding;
				margin-right: -$sidebar-padding;
				margin-bottom: 1rem;
				line-height: $flash-min-height;
			}

			.initiative-progress-text span { display: block; }
		}

		#initiative-author-options {
			h2 ~ * { margin-top: 0.5rem; }
		}

		#initiative-info {
			h2 .edit-button { float: right; }

			input,
			textarea { width: 100%; }

			p + .form-list { margin-top: 0.5rem; }
			ul.form-output { line-height: 1.5; }

			[name=notes] { min-height: 12rem; }

			.text { white-space: pre-wrap; }
			[type=submit] { margin-top: 0.5rem; }
			input[type=date] { flex-shrink: 0; }

			#initiative-info-form-toggle {
				&:not(:checked) ~ textarea,
				&:not(:checked) ~ .form-fields,
				&:not(:checked) ~ .form-buttons,
				&:checked + h2 .edit-button,
				&:checked ~ .edit-button,
				&:checked ~ .form-output { display: none; }
			}

			#initiative-media-urls-form,
			#initiative-government-change-urls-form,
			#initiative-public-change-urls-form {
				input { margin-bottom: 0.5rem; }
			}

			#initiative-organizations-form,
			#initiative-meetings-form {
				li { display: flex; }
				input:first-child { margin-right: 0.5rem; }

				input {
					width: auto;
					margin-bottom: 0.5rem;
					min-width: 10rem;
				}
			}
		}

		@include mobile-and-tablet {
			width: auto;

			.quicksign { display: none; }
		}
	}

	#initiative-vote {
		border-top: 1px solid $light-background-border;
		background-color: $light-background;

		margin-top: 4rem;
		padding: 2rem $article-padding;

		@include mobile {
			padding: 2rem $article-padding-mobile;
		}

		// Don't use overflow to not cut off the blur around buttons.
		&:after { display: block; clear: both; content: ""; }

		.initiative-progress {
			line-height: 3.2rem;
			border-radius: 0.4rem;
		}

		h2 {
			margin-top: 2rem;
			color: $title-text;
			text-align: center;
			font-size: 2.4rem;
			font-weight: 500;
		}

		p {
			margin-top: 1rem;
			text-align: center;
			line-height: 1.5;
		}

		form {
			padding: 0 1rem;
			display: inline-block;
			width: 50%;
			margin-top: 1rem;
			vertical-align: top;
		}

		#id-card-form { text-align: right; }
		input { margin-bottom: 0.5rem; }
		.flash { margin-top: 1rem; }

		@include mobile-and-tablet {
			form {
				width: auto;
				display: block;
				text-align: center;
				padding: 0;
			}

			input,
			button {
				margin-left: auto;
				margin-right: auto;
			}

			#id-card-form { text-align: center; }
		}

		@include mobile {
			input, .button {
				display: block;
				width: 100%;
			}
		}

		#mobile-id-form {
			#mobile-id-form-toggle:not(:checked) {
				& ~ input,
				& ~ button { display: none; }
			}

			#mobile-id-form-toggle:checked + label { display: none; }
		}
	}

	.initiative-status {
		$padding-vertical: 2rem;

		font-size: 1.4rem;
		line-height: 1.5;
		border-bottom: 1px solid $light-background-border;
		font-family: $tisa-pro;
		background: $light-background;
		padding-top: $padding-vertical;
		padding-bottom: $padding-vertical;

		&,
		.status-header {
			padding-left: $article-padding;
			padding-right: $article-padding;

			@include mobile {
				padding-left: $article-padding-mobile;
				padding-right: $article-padding-mobile;
			}
		}

		.status-header {
			font-family: $museo-sans;
			padding-top: 1.1rem;
			padding-right: .8rem;
			padding-bottom: .9rem;
			line-height: 2rem;
			font-size: 1.3rem;
			font-weight: 600;
			background: $light-background;

			margin-top: -$padding-vertical;
			margin-left: -$article-padding;
			margin-right: -$article-padding;

			@include mobile {
				margin-left: -$article-padding-mobile;
				margin-right: -$article-padding-mobile;
			}

			&:not(:only-child) {
				border-bottom: 1px solid $light-background-border;
				margin-bottom: 1.5rem;
			}

			&:last-child { margin-bottom: -$padding-vertical; }
		}

		.status-serif-header {
			font-family: $tisa-pro;
			font-size: 2.4rem;
			color: $parliament-color;
			margin-top: 0.5rem;
			margin-bottom: 1rem;
		}

		.status-subheader {
			font-family: $museo-sans;
			line-height: 3.6rem;
			font-size: 1.6rem;
			color: $dark-blue;
			font-weight: 900;
			text-transform: uppercase;

			& ~ .status-subheader { margin-top: 1rem; }
		}

		.status-subsubheader {
			font-family: $museo-sans;
			font-size: 1.3rem;
			line-height: 1.5;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		p { white-space: pre-wrap; }
		a { color: $link-color; text-decoration: underline; }
		p + ul { margin-top: 1rem; }
	}

	#initiative-etherpad {
		width: 100%;
		margin: (-$article-padding) 0;
		min-height: 50rem;
	}

	#initiative-events {
		.create-event-button {
			display: block;

			background: $light-background;
			text-align: center;
			color: $secondary-light-text;
			line-height: 4rem;
			text-transform: uppercase;
			font-weight: bold;
			border-bottom: 1px solid $light-background-border;

			&:hover {
				color: $link-color;
			}

			&:focus {
				box-shadow: 0 0 .5rem $link-color;
				border-top-left-radius: .5rem;
				border-top-right-radius: .5rem;
			}

			@include mobile-and-tablet {
				border-radius: 0;
				border-left: none;
				border-right: none;
				max-width: none;
			}
		}

		.empty {
			text-align: center;
			font-size: 1.3rem;
			font-weight: 500;
			padding-bottom: $article-padding;
		}

		.event {
			position: relative;
			padding: 2.5rem $article-padding;
			border-left: 0.5rem solid transparent;
			font-size: 1.3rem;
			line-height: 1.5;
			font-weight: 500;

			@include mobile {
				padding-left: $article-padding-mobile;
				padding-right: $article-padding-mobile;
			}

			h2 {
				font-size: 2rem;
				color: $title-text;
			}

			.occurred-at {
				display: block;
				font-size: 1.3rem;
				color: $secondary-light-text;

				a:hover { text-decoration: underline; }

				a:focus {
					color: $link-color;
					text-decoration: underline;
				}
			}

			.text {
				white-space: pre-wrap;
				color: #636363;
				font-weight: normal;
				font-size: 1.6rem;
				font-family: $tisa-pro;
			}

			p + p {
				margin-top: 1.5rem;
			}

			.delay {
				font-size: 1.3rem;
				margin-top: 1.5rem;
				color: $secondary-light-text;
			}

			.files {
				margin-top: 2rem;
			}

			.file {
				line-height: 1.3;

				.icon:before {
					content: "";
					vertical-align: top;
					margin-right: .8rem;
					margin-bottom: 0.5rem;
					float: left;
					font-size: 3.2rem;
					width: 3.2rem;
					height: 3.2rem;
					display: inline-block;
					line-height: 1;
					border-radius: 0.5rem;
					color: $dark-blue;
				}

				.icon.ra-icon-pdf:before { color: #a93939; }
				.icon.ra-icon-ppt:before { color: #cb4a32; }
				.icon.unknown:before { background-color: $light-background; }

				.name {
					display: block;
					@include ellipsis;
				}

				a:hover,
				.icon:hover + .name { color: $link-color; }
				a:focus { outline: 1px dashed $link-color; }

				small { color: $secondary-light-text; }

				& + .file {
					clear: both;
					margin-top: 1rem;
				}
			}

			&.sign-phase { border-left-color: $sign-phase-color; }
			&.parliament-phase { border-left-color: $parliament-phase-color; }

			&.parliament-letter-event .letterhead {
				margin-top: 1rem;
				line-height: 1.5;
				font-size: 1.3rem;
				font-weight: 500;

				th { font-weight: bold; text-align: right; &:after { content: ":"; }}
				td { padding-left: 1rem; }

				& + p {
					margin-top: 1rem;
				}
			}

			// Border-top doesn't fill the whole width because we're using the left
			// border for phase colors.
			& + .event { box-shadow: 0 -1px 0 #eee; }
		}

		#contribute {
			// Max width for the events is ~64rem. With some for margin, that
			// leaves ~30rem for the sidebar.
			max-width: 30rem;
			float: right;
			margin-left: 3rem;
			margin-bottom: 4rem;
			border: 1px dashed #ccc;
			padding: 2.5rem 1.5rem 1rem;
			line-height: 1.5;
			text-align: center;
			font-size: 1.6rem;
			border-radius: $button-radius;

			h2 {
				font-family: $museo-sans;
				line-height: 1.2;
				font-size: 2rem;
				color: $title-text;
				font-weight: 500;
				margin-bottom: 1rem;
			}

			p { white-space: pre-wrap; }
			p + p {
				margin-top: 2rem;
			}

			a {
				margin-right: 0.5rem;
				margin-bottom: 0.5rem;
				padding: 0 1rem;
				font-size: 1.2rem;
				height: 3rem;
				line-height: 3rem;
			}

			@include mobile {
				float: none;
				margin-left: 0;
			}
		}
	}

	#initiative-comments {
		center > * {
			width: $article-width-percentage;
			@include mobile-and-tablet { width: auto; }
		}

		@include mobile-and-tablet {
			center {
				padding-left: 0;
				padding-right: 0;
			}

			h2,
			center > form {
				padding-left: $article-padding;
				padding-right: $article-padding;
			}
		}

		@include mobile {
			h2,
			center > form {
				padding-left: $article-padding-mobile;
				padding-right: $article-padding-mobile;
			}
		}

		.comment {
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
			padding-left: $article-padding;
			padding-right: $article-padding;

			@include mobile {
				padding-left: $article-padding-mobile;
				padding-right: $article-padding-mobile;
			}
		}

		.comments:empty + .comment-form { margin-top: 0; }

		.comment-form {
			input:disabled,
			textarea:disabled {
				display: none;
			}
		}
	}

	.signin-to-act { margin-left: 1rem; }
}

#initiative-publish-page,
#initiative-send-to-voting-page,
#initiative-send-to-parliament-page {
	.primary-section form {
		input[type=date] {
			max-width: 24rem;
		}
	}
}

#about-page,
#donate-page,
#donated-page {
	section center { max-width: 64rem; }
}

#donate-page section {
	font-size: 1.6rem;
}

#user-page {
	background: $secondary-background;

	#user {
		text-align: center;

		h1 {
			margin-bottom: 2rem;
		}

		.flash {
			margin-left: auto;
			margin-right: auto;
			max-width: 48rem;
		}

		.form-input {
			margin-left: auto;
			margin-right: auto;
			max-width: 24rem;
		}
	}
}

#credits-page main {
	li + li {
		margin-top: 1rem;
	}

	img {
		vertical-align: middle;
		border-radius: .5rem;
		background: $secondary-background;
		height: 5rem;
	}

	.dark img { background-color: $dark-blue; }

	i {
		display: inline-block;
		vertical-align: middle;
		font-size: 5rem;
		height: 5rem;
		line-height: 5rem;
		color: $dark-blue;

		img { display: none; }
	}
}

#footer {
	position: relative;
	min-height: $footer-height;
	padding-top: 2rem;
	padding-bottom: 2rem;
	overflow: hidden;

	background: $header-background;
	color: white;
	line-height: 1.4;
	font-size: 1.3rem;

	a {
		color: $footer-link;
		&:hover { text-decoration: underline; }
	}

	.contact {
		float: left;
	}

	.contact img,
	.logos img {
		margin-bottom: 1rem;
	}

	.logos {
		text-align: right;
		float: right;

		img {
			margin-top: 1rem;
			height: 2rem;
		}
	}

	@include mobile {
		.contact,
		.logos {
			float: none;
			text-align: left;
		}

		.logos { margin-top: 1rem; }
	}
}
