<div class="my-profile private" ng-show="!app.user.isLoading && app.user.loggedIn" ng-controller="DashboardCtrl">
    <div class="clearfix header">
        <div class="left"><img alt="Image"  ng-src="{{app.user.imageUrl ? app.user.imageUrl : 'images/icon-user-big.png'}}"/> <span>{{app.user.name}}</span></div>
        <div class="right">
            <ul class="clearfix">
                <li><a href="#" class="edit-profile" ng-click="app.editProfile()" translate="EDIT_YOUR_PROFILE">Edit your profile</a></li>
                <li><a href="#" class="profile-close" ng-click="closeThisDialog()"><img src="images/profile-close.png" alt="Image" /></a></li>
            </ul>
        </div>
    </div>
    <ul class="profile-tabs">
        <li><a href="" ng-class="{'active': activeTab=='topics'}" ng-click="changeTab('topics')" translate="TOPICS_COUNT" translate-values="{count:{{topicList.length || 0}}}">Topics (12)</a></li>
        <!--<li><a href="" ng-class="{'active': activeTab=='activities'}" ng-click="changeTab('activities')">Activity</a></li>-->
    </ul>
    <div class="pro-content topics" id="topics" ng-show="activeTab=='topics'">
        <ul>
            <li ng-repeat="topic in topicList">
                <div ng-controller="TopicSettingsFormCtrl">
                    <div class="clearfix status" ng-class="{'discussions' : topic.status=='inProgress', 'signatures' : topic.status=='voting', 'closed' : topic.status=='closed', 'followUp' : topic.status=='followUp'}">
                        <div class="left" ><span >Status</span> {{topic.status | translate}}</div>
                        <div class="right" ><span translate="STARTED">Started</span> {{topic.createdAt | amDateFormat : 'L'}}</div>
                    </div>
                    <div class="p-content">
                        <p class="title"><a href="" ui-sref="topics.read({id: topic.id})">{{topic.title || 'undefined' }}</a></p>
                        <p class="meta">
                            <a href="#"><img src="images/discussion-icon.png" alt="Image" />{{topic.comments.count}} <span translate="COMMENTS">comments</span></a>
                       <!-- TODO  <a href="#" class="notes"><img src="images/note-icon.png" alt="Image" /> 3 personal notes</a> -->
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div><!--Topics end-->
    <!--<div class="pro-content activity" id="activity" ng-show="activeTab=='activities'">
        <ul>
            <li>
                <p class="date">16.12.2015 18:07</p>
                <p>Argument added in <a href="#">Topic title from topic comes here and can drop on two lines</a></p>
            </li>
            <li>
                <p class="date">16.12.2015 16:39</p>
                <p>Argument added in <a href="#">non-profit organization ICANN has managed the IP and DNS systems that form the heart of ...</a></p>
            </li>
            <li>
                <p class="date">15.12.2015 12:23</p>
                <p>Argument added in <a href="#">A short topic title</a></p>
            </li>
            <li>
                <p class="date">15.12.2015 09:51</p>
                <p>Argument added in <a href="#">Apple shuts down Twitter analytics service Topsy</a></p>
            </li>
            <li>
                <p class="date">16.12.2015 18:07</p>
                <p>Argument added in <a href="#">Topic title from topic comes here and can drop on two lines</a></p>
            </li>
            <li>
                <p class="date">16.12.2015 16:39</p>
                <p>Argument added in <a href="#">non-profit organization ICANN has managed the IP and DNS systems that form the heart of ...</a></p>
            </li>
            <li>
                <p class="date">15.12.2015 12:23</p>
                <p>Argument added in <a href="#">A short topic title</a></p>
            </li>
        </ul>
    </div>--><!--activity end-->
</div>
<script>
    $(function(){
        var fh=$(".dummy").offset().top;
		$('.my-profile').css({'height':fh});
		$(window).resize(function(){
			var fh=$(".dummy").offset().top;
			$('.my-profile').css({'height':fh});
		});
    })
</script>
