<div id="dear_user_dialog" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-labelledby="ui-id-5">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close"  style="right: -30px;top: -30px;" role="button" title="Close" ng-click="closeThisDialog()">
            <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
            <span class="ui-button-text">Close</span>
        </button>
    </div>
    <div class="ui-dialog-content ui-widget-content" style="width: 100%; max-height: none; height: auto;">
        <div class="content">
            <h1>Hea kasutaja! </h1>
            <p>Rahvaalgatus.ee on veel väljaarendamisel ja muutub iga tunniga paremaks. Palun aita meil platvormi täiustada, saates tagasisidet või teatades tehnilistest tõrgetest  ekraani all paremas nurgas “?”-nupu kaudu.”</p>

            <h1>Dear user! </h1>
<p>Rahvaalgatus.ee is in beta version and improves with every hour. Please help us to develop the platform further by sending feedback or reporting errors by clicking on the “?”-button in the corner of the page.”</p>
<h1>Дорогой пользователь! </h1>
<p>Наша платформа еще находится на доработке, и с каждым часом становится лучше. Пожалуйста, помогите нам устранить все недочеты, отправив обратную связь или сообщив о технической ошибке, нажав на "?" в правом нижнем углу.</p>
           </div>
    </div>
    <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
