<div ng-controller="AddEmailCtrl">
<a ng-click="closeFinalizeDialog()"><img src="images/profile-close.png" alt="Image" /></a>
    <h2 translate="LBL_EMAIL">E-MAIL ADDRESS</h2>
    <p translate="PLEASE_FILL_EMAIL">Please also fill in your e-mail address</p>
    <form >
        <p><input ng-model="form.email" type="email" placeholder="{{'PLACEHOLDER_EMAIL'| translate}}"></p>
        <p><input ng-click="submit()" type="submit" value="{{'FINALISE_REGISTRATION'| translate}}"></p>
    </form>
</div>
    <script>
        $(function(){
            $(".login, .log-pop").show();
        });

    </script>
