<div id="popup" ng-controller="GroupPermissionsViewCtrl">
    <div class="inline" style="width:725px;">
        <div class="buttons">
            <div class="btn-close" ng-click="closeThisDialog()">&nbsp;</div>
        </div>
        <!--/buttons-->

        <h2 class="no_border"><span class="gray" translate="HEADING_IN_GROUP">in group:</span> <i>{{group.name}}</i></h2>

        <table class="header">
            <tr>
                <td>
                    <div href="#" class="tab">
                        <span class="title" translate="{{ 'HEADING_USERS_N' | translate: members }}">Users (0)</span>
                        <!--a href="" class="TODO" ng-show="isAdmin()">Invite more users</a-->
                    </div>
                </td>
                <td>
                    <!--div class="search_field TODO">
                        <input type="text" placeholder="{{'PLACEHOLDER_SEARCH_TOPIC' | translate}}" />
                    </div-->
                </td>
            </tr>
        </table>
        <table class="list">
            <tr>
                <th translate="TH_PROFILE">Profile</th>
                <th translate="TH_RIGHTS">Rights</th>
                <th ng-show="isAdmin()" translate="TH_REMOVE">Remove</th>
            </tr>
        </table>
        <!--/list-->
        <div class="scroller">
            <table class="list">
                <tr ng-repeat="user in members.rows">
                    <td>
                        <div class="image icon-user">
                            <img ng-src="{{user.imageUrl}}"/>
                        </div>
                        <div class="description">
                            {{user.name}}<br>
                            <span class="gray" ng-show="user.company">{{user.company}}</span>
                        </div>
                    </td>
                    <td>
                        <div ng-show="!isAdmin()">
                            {{'TXT_GROUP_LEVELS_' + user.level | uppercase | translate}}
                        </div>
                        <div toru-select on-select="setUserLevel(user, selected)" class="dropdown" ng-show="isAdmin()">
                            <div class="active">{{'TXT_GROUP_LEVELS_' + user.level | uppercase | translate}}</div>
                            <div class="more">
                                <a href="" toru-select-item="level" ng-repeat="level in LEVELS" ng-click="setGroupUserLevel(user, level)">{{'TXT_GROUP_LEVELS_' + level | uppercase | translate}}</a>
                            </div>
                        </div>
                    </td>
                    <td ng-show="isAdmin()">
                        <button class="remove" ng-click="delete($index)" translate="BTN_REMOVE">Remove</button>
                    </td>
                </tr>
            </table>
        </div>
        <!--/scroller-->
    </div>
    <!--/inline-->
</div>
<script type="text/javascript">
    // Not the most elegant solution, find a better one.
    setTimeout(function () {
        $('#popup').popup();
    }, 100);
</script>
