<div id="popup" ng-controller="GroupTopicsAddCtrl">
    <div class="inline" style="width:725px;">
        <div class="buttons">
            <div class="btn-close" ng-click="closeThisDialog()">&nbsp;</div>
        </div>
        <!--/buttons-->

        <h2 class="no_border"><span class="gray" translate="HEADING_ADD_TOPICS_TO">Add topics to:</span> {{group.name}}</h2>

        <table class="header">
            <tr>
                <td>
                    <div href="#" class="tab">
                        <span class="title" translate="{{'HEADING_TOPICS_N' | translate: topicList}}">Topics (0)</span>
                        <a href="" ui-sref="topics.create" ng-click="closeThisDialog()" translate="LNK_CREATE_A_TOPIC">Create a topic</a>
                    </div>
                </td>
                <td>
                    <!--div class="search_field TODO">
                        <input type="text" placeholder="{{'PLACEHOLDER_SEARCH_TOPIC' | translate}}" />
                    </div-->
                </td>
            </tr>
        </table>
        <table class="list">
            <tr>
                <th translate="TH_TITLE">Title</th>
                <th translate="TH_USERS">Users</th>
                <th translate="TH_ADD">Add</th>
            </tr>
        </table>
        <!--/list-->
        <div class="scroller">
            <table class="list">
                <tr ng-repeat="topic in topicList.rows">
                    <td>{{topic.title}}</td>
                    <td><u>{{topic.members.users.count}}</u></td>
                    <td>
                        <button ng-class="!isTopicAdded(topic) ? 'button-remove' : 'button-add'"
                                ng-disabled="topic.permission.level != 'admin'" ng-click="updateTopicList(topic)" translate="BTN_ADD">Add
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <!--/scroller-->
    </div>
    <!--/inline-->
</div>
<script type="text/javascript">
    // Not the most elegant solution, find a better one.
    setTimeout(function () {
        $('#popup').popup();
    }, 100);
</script>
