<div id="home_video_dialog" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="home video" aria-labelledby="ui-id-5">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close"  style="right: -30px;top: -30px;" role="button" title="Close" ng-click="closeThisDialog()">
            <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
            <span class="ui-button-text">Close</span>
        </button>
    </div>
    <div class="ui-dialog-content ui-widget-content" style="width: 100%; max-height: none; height: auto;">
        <div class="videoWrapper">
        <iframe ng-show="app.language === 'et'" class="home_video_frame" width="560" height="315" style="width:100%; height:auto; " src="https://www.youtube.com/embed/za230fHP6pg" frameborder="0" allowfullscreen></iframe>
        <iframe ng-show="app.language === 'en'" class="home_video_frame" width="560" height="315" style="width:100%; height:auto; " src="https://www.youtube.com/embed/GRMIMhrOYPk" frameborder="0" allowfullscreen></iframe>
        <iframe ng-show="app.language === 'ru'" class="home_video_frame" width="560" height="315" style="width:100%; height:auto; " src="https://www.youtube.com/embed/i22TDW0lXYQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>

</div>
<style>
    .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
</style>
<script>
    $(function() {
    var $allVideos = $(".home_video_frame"),
    $fluidEl = $(".ui-dialog");

	$allVideos.each(function() {
            console.log(this);
	  $(this)
	    // jQuery .data does not work on object/embed elements
	    .attr('data-aspectRatio', this.height / this.width)
	    .removeAttr('height')
	    .removeAttr('width');

	});

	$(window).resize(function() {

	  var newWidth = $fluidEl.width();
	  $allVideos.each(function() {

	    var $el = $(this);
	    $el
	        .width(newWidth)
	        .height(newWidth * $el.attr('data-aspectRatio'));

	  });

	}).resize();

});
</script>
