<div class="my-profile edit">
    <div class="clearfix header">
        <img ng-src="{{form.imageUrl || app.user.imageUrl || 'images/icon-user-big.png'}}"/>
        <p>{{app.user.name}}</p>
        <a href="#" class="profile-close" ng-click="closeThisDialog()"><img src="images/profile-close.png" alt="Image" /></a>
        <form ng-controller="ProfileEditCtrl">
            <p><input type="text" placeholder="{{'PLACEHOLDER_FULL_NAME' | translate}}" ng-model="form.name" required/>
                <div class="error_message" ng-show="errors.name">
                    <span translate="{{errors.name}}"></span>
                </div>
            </p>
            <p><input type="text" placeholder="{{'PLACEHOLDER_EMAIL' | translate}}" ng-model="form.email" required/>
                <div class="error_message" ng-show="errors.email">
                    <span translate="{{errors.email}}"></span>
                </div>
            </p>
            <p>
            	<select name="userlang" ng-model="userlanguage" ng-change="app.setLanguage(userlanguage)">
                    <option ng-repeat="(key, value) in app.languagesAvailable" value="{{key}}" ng-selected="app.language == key">{{value |translate}}</option>
                </select>
            </p>
            <p><input type="submit" type="submit" class="button secondary"
                                    ng-click="submit()"
                                    ng-disabled="profileEditForm.$invalid" translate="BTN_SAVE" /></p>
            <p><a href="#" class="cancel" translate="CANCEL">Cancel</a></p>
        </form>
    </div>
</div>
<script>
    $(function(){
        var fh=$(".dummy").offset().top;
        $('.my-profile.edit').css({'height':fh});
        $(window).resize(function(){
                var fh=$(".dummy").offset().top;
                $('.my-profile.edit').css({'height':fh});
        });
    })
</script>
