<div class="confirmation">
    <div class="inline">
        <h2 translate="HEADING_ARE_YOU_SURE">Are you sure you want to continue?</h2>

        <p translate="TXT_NO_UNDO">Please keep in mind you cannot undo this action.</p>
        <ul>
            <li translate="TXT_TOPIC_ACCESS_REMOVED">You cannot participate in the Topic any more.</li>
            <li translate="TXT_TOPIC_ACCESS_ADMIN_CAN_ADD_BACK">Topic administrator can add you back later if needed.</li>
        </ul>
        <div class="buttons">
            <button class="button highlight-5" ng-click="closeThisDialog()" translate="BTN_NO_LEAVE">NO, DON'T LEAVE THE TOPIC</button>
            <button class="button highlight-4" ng-click="confirm()" translate="BTN_YES_LEAVE">YES, LEAVE THE TOPIC</button>
        </div>
        <!--/buttons-->
    </div>
    <!--/inline-->
</div>
