<div id="popup">
<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="invitepop" aria-labelledby="ui-id-40" style="position: absolute; height: auto; width: 680px; top: 50px; left: 612px;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
    <span id="ui-id-40" class="ui-dialog-title" translate="INVITE_PEOPLE">INVITE PEOPLE</span>
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close" ng-click="closeThisDialog()">
        <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
        <span class="ui-button-text" translate="CLOSE">Close</span>
    </button>
</div>
<div id="invitepop" class="invits ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: auto;">
    <form method="post" ng-controller="TopicUsersInviteFormCtrl" ng-init="init($parent.ngDialogData)">
    <div class="sign-inner">
                <typeahead class="auto-complete ui-autocomplete-input" items="searchResults.all" term="searchString"
                           search="search(term)"
                           select="selectMember(item)"
                           placeholder="{{'PLACEHOLDER_USERNAME_EMAIL_OR_GROUP' | translate}}"
                           label="{{!!topic.tokenJoin ? ('LBL_INVITE_USERS_AND_GROUPS' | translate) : null}}">
                    <div class="ac-dropdown" ng-cloak>
                        <div class="ac-dataset" ng-show="searchResults.users.length">
                            <h5 class="ac-topic" translate="HEADING_USERS">Users</h5>

                            <div class="ac-suggestions">
                                <div class="ac-suggestion" typeahead-item="user" ng-repeat="user in searchResults.users">{{user.name}}</div>
                            </div>
                        </div>
                        <div class="ac-empty-message" ng-show="!searchResults.users.length && !searchResults.groups.length" translate="TXT_NO_RESULTS_FOUND">
                            No results found
                        </div>
                    </div>
                </typeahead>
                <table class="list users" ng-show="invite.users.length">
                    <tr ng-repeat="user in invite.users">
                        <td>
                            <div class="image icon-user">
                                <img ng-src="{{user.imageUrl}}"/>
                            </div>
                            <div class="description">
                                {{user.name}}<br>
                                <span class="gray">{{user.company}}</span>
                            </div>
                            <!--/description-->
                        </td>
                        <td>
                            <button class="remove" ng-click="removeUser($index)" translate="BTN_REMOVE">Remove</button>
                        </td>
                    </tr>
                </table>
           <p><textarea>{{'ADD_OPTIONAL_MESSAGE_FOR_INVITE' | translate}}</textarea></p>
           <div class="submit"><button class="sign-inner input" ng-click="submit(); closeThisDialog();"
                        ng-disabled="!isInvited()" translate="BTN_SEND_INVITE">SEND INVITE
                </button></div>


    </div>
    </form>
</div>

<div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
<div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
<div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
<div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
<div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
<div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-41" tabindex="0" style="display: none;"></ul>
</div>
</div>
