<!-- FIXME: This is an hax template, the right one has not arrived - https://bitbucket.org/skeefee/citizenos/issue/14/dashboard-group-and-users-view-missing -->
<div id="popup" class="ngdialog-overlay" ng-controller="TopicPermissionsCtrl">
    <div class="inline" style="width: 725px">
        <div class="buttons">
            <div class="btn-close" ng-click="closeThisDialog()">&nbsp;</div>
        </div>

        <h2 class="no_border"><span class="gray" translate="HEADING_IN_TOPIC">in topic:</span> <i>{{topic.title}}</i></h2>

        <table class="header">
            <tr>
                <td>
                    <div href="#" class="tab" ng-class="{deactive: !showUserTab}" ng-click="doShowUserTab()">
                        <span class="title" translate="{{'HEADING_USERS_N' | translate: topicUsers }}">Users (0)</span>
                    </div>
                </td>
                <td style="width:1em">
                    <div href="#" class="tab" ng-class="{deactive: showUserTab}" ng-click="doShowGroupTab()">
                        <span class="title" translate="{{'HEADING_GROUPS_N' | translate: topicGroups }}">Groups (0)</span>
                    </div>
                </td>
                <td>
                    <!--div class="search_field TODO">
                        <input type="text" placeholder="{{'PLACEHOLDER_SEARCH_TOPIC' | translate}}" />
                    </div-->
                </td>
            </tr>
        </table>
        <table class="list">
            <tr>
                <th translate="TH_PROFILE">Profile</th>
                <th translate="TH_RIGHTS">Rights</th>
                <th ng-show="isAdmin()" translate="TH_REMOVE">Remove</th>
            </tr>
        </table>

        <div class="scroller">
            <table class="list" ng-show="showUserTab">
                <tr ng-repeat="user in topicUsers.rows">
                    <td>
                        <div class="image icon-user">
                            <img ng-src="{{user.imageUrl}}"/>
                        </div>
                        <div class="description">
                            {{user.name}}<br>
                            <span class="gray">{{user.company}}</span>
                        </div>
                    </td>
                    <td>
                        <div ng-show="!isAdmin()">
                            {{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}
                        </div>
                        <div toru-select on-select="setUserLevel(user, selected)" class="dropdown" ng-show="isAdmin()">
                            <div class="active">{{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}</div>
                            <div class="more">
                                <a href="" toru-select-item="level" ng-repeat="level in LEVELS">{{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}</a>
                            </div>
                        </div>
                    </td>
                    <td ng-show="isAdmin()">
                        <button class="remove" ng-click="deleteMemberUser(user.id)" translate="BTN_REMOVE">Remove</button>
                    </td>
                </tr>
            </table>
            <table class="list" ng-show="!showUserTab">
                <tr ng-repeat="group in topicGroups.rows">
                    <td>
                        <div class="image icon-groups">&nbsp;</div>
                        <div class="description">
                            {{group.name}}
                        </div>
                    </td>
                    <td>
                        <div ng-show="!isAdmin()">
                            {{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}}
                        </div>
                        <div toru-select on-select="setGroupLevel(group, selected)" class="dropdown" ng-show="isAdmin()">
                            <div class="active">{{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}}</div>
                            <div class="more">
                                <a href="" toru-select-item="level" ng-repeat="level in LEVELS">{{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}</a>
                            </div>
                        </div>
                    </td>
                    <td ng-show="isAdmin()">
                        <button class="remove" ng-click="deleteMemberGroup(group.id)" translate="BTN_REMOVE">Remove</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Not the most elegant solution, find a better one.
    setTimeout(function () {
        $('#popup').popup();
    }, 100);
</script>
