<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-labelledby="ui-id-5" style="position: absolute; height: auto; width: 640px; top: 328px; left: 732px; display: block;">
  <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
    <span id="ui-id-5" class="ui-dialog-title" translate="POST_INITIATIVE_UPDATE">
      Post an update on the initiative
    </span>
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close" ng-click="closeThisDialog()"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">Close</span></button>
  </div>
  <div class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 110px; max-height: none; height: auto;">
    <div class="arg-form" style="margin:0;padding:1em">
      <form ng-submit="postEvent(event)" name="newEventForm">
        <p>
          <label translate="POST_INITIATIVE_TITLE">Subject</label>
          <input type="text" ng-model="event.subject" required />
        </p>
        <p>
          <label translate="POST_INITIATIVE_TEXT">Text</label>
          <textarea ng-model="event.text" required></textarea>
        </p>
        <p class="clearfix">
          <button type="submit" class="right" ng-disabled="newEventForm.$invalid||savingEvent" translate="BTN_POST_UPDATE">POST UPDATE</button>
          <button type="button" class="left" ng-disabled="savingEvent" ng-click="closeThisDialog()" translate="BTN_CANCEL">CANCEL</button>
        </p>
        <p ng-if="savingError" class="error">
          <br/>
          <span translate="FAILED_TO_SAVE_INITIATIVE">Failed to save</span>
          <span>({{savingError}})</span>
        </p>
      </form>
    </div>
  </div>
</div>
