<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-labelledby="ui-id-5" style="position: absolute; height: auto; width: 640px; top: 328px; left: 732px; display: block;">
  <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
    <span id="ui-id-5" class="ui-dialog-title" translate="POST_INITIATIVE_UPDATE">
      Post an update on the initiative
    </span>
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close" ng-click="closeThisDialog()"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">Close</span></button>
  </div>
  <div class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 110px; max-height: none; height: auto;">
    <h1>blah!</h1>
  </div>
</div>
