#popup(ng-controller="GroupTopicsAddCtrl")
	.inline(style="width:725px;")
		.buttons
			.btn-close(ng-click="closeThisDialog()")  
		// /buttons
		h2.no_border
			span.gray(translate="HEADING_ADD_TOPICS_TO") Add topics to:
			|  {{group.name}}
		|         
		table.header
			tr
				td
					.tab(href="#")
						span.title(translate="{{'HEADING_TOPICS_N' | translate: topicList}}") Topics (0)
						|                         
						a(href="", ui-sref="topics.create", ng-click="closeThisDialog()", translate="LNK_CREATE_A_TOPIC") Create a topic
				|                 
				td
					//
						div class="search_field TODO">
						<input type="text" placeholder="{{'PLACEHOLDER_SEARCH_TOPIC' | translate}}" />
						</div
		|         
		table.list
			tr
				th(translate="TH_TITLE") Title
				|                 
				th(translate="TH_USERS") Users
				|                 
				th(translate="TH_ADD") Add
		// /list
		.scroller
			table.list
				tr(ng-repeat="topic in topicList.rows")
					td {{topic.title}}
					|                     
					td
						u {{topic.members.users.count}}
					|                     
					td
						button(ng-class="!isTopicAdded(topic) ? 'button-remove' : 'button-add'", ng-disabled="topic.permission.level != 'admin'", ng-click="updateTopicList(topic)", translate="BTN_ADD")
							| Add
		// /scroller
	// /inline
script(type="text/javascript").
	// Not the most elegant solution, find a better one.
	setTimeout(function () {
	$('#popup').popup();
	}, 100);
