#popup(ng-controller="GroupTopicsViewCtrl")
	.inline(style="width:725px;")
		.buttons
			.btn-close(ng-click="closeThisDialog()")  
		// /buttons
		h2.no_border
			span.gray(translate="HEADING_IN_GROUP") in group:
			|  
			i {{group.name}}
		|         
		table.header
			tr
				td
					.tab(href="#")
						span.title(translate="{{'Topics (\{\{count\}\})' | translate: topics}}") Topics (0)
						|                         
						a(href="", ui-sref="topics.create", ng-click="closeThisDialog()", translate="LNK_CREATE_A_TOPIC") Create a topic
				|                 
				td
					//
						div class="search_field TODO">
						<input type="text" placeholder="{{'PLACEHOLDER_SEARCH_TOPIC' | translate}}" />
						</div
		|         
		table.list
			tr
				th(translate="TH_TITLE") Title
				|                 
				th(translate="TH_USERS") Users
				|                 
				th(translate="TH_REMOVE") Remove
		// /list
		.scroller
			table.list
				tr(ng-repeat="topic in topics.rows")
					td {{topic.title}}
					|                     
					td
						u {{topic.members.users.count}}
					|                     
					td
						button.remove(ng-disabled="topic.permission.level != 'admin'", ng-click="delete(topic.id)", translate="BTN_REMOVE") Remove
		// /scroller
	// /inline
script(type="text/javascript").
	// Not the most elegant solution, find a better one.
	setTimeout(function () {
	$('#popup').popup();
	}, 100);
