// Not logged-in
div(ng-show="!app.user.isLoading && !app.user.loggedIn")
	a.logo(href="", ui-sref="home")
		img(src="static/imgs/logo.png")
	|             
	.login(ng-show="!app.user.loggedIn")
		form(name="loginForm", ng-controller="LoginFormCtrl")
			.label(ng-class="{error: errors.email}")
				input(type="text", placeholder="{{'PLACEHOLDER_EMAIL' | translate}}", ng-model="form.email", required="")
				|                         
				span.error_message(ng-show="errors.email", translate="{{errors.email}}")
			|                     
			.label(ng-class="{error: errors.password}")
				input(type="password", placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}", ng-model="form.password", required="")
				|                         
				span.error_message(ng-show="errors.password", translate="{{errors.password}}") {{errors.password}}
			|                     
			button.button(type="submit", ng-disabled="loginForm.$invalid", ng-click="submit()", translate="BTN_LOG_IN_REGISTER")
				| LOG
				| IN/REGISTER
			|                     
			a.link(href="", ng-click="doRecoverPassword()", translate="LNK_FORGOT_PASSWORD") Forgot password?
			|                     
			button.button.btn-social-login.login-fb(type="button", ng-click="loginPartner('facebook')", translate="BTN_LOG_IN_FACEBOOK") FACEBOOK LOGIN
			|                     
			button.button.btn-social-login.login-google(type="button", ng-click="loginPartner('google')", translate="BTN_LOG_IN_GOOGLE") GOOGLE LOGIN
// Logged in
.right.login-after(ng-show="!app.user.isLoading && app.user.loggedIn")
	| Hello, Jannus Jaska  |  
	a.open-profile(href="#") My profile
	|   |  
	a(href="#", translate="BTN_LOG_OFF") Log out
