#popup
	.inline(style="width:500px;")
		.buttons
			.btn-close(ng-click="closeThisDialog()")  
		// /buttons
		.scroller
			.form
				form(name="passwordResetForm", ng-controller="PasswordResetFormCtrl")
					h2(translate="HEADING_RESET_YOUR_ACCOUNT_PASSWORD") Reset your account password
					|                     
					p
						span(translate="LBL_EMAIL") E-mail
						| : 
						strong {{passwordResetEmail}}
					|                     
					.label(ng-class="{error: errors.password}")
						.title(translate="LBL_PASSWORD") Password
						|                         
						.element
							input(type="password", placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}", ng-model="form.password")
							|                             
							.error_message(ng-show="errors.password", translate="{{errors.password}}")
						// /element
					|                     
					.label(ng-class="{error: errors.passwordRepeat}")
						.title
							span(translate="LBL_PASSWORD_REPEAT") Repeat password
							|  *
						|                         
						.element
							input(type="password", placeholder="{{'PLACEHOLDER_PASSWORD_REPEAT' | translate}}", ng-model="form.passwordRepeat", required="")
							|                             
							.error_message(ng-show="errors.passwordRepeat", translate="{{errors.passwordRepeat}}")
						// /element
					// /label
					.label
						.title  
						|                         
						.element
							button.button.secondary(type="submit", ng-click="submit()", ng-disabled="passwordResetForm.$invalid", translate="BTN_RESET_PASSWORD")
								| RESET YOUR PASSWORD
						// /element
					// /label
				// /form
		// /scroller
script(type="text/javascript").
