#popup
	.inline(style="width:500px;")
		.buttons
			.btn-close(ng-click="closeThisDialog()")  
		// /buttons
		.scroller
			.form
				h2(translate="HEADING_FORGOT_PASSWORD") Forgot your password?
				|                 
				form(name="passwordForgotForm", ng-controller="PasswordForgotFormCtrl")
					// /label
					.label(ng-class="{error: errors.email}")
						.title
							span(translate="LBL_EMAIL") Email
							|  *
						|                         
						.element
							input(type="text", placeholder="{{'PLACEHOLDER_EMAIL' | translate}}", ng-model="form.email", required="")
							|                             
							.error_message(ng-show="errors.email", translate="{{errors.email}}")
						// /element
					// /label
					.label
						.title  
						|                         
						.element
							button.button.secondary(type="submit", ng-click="submit()", ng-disabled="passwordForgotForm.$invalid", translate="BTN_SEND_RESET_CODE")
								| SEND RESET CODE
						// /element
					// /label
				// /form
		// /scroller
script(type="text/javascript").
