.my-profile.edit
	.clearfix.header
		img(ng-src="{{form.imageUrl || app.user.imageUrl || 'images/icon-user-big.png'}}")
		|         
		p {{app.user.name}}
		|         
		a.profile-close(href="#", ng-click="closeThisDialog()")
			img(src="images/profile-close.png", alt="Image")
		|         
		form(ng-controller="ProfileEditCtrl")
			p
				input(type="text", placeholder="{{'PLACEHOLDER_FULL_NAME' | translate}}", ng-model="form.name", required="")
				|                 
				.error_message(ng-show="errors.name")
					span(translate="{{errors.name}}")
			|             
			p
				input(type="text", placeholder="{{'PLACEHOLDER_EMAIL' | translate}}", ng-model="form.email", required="")
				|                 
				.error_message(ng-show="errors.email")
					span(translate="{{errors.email}}")
			|             
			p
				select(name="userlang", ng-model="userlanguage", ng-change="app.setLanguage(userlanguage)")
					option(ng-repeat="(key, value) in app.languagesAvailable", value="{{key}}", ng-selected="app.language == key") {{value |translate}}
			|             
			p
				input.button.secondary(type="submit", ng-click="submit()", ng-disabled="profileEditForm.$invalid", translate="BTN_SAVE")
			|             
			p
				a.cancel(href="#", translate="CANCEL") Cancel
script.
	$(function(){
	var fh=$(".dummy").offset().top;
	$('.my-profile.edit').css({'height':fh});
	$(window).resize(function(){
	var fh=$(".dummy").offset().top;
	$('.my-profile.edit').css({'height':fh});
	});
	})
