#popup
	.inline(style="width:500px;")
		.buttons
			.btn-close(ng-click="closeThisDialog()")  
		// /buttons
		.scroller
			.form
				form(name="signUpForm", ng-controller="SignUpFormCtrl")
					//
						div class="label TODO">
						<div class="title">Picture</div>
						<div class="element">
						<div class="image-circle">
						<div class="upload">+</div>
						</div>
						</div>
						</div
					// /label
					.label(ng-class="{error: errors.name}")
						.title
							span(translate="LBL_FULL_NAME") Full name
							|  *
						|                         
						.element
							input(type="text", placeholder="{{'PLACEHOLDER_FULL_NAME' | translate}}", ng-model="form.name", required="")
							|                             
							.error_message(ng-show="errors.name")
								span(translate="{{errors.name}}")
						// /element
					|                     
					.label
						.title(translate="LBL_COMPANY") Company
						|                         
						.element
							input(type="text", placeholder="{{'PLACEHOLDER_COMPANY' | translate}}", ng-model="form.company")
							|                             
							.error_message(ng-show="errors.company")
								span(translate="{{errors.company}}")
						// /element
					// /label
					.label(ng-class="{error: errors.email}")
						.title
							span(translate="LBL_EMAIL") Email
							|  *
						|                         
						.element
							input(type="text", placeholder="{{'PLACEHOLDER_EMAIL' | translate}}", ng-model="form.email", required="")
							|                             
							.error_message(ng-show="errors.email")
								span(translate="{{errors.email}}")
						// /element
					// /label
					.label(ng-class="{error: errors.password}")
						.title
							span(translate="LBL_PASSWORD") Password
							|  *
						|                         
						.element
							input(type="password", placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}", ng-model="form.password", required="")
							|                             
							.error_message(ng-show="errors.password")
								span(translate="{{errors.password}}")
						// /element
					// /label
					.label(ng-class="{error: errors.passwordRepeat}")
						.title
							span(translate="LBL_PASSWORD_REPEAT") Repeat password
							|  *
						|                         
						.element
							input(type="password", placeholder="{{'PLACEHOLDER_PASSWORD_REPEAT' | translate}}", ng-model="form.passwordRepeat", required="")
							|                             
							.error_message(ng-show="errors.passwordRepeat")
								span(translate="{{errors.passwordRepeat}}")
						// /element
					// /label
					.label
						.title  
						|                         
						.element
							button.button.secondary(type="submit", ng-click="submit()", ng-disabled="signUpForm.$invalid", translate="BTN_SAVE")
								| SAVE
						// /element
					// /label
				// /form
		// /scroller
script(type="text/javascript").
	setTimeout(function () {
	$('#popup').popup();
	}, 100);
