#popup
	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable(tabindex="-1", role="dialog", aria-describedby="invitepop", aria-labelledby="ui-id-40", style="position: absolute; height: auto; width: 680px; top: 50px; left: 612px;")
		.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle
			span#ui-id-40.ui-dialog-title(translate="CLOSE_TOPIC") Are you sure you want to continue?
			|         
			button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close(type="button", role="button", title="Close", ng-click="closeThisDialog()")
				span.ui-button-icon-primary.ui-icon.ui-icon-closethick
				|             
				span.ui-button-text Close
		|     
		#invitepop.invits.ui-dialog-content.ui-widget-content(style="width: auto; min-height: 0px; max-height: none; height: auto;")
			.confirmation
				.sign-type.clearfix
					p
						strong(translate="HEADING_ARE_YOU_SURE") Are you sure you want to continue?
					|  
					br
				|             
				.sign-inner
					strong(translate="TXT_NO_UNDO") Please keep in mind you cannot undo this action.
					|                 
					p(translate="TXT_TOPIC_BECOMES_UNEDITABLE") The topic is finalized and you cannot edit it's contents.
					|                 
					p(translate="TXT_VOTING_ENDS") Voting ends and further voting is not possible.
					|                 
					.buttons
						button.button.deletetopic.cancel-button(style="width:50%; float:left;", ng-click="closeThisDialog()", translate="BTN_NO_CHANGE_TO_FOLLOWUP")

						button.button.deletetopic.confirm-button(style="width:50%;", ng-click="confirm()", translate="BTN_YES_CHANGE_TO_FOLLOWUP")
