// FIXME: This is an hax template, the right one has not arrived - https://bitbucket.org/skeefee/citizenos/issue/14/dashboard-group-and-users-view-missing
#popup.ngdialog-overlay(ng-controller="TopicPermissionsCtrl")
	.inline(style="width: 725px")
		.buttons
			.btn-close(ng-click="closeThisDialog()")  
		|         
		h2.no_border
			span.gray(translate="HEADING_IN_TOPIC") in topic:
			|  
			i {{topic.title}}
		|         
		table.header
			tr
				td
					.tab(href="#", ng-class="{deactive: !showUserTab}", ng-click="doShowUserTab()")
						span.title(translate="{{'HEADING_USERS_N' | translate: topicUsers }}") Users (0)
				|                 
				td(style="width:1em")
					.tab(href="#", ng-class="{deactive: showUserTab}", ng-click="doShowGroupTab()")
						span.title(translate="{{'HEADING_GROUPS_N' | translate: topicGroups }}") Groups (0)
				|                 
				td
					//
						div class="search_field TODO">
						<input type="text" placeholder="{{'PLACEHOLDER_SEARCH_TOPIC' | translate}}" />
						</div
		|         
		table.list
			tr
				th(translate="TH_PROFILE") Profile
				|                 
				th(translate="TH_RIGHTS") Rights
				|                 
				th(ng-show="isAdmin()", translate="TH_REMOVE") Remove
		|         
		.scroller
			table.list(ng-show="showUserTab")
				tr(ng-repeat="user in topicUsers.rows")
					td
						.image.icon-user
							img(ng-src="{{user.imageUrl}}")
						|                         
						.description
							| {{user.name}}
							br
							|                             
							span.gray {{user.company}}
					|                     
					td
						div(ng-show="!isAdmin()")
							| {{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}
						|                         
						.dropdown(toru-select="", on-select="setUserLevel(user, selected)", ng-show="isAdmin()")
							.active {{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}
							|                             
							.more
								a(href="", toru-select-item="level", ng-repeat="level in LEVELS") {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
					|                     
					td(ng-show="isAdmin()")
						button.remove(ng-click="deleteMemberUser(user.id)", translate="BTN_REMOVE") Remove
			|             
			table.list(ng-show="!showUserTab")
				tr(ng-repeat="group in topicGroups.rows")
					td
						.image.icon-groups  
						|                         
						.description
							| {{group.name}}
					|                     
					td
						div(ng-show="!isAdmin()")
							| {{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}}
						|                         
						.dropdown(toru-select="", on-select="setGroupLevel(group, selected)", ng-show="isAdmin()")
							.active {{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}}
							|                             
							.more
								a(href="", toru-select-item="level", ng-repeat="level in LEVELS") {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
					|                     
					td(ng-show="isAdmin()")
						button.remove(ng-click="deleteMemberGroup(group.id)", translate="BTN_REMOVE") Remove
script(type="text/javascript").
	// Not the most elegant solution, find a better one.
	setTimeout(function () {
	$('#popup').popup();
	}, 100);
