.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable(tabindex="-1", role="dialog", aria-describedby="hashtag", aria-labelledby="ui-id-5", style="position: absolute; height: auto; width: 440px; top: 328px; left: 732px; display: block;")
	.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle
		span#ui-id-5.ui-dialog-title(translate="HASHTAG") HASHTAG
		button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close(type="button", role="button", title="Close", ng-click="closeThisDialog()")
			span.ui-button-icon-primary.ui-icon.ui-icon-closethick
			span.ui-button-text Close
	#hashtag.ui-dialog-content.ui-widget-content(style="width: auto; min-height: 110px; max-height: none; height: auto;")
		.hash-tag
			.hashtag-comment
				h1(translate="SET_HASTAG_FOR_TOPIC") Set the hashtag for this topic
				|             
				input(type="text", ng-model="topic.hashtag")
				|             
				p(translate="HASHTAG_TEXT")
					| Hashtags are used on scialmedia to collect data, messages, etc. Use this hashtag in Facebook or twitter and it will show in the social mentions under the topic.
				|             
				a(href="#", ng-click="submitHashtag()", translate="BTN_SET_HASTAG") SET HASHTAG
	.ui-resizable-handle.ui-resizable-n(style="z-index: 90;")
	.ui-resizable-handle.ui-resizable-e(style="z-index: 90;")
	.ui-resizable-handle.ui-resizable-s(style="z-index: 90;")
	.ui-resizable-handle.ui-resizable-w(style="z-index: 90;")
	.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se(style="z-index: 90;")
	.ui-resizable-handle.ui-resizable-sw(style="z-index: 90;")
	.ui-resizable-handle.ui-resizable-ne(style="z-index: 90;")
	.ui-resizable-handle.ui-resizable-nw(style="z-index: 90;")
