#topic-confirm-follow-up.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable(tabindex="-1", role="dialog", aria-labelledby="ui-id-5", style="position: absolute; height: auto; width: 640px; top: 328px; left: 732px; display: block;")
	.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle
		span.ui-dialog-title(translate="TOPIC_CONFIRM_HEADER")
			button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close(type="button", role="button", title="Close", ng-click="closeThisDialog()")
				span.ui-button-icon-primary.ui-icon.ui-icon-closethick
				span.ui-button-text Close

	.ui-dialog-content.ui-widget-content(style="width: auto; min-height: 110px; max-height: none; height: auto;")
		.arg-form(style="margin:0;padding:1em")
			p.prologue
				span(translate="TXT_TOPIC_BECOMES_UNEDITABLE")
					span(translate="TXT_VOTING_ENDS")

			form(ng-submit="updateTopicStatusToFollowUp(topic)", name="newTopicForm")
				p
					label(translate="LBL_FULL_NAME")
					input(type="text", ng-model="topic.contact.name", required="")

				p
					label(translate="LBL_EMAIL")
					input(type="email", ng-model="topic.contact.email", required="")

				p
					label(translate="PLACEHOLDER_PHONE_NUMBER")
					input(type="text", ng-model="topic.contact.phone", required="")

				p.clearfix
					button.left(type="button", ng-disabled="savingTopic", ng-click="closeThisDialog()", translate="BTN_CANCEL")
					button.right(type="submit", ng-disabled="newTopicForm.$invalid||savingTopic", translate="BTN_SEND_TO_FOLLOWUP")

				p.error(ng-if="savingError")
					span ({{savingError}})
