@font-face {
	font-family: "Tisa Pro Regular";
	font-weight: normal;
	font-style: normal;

	src: url("/fonts/tisapro-regular-webfont.eot");
	src: url("/fonts/tisapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url('/fonts/tisapro-regular-webfont.woff2') format("woff2"), url('/fonts/tisapro-regular-webfont.woff') format("woff"), url('/fonts/tisapro-regular-webfont.ttf') format("truetype"), url('/fonts/tisapro-regular-webfont.svg#tisaproregular') format("svg");
}
