#initiative {
	h1 {
		font-size: 48px;
		font-family: 'MuseoSansCyrl-700';
		line-height: 60px;
		margin-bottom: 20px;
	}
}

.aside-box {
  background: white;
  margin-bottom: 20px;

  a {
    color: $blue;
    line-height: 22px;
    cursor: pointer;

    &:hover { text-decoration: underline; }
  }
}

.aside-box-header {
  background: $light-blue;
  padding: 0 10px;
  line-height: 40px;
  color: white;
  font-family: 'MuseoSansCyrl-700';
  font-size: 14px;

  text-transform: uppercase;
}

.aside-box-list {
  padding: 10px 0;
  margin: 0 10px 10px;
  list-style: none;

  li > a {
    display: block;
  }
}

.aside-category-button {
	margin: 0 0 10px 10px;
	background: transparent url("/images/cat-up.png") no-repeat center right;
	display: block;

	&.active { background-image: url("/images/cat-down.png"); }
}

#initiative-email-subscription {
  padding: 10px;

  h1 {
    margin: -10px -10px 10px;
  }

  label {
    display: block;
    &::after { content: ":"; }
  }

  input[type=email],
	button {
    display: block;
    margin-top: 5px;
    width: 100%;
  }
}

#voting-dialog {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.initiative-tabs {
	li {
		display: inline-block;
		margin: 0 5px;
		position: relative;
		text-align: center;

		a {
			line-height: 38px;
			display: block;
			width: 118px;
			font-size: 14px;
			font-family: 'MuseoSansCyrl-500';
			color: #4A555D;

			background: white;
			border: 1px solid #cecece;
			text-align: center;

			&.active {
				background: #f2f2f2;
				border-bottom-color: #f2f2f2;
			}
		}
	}
}
