$header-background: #312f9d;
$secondary-background: #f2f2f2;
$secondary-light-text: #aaa;
$text: #4A555D;
$title-text: #312f9d;
$link: #339;
$flash-background: #3d434a;
$flash-header-background: #282d33;
$initiatives-section-title-border: #312f9d;
$footer-link: #A09FD0;
$primary-button-background: #339;
$primary-button-border: #339;
$primary-button-text: white;
$secondary-button-background: #45a0e6;
$secondary-button-border: #45a0e6;
$secondary-button-text: white;
$secondary-button-background: #ebebeb;
$secondary-button-border: #ccc;
$secondary-button-text: #339;
$white-button-background: white;
$white-button-border: #cecece;
$white-button-text: #4a555d;

$museo-sans: "Museo Sans Cyrl", sans-serif;
$tisa-pro: "Tisa Pro Regular", serif;
$button-height: 3.6rem;
$button-radius: 0.3rem;
$footer-height: 12rem;
$mobile-width: 569px;
$page-padding: 2rem;
$page-width: 96rem;

@mixin tablet {
  @media only screen and (max-width: 680px) { @content }
}

@mixin mobile {
  @media only screen and (max-width: 350px) { @content }
}
