$blue: #53B1EB;
$footer-height: 12rem;
$header-color: #124267;
$link: #1C71A2;
$page-width: 96rem;
$black-text: #4A555D;
$mobile-width: 569px;
$museo-sans: "Museo Sans Cyrl", sans-serif;
$tisa-pro: "Tisa Pro Regular", serif;

@mixin tablet {
  @media only screen and (max-width: 680px) { @content }
}

@mixin mobile {
  @media only screen and (max-width: 350px) { @content }
}
