// vim: ft=scss

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

*	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

li {
	list-style-type: none;
}

// TODO: Remove image reset.
img	{
	max-width: 100%;
	height: auto;
	vertical-align: top;
	display: inline-block;
}

a	{
	text-decoration: none;
	transition: color ease 0.4s;
	color:#53B1EB;
	cursor: pointer;
}

a[disabled] {
	cursor: auto;
	opacity: 0.7;
	pointer-events: none;
}

button, input[type=submit] { cursor: pointer }
