@import "_lib";
@import "_fonts";

$base-1: #252525;
$base-2: #f6f6f6;
$base-3: #ffffff;
$base-4: #1a1a1a;
$base-5: #ff1d42;
$base-6: #000000;
$base-7: #ececec;
$base-8: #767676;
$base-9: #292929;
$base-10: #f2f2f2;

body{
	color: $black-text;
}

#editorcontainer {
  overflow: hidden;
}

.timeslider-bar {
  background: none;
}

#outerdocbody {
  overflow: hidden;
  background: none;
}

/** iframe #ace_inner **/
#innerdocbody, #padcontent {

    background: none;

  * {
    font-family: $tisa-pro;
    font-size: 16px;
    line-height: 175%;
  }

  h1, h2, h3 {
    * {
      font-family: $museo-sans;
			font-weight: bold;

      margin: 0;
      line-height: 120%;
    }
  }

  h1 * {
    font-size: 2.19em;
  }

  h2 * {
    font-size: 1.6425em;
  }

  h3 * {
    font-size: 1.231875em;
  }

  code * {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif
  }
}

#epAuthorshipToggleAuthorList {
  font-family: bold, sans-serif;
  background: $base-2;
}

#padpage {
  #timeslider-top {
    background: $base-2;

    * {
      font-family: bold, sans-serif;
    }

    #steppers .stepper {
      font-family: fontawesome-etherpad;
    }
  }
}

/** Chat flickers on load, don't want that **/
#chatbox, #chaticon {
  display: none !important;
}

.popup, #users, #connectivity {
  background: $base-2;
  border-top: 1px solid $base-2;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0;
  z-index: 1500 !important;
  margin-top: -1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
