// vim: ft=scss
$light-blue: #45a0e6;
$blue: #53B1EB;

@import "reset";
@import "potpourri";

body {
	height: 100%;
	width: 100%;
	font-family: 'MuseoSansCyrl-300';
	font-size: 14px;
	color: #4A555D;
	line-height: 1;
}

.aside-box {
  background: white;
  margin-bottom: 20px;

  a {
    color: $blue;
    line-height: 22px;
    cursor: pointer;

    &:hover { text-decoration: underline; }
  }
}

.aside-box-header {
  background: $light-blue;
  padding: 0 10px;
  line-height: 40px;
  color: white;
  font-family: 'MuseoSansCyrl-700';
  font-size: 14px;

  text-transform: uppercase;
}

.aside-box-list {
  padding: 10px 0;
  //border-bottom: 1px solid #d8d8d8;
  margin: 0 10px 10px;
  list-style: none;

  li > a {
    display: block;
  }
}

.aside-category-button {
	margin: 0 0 10px 10px;
	background: transparent url("/images/cat-up.png") no-repeat center right;
	display: block;

	&.active { background-image: url("/images/cat-down.png"); }
}
