@import "_lib";
$page-padding: 20px;
$page-padding: 2rem;
$light-blue: #45a0e6;
$dark-blue: #3390d7;
$grey-background: #f2f2f2;
$darker-grey-background: #e8e8e8;
$button-height: 3.6rem;
$button-radius: 0.3rem;
$flash-header-color: #282d33;
$flash-body-color: #3d434a;
$museo-sans: "Museo Sans Cyrl", sans-serif;
$tisa-pro: "Tisa Pro Regular", serif;

@import "reset";
@import "_fonts";

html,
body {
	height: 100%;
}

body {
	font-family: $museo-sans;
	font-weight: 300;
	font-size: 1.4rem;
	color: $black-text;
}

center {
	max-width: $page-width + 4rem;
	padding-left: $page-padding;
	padding-right: $page-padding;
	margin: 0 auto;
	text-align: inherit;

	// Internet Explorer still centers <p>s under <center> even with
	// text-align: inherit.
	& > p { margin-right: auto }

	@include tablet {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.left { float: left; }
.right { float: right; }

.grey-section,
.white-section,
.text-section {
	padding-top: 4rem;
	padding-bottom: 4rem;

	@include tablet {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

.grey-section {
	background-color: $grey-background;
}

.white-section {
	background-color: white;
}

.text {
	line-height: 1.4;

	h1 {
		font-size: 3.4rem;
		color: $link;
		font-family: $museo-sans;
		line-height: 1.2;
	}

	h1 + p {
		margin-top: 2rem;
	}

	h2,
	h3 {
		font-family: $museo-sans;
		font-weight: bold;
	}

	h2 {
		margin: 2rem 0 1rem;
		font-size: 3.0rem;
	}

	h3 {
		margin: 2rem 0 1rem;
		font-size: 2.2rem;
	}

	p {
		line-height: 1.5;

		& + p {
			margin-top: 2rem;
		}
	}

	strong {
		// Rahvaalgatus lacks weights other than normal for Tisa Pro.
		font-size: 1.7rem;
		font-family: $museo-sans;
		font-weight: bold;
	}

	em { font-style: italic; }
	u { text-decoration: underline; }

	a {
		color: $blue;
		&:hover { text-decoration: underline; }
	}

	ol, ul {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	li {
		margin-left: 2rem;
		list-style-position: outside;
	}

	ul > li { list-style-type: disc; }
	ol > li { list-style-type: decimal; }

	form {
		margin-top: 1rem;
	}
}

.text-section {
	@extend .text;

	p {
		white-space: pre-wrap;
	}

	.form-input,
	.form-textarea {
		width: 100%;
		max-width: 64rem;
	}
}

button.inherited {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;

	border: none;
	background: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

.green-button,
.blue-button,
.yellow-button,
.white-button {
	border-radius: $button-radius;
	border: 0px solid transparent;
	display: inline-block;
	font-family: $museo-sans;
	font-weight: bold;
	font-size: 1.3rem;
	height: $button-height;
	padding: 0 2rem;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;

	&:not(button) { line-height: $button-height; }

	i {
		margin-right: 1rem;
		margin-left: -1rem;
	}
}

.green-button {
	background: #00cb81;
	color: white;
	border: 1px solid #02b071;
}

.blue-button {
	background: $light-blue;
	color: white;
}

.yellow-button {
	background: #ffb400;
	color: #4a555d;
	border: 1px solid #f1aa01;
}

.white-button {
	background: white;
	border: 1px solid #cecece;
	color: #4a555d;
}

.form-label,
.form-input,
.form-textarea,
.form-submit {
	line-height: 1.5;
	font-size: 14px;
	font-family: $museo-sans;
	font-weight: 500;
}

.form-input ~ .form-submit {
	margin-top: 1rem;
}

.form-input ~ .form-checkbox {
	margin-top: 1rem;
}

.form-label {
	display: inline-block;
	font-weight: bold;

	& ~ .form-label {
		margin-top: 1rem;
	}
}

.form-input {
	border: 1px solid #cecece;
	height: $button-height;
	padding: 0 1rem;

	background: white;
	color: #4a555d;
	border-radius: $button-radius;
}

.form-textarea {
	border: 1px solid #cecece;
	padding: 0.5rem 1rem;
	min-height: 10rem;

	background: white;
	color: #4a555d;
	border-radius: $button-radius;
}

.form-checkbox {
	display: block;
	cursor: pointer;

	input[type=checkbox] {
		margin: 0;
		margin-right: 1rem;
		width: 2rem;
		height: 2rem;
		display: inline-block;
		vertical-align: middle;
	}
}

.icon-twitter {
	float: left;
	background: url(/images/twitter.png) no-repeat center;
	width: 22px;
	height: 100%;
	background-size: 100%;
}

.flash:not(:empty) {
	background: $flash-header-color;
	padding: 1.2rem 2rem;
	color: white;
	border-radius: $button-radius;
	margin-top: 1rem;
	margin-bottom: 1rem;
	white-space: pre-wrap;
}

#header {
	background: $header-color;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	color: white;

	menu {
		margin-bottom: 2rem;
		overflow: hidden;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-family: $museo-sans;
		font-weight: normal;

		.user {
			text-transform: none;
		}

		form {
			display: inline;

			&:before { margin: 0 1rem; content: "|"; }
		}
	}

	.logo {
		display: block;
		width: 18rem;
		height: inherit;
		margin-right: 2rem;

		float: left;

		img { width: 100%; }
	}

	nav li {
		display: inline;

		& + li { margin-left: 1rem; }
	}

	nav a {
		display: inline-block;
		font-size: 1.6rem;
		padding: 0.5rem 1rem;
		border-radius: 2px;
		transition: color ease 0.4s;

		&.selected,
		&:hover {
			background-color: white;
			color: #45A0E6;
		}
	}

	@include tablet {
		menu { margin-bottom: 1rem; }
		.logo { float: none; }

		nav li {
			margin-right: 0.5rem;
			& + li { margin-left: 0; }
		}

		nav a {
			font-size: 1.4rem;
			line-height: 1;
			padding: 0.5rem 0.7rem;
		}
	}
}

#main {
	min-height: 100%;
	height: auto;
	padding-bottom: $footer-height;
	margin-bottom: -$footer-height;
}

#home-page {
	$half-width: 48rem;

	#welcome {
		background: url(/images/hero-bg.png) no-repeat right center;
		background-position: calc(50% + 450px) center;

		// Overflow: hidden for video and create links' floats.
		overflow: hidden;

		h1 {
			max-width: $half-width;
		}

		p {
			margin-bottom: 2rem;
			max-width: $half-width;
		}
	}

	#create-link {
		float: right;
		line-height: 30px;

		font-family: $museo-sans;
		font-weight: 900;
		font-size: 16px;
		color: #ffd900;
		border-bottom: 1px solid #ffd900;
	}

	#video-link {
		line-height: 22px;
		color: #45A0E6;
		font-family: $museo-sans;
		font-weight: 900;
		font-size: 16px;
		text-transform: uppercase;
		max-width: $half-width;
		display: block;
		float: left;

		.icon {
			float: left;
			width: 5rem;
			height: 5rem;
			background: url(/images/home-video-icon.png) no-repeat right center;
			background-size: 5rem;
		}

		span {
			display: block;
			margin-left: 6rem;
			padding-top: 0.5rem;
		}
	}

	#initiatives {
		$initiative-width: 22.5rem;

		h2 {
			font-size: 2rem;
			line-height: 3rem;
			color: $link;
			border-bottom: 1px solid #00cb81;
			text-align: right;
			font-family: $museo-sans;
			font-weight: 900;
			text-transform: uppercase;
			max-width: $initiative-width;

			margin-bottom: -3rem;

			& ~ h2 {
				margin-top: 4rem;
			}

			@include tablet {
				text-align: left;
				margin-bottom: 2rem;
			}
		}

		.initiatives {
			overflow: hidden;
			margin-left: $initiative-width;

			@include tablet {
				margin-left: 0;
			}
		}

		.initiative {
			background: white;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
			transition: all ease 0.5s;

			width: $initiative-width;
			float: left;
			padding: 1rem 2rem 0;
			margin-left: 2rem;
			margin-bottom: 2rem;

			@include tablet {
				margin-left: 0;
				margin-right: 2rem;
			}

			a {
				display: block;
			}

			time,
			.author {
				color: #AAAAAA;
				font-size: 1.4rem;
				font-family: $tisa-pro;
			}

			h3 {
				font-size: 17px;
				color: #4F4F4F;
				line-height: 1.5;
				margin-top: 1rem;
				word-wrap: break-word;
				min-height: 16rem;
			}

			&:hover {
				box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
				h3 { color: $link; }
			}

			.progress {
				display: block;

				margin: 0.5rem -2rem 0;
				padding: 1rem 2rem 0.8rem;
				font-size: 1.3rem;
				line-height: 1;
				font-family: $museo-sans;
				font-weight: bold;
				color: #3a434a;

				background-color: #eee;
				background-repeat: no-repeat;
			}

			&.discussable .progress.completed {
				background-color: #ffb400;
				background-image: url(/images/discussion-over.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.votable .progress.completed {
				color: white;
				background-color: #00cb81;
				background-image: url(/images/vote-success.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.votable .progress.failed {
				color: white;
				background-color: #9a9a9a;
				background-image: url(/images/vote-failed.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.processable .progress {
				color: #1C71A2;
				background-image: url(/images/clock.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}
		}
	}

	@include tablet {
		#welcome {
			background: none;
		}

		#welcome h1,
		#welcome p { max-width: none; }

		#video-link,
		#create-link {
			float: none;
			display: inline-block;
		}

		#video-link {
			display: block;
			margin-bottom: 2rem;
		}
	}
}

#initiative-create-page #initiative {
	$new-initiative-background-height: 515px;

	center {
		position: relative;
	}

	background: url(/images/bg-1.png) no-repeat;
	background-position: calc(50% - 200px) top;
	min-height: $new-initiative-background-height;

	.step-counter { position: absolute; top: -10px; left: -60px; }

	form {
		input[name=title] {
			display: block;
			width: 100%;
			font-size: 2rem;
			height: 4.4rem;
		}
	}
}

#initiative-page {
	background-color: $grey-background;

	.grey-section + .grey-section {
		padding-top: 0;
	}

	#initiative-tabs {
		padding-top: 4rem;
		background: $grey-background;
		border-bottom: 1px solid #cecece;

		.tab {
			display: inline-block;
			text-align: center;
			line-height: 4rem;

			width: 12rem;
			font-size: 14px;
			font-family: $museo-sans;
			color: #4A555D;

			background-color: $grey-background;
			border: 1px solid #cecece;
			text-align: center;
			margin-bottom: -1px;

			&.selected {
				background-color: white;
				border-bottom: 1px solid white;
			}

			& + a { margin-left: 1rem; }
		}

		.button {
			height: 3.5rem;
			margin-left: 1rem;

			&:not(button) { line-height: 3.5rem; }
		}

		menu {
			float: right;
		}

		form {
			display: inline;
		}

		@include tablet {
			menu {
				float: none;
				display: block;
			}

			.button {
				margin: 0 1rem 1rem 0;
			}
		}
	}

	#initiative,
	#initiative-events,
	#initiative-signature {
		overflow: hidden;

		header {
			font-family: $museo-sans;
			font-size: 1.4rem;
			color: #999;
		}

		h1 {
			font-size: 4.4rem;
			color: $link;
			font-family: $museo-sans;
			line-height: 1.2;

			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}

	#initiative {
		article {
			font-size: 1.8rem;
			font-family: $tisa-pro;
			max-width: 72rem;

			.deadline {
				text-transform: capitalize;
			}

			// Etherpad generates non-standard HTML by putting a nested <ol> directly
			// under <ul>.
			ol ol,
			ul ul,
			ol ul,
			ul ol {
				margin-left: 2rem;
			}

			a {
				color: $blue;
				text-decoration: underline;
			}
		}
	}

	#initiative-etherpad {
		width: 100%;
	}

	#initiative-signed {
		background: $flash-body-color;
		color: white;
		border-radius: $button-radius;
		margin-bottom: 2rem;

		h2, p {
			padding: 1.2rem 2rem;
		}

		h2 {
			border-top-left-radius: $button-radius;
			border-top-right-radius: $button-radius;
			background: $flash-header-color;
		}

		a {
			text-decoration: underline;
		}
	}

	#initiative-comments,
	#initiative-vote {
		h2 {
			font-family: $museo-sans;
			font-weight: bold;
			font-size: 2.8rem;
			margin-bottom: 1rem;
		}
	}

	#initiative-vote {
		margin-top: 4rem;
		border-top: 1px solid #ccc;
		padding-top: 2rem;
		overflow: hidden;

		form {
			float: left;
			margin-top: 1rem;
			margin-right: 1rem;

			input, button { margin-top: 0.5rem; }
		}
	}

	#initiative-subscribe {
		h2 {
			margin-bottom: 0.5rem;
			font-family: $museo-sans;
			font-size: 1.6rem;
		}

		input[type=email],
		button {
			display: inline-block;
		}

		input[type=email] {
			width: 100%;
			max-width: 24rem;
		}

		button {
			margin-left: 1rem;
		}
	}

	#initiative-comments {
		.comments,
		form {
			max-width: 72rem;
		}

		.comments {
			margin-top: 2rem;
		}

		.comment {
			margin-left: -$page-padding;
			margin-right: -$page-padding;
			padding-left: $page-padding;
			padding-right: $page-padding;

			h3 {
				font-family: $museo-sans;
				font-size: 1.8rem;
				display: inline;
			}

			time,
			.author {
				color: #aaa;
			}

			.author:before { content: " — " }
			.author:after { content: ", " }

			p {
				margin-top: 0.5rem;
				line-height: 1.5;
				white-space: pre-wrap;
			}

			& + .comment {
				margin-top: 2rem;
			}
		}

		.reply {
			margin-top: 2rem;
			padding-left: 2rem;
			background: url(/images/reply-arrow.png) no-repeat left top;

			.author:before { content: "" }
			time:after { content: ":" }
		}

		form {
			border-top: 1px solid #cecece;
			margin-top: 4rem;
			padding-top: 2rem;

			input, textarea {
				width: 100%;
				margin-bottom: 1rem;
			}

			textarea {
				min-height: 10rem;
			}

			button + button { margin-left: 1rem; }

			p {
				text-align: center;
			}
		}

		// Side of pro-con indicator should match the order of submit <button>s.
		&.discussion .comment.pro { border-right: 4px solid #89cb00; }
		&.discussion .comment.con { border-left: 4px solid #f00052; }
	}

	#initiative-events {
		.events {
			max-width: 72rem;
		}

		.event {
			h2 {
				font-family: $museo-sans;
				font-size: 1.8rem;
				display: inline;
				color: $link;
			}

			time {
				color: #aaa;
			}

			time:before { content: " — " }

			p {
				margin-top: 0.5rem;
				line-height: 1.5;
				white-space: pre-wrap;
			}

			& + .event {
				margin-top: 2rem;
			}
		}
	}
}

#footer {
	position: relative;
	min-height: $footer-height;
	padding-top: 2rem;
	padding-bottom: 2rem;
	overflow: hidden;

	background: $header-color;
	color: white;
	line-height: 1.4;
	font-size: 1.3rem;

	a {
		color: $blue;
	}

	.contact {
		float: left;
	}

	.contact img {
		margin-bottom: 1rem;
	}

	.powered-by {
		text-align: right;
		float: right;
	}
}
