$page-width: 960px;
$page-padding: 20px;
$light-blue: #45a0e6;
$dark-blue: #3390d7;
$link: #1C71A2;
$blue: #53B1EB;
$form-input-padding: 8px;
$header-color: #124267;
$footer-height: 12rem;
$grey-background: #f2f2f2;
$darker-grey-background: #e8e8e8;

@import "reset";
@import "_fonts";

html,
body {
	height: 100%;
}

body {
	font-family: 'MuseoSansCyrl-300';
	font-size: 1.4rem;
	color: #4A555D;
}

center {
  max-width: $page-width;
  margin: 0 auto;
  text-align: inherit;

	// Internet Explorer still centers <p>s under <center> even with
	// text-align: inherit.
	& > p { margin-right: auto }
}

#header,
.grey-section,
.white-section,
#footer {
	padding-left: 2rem;
	padding-right: 2rem;
}

.grey-section {
	background-color: $grey-background;
}

.white-section {
	background-color: white;
}

.text-section {
	padding-top: 4rem;
	padding-bottom: 4rem;

	h1 {
		font-size: 34px;
		color: $link;
	}

	h1 + p {
		margin-top: 2rem;
	}

	p {
		line-height: 1.5;
	}
}

button.inherited {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;

	border: none;
	background: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

.form-label,
.form-input,
.form-submit {
  line-height: 18px;
  font-size: 14px;
  font-family: 'MuseoSansCyrl-500', sans-serif;
}

.form-label {
  font-family: 'MuseoSansCyrl-700', sans-serif;
	font-weight: bold;
}

.form-input {
  border: 1px solid #cecece;

  padding: $form-input-padding 10px;

  background: white;
  color: #4a555d;
  border-radius: 2px;
}

.form-submit {
  appearance: none;
  display: inline-block;
  vertical-align: top;
  font-family: 'MuseoSansCyrl-700', sans-serif;
	text-transform: uppercase;

  background: $light-blue;
  border: 1px solid $dark-blue;
  border-radius: 2px;

  padding: $form-input-padding 20px;

  color: white;
}

#header {
	background: $header-color;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	color: white;

	.right {
		float: right;
	}

	menu {
		margin-bottom: 2rem;
		overflow: hidden;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-family: "MuseoSansCyrl-500";

		.user {
			text-transform: none;
		}

		form {
			display: inline;

			&:before { margin: 0 1rem; content: "|"; }
		}
	}

	.logo {
		display: block;
		width: 18rem;
		height: inherit;
		margin-right: 2rem;

		float: left;

		img { width: 100%; }
	}

	nav li {
		display: inline;

		& + li { margin-left: 1rem; }
	}

	nav a {
		display: inline-block;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 0.5rem 1rem;
		border-radius: 2px;
		transition: color ease 0.4s;

		&.selected,
		&:hover {
			background-color: white;
			color: #45A0E6;
		}
	}
}

#main {
	min-height: 100%;
	height: auto;
	padding-bottom: $footer-height;
	margin-bottom: -$footer-height;
}

#home-page {
	$half-width: 48rem;

	#welcome {
		//min-height: 35rem;
		background: url(/images/hero-bg.png) no-repeat right center;
		background-position: calc(50% + 450px) center;

		h1 {
			max-width: $half-width;
		}

		p {
			margin-bottom: 2rem;
			max-width: $half-width;
		}
	}

	#create-link {
		float: right;
		line-height: 30px;
		padding-right: 25px;

		font-family: 'MuseoSansCyrl-900';
		font-size: 16px;
		color: #ffd900;
		border-bottom: 1px solid #ffd900;
		background: url(/images/hero-list-arrow-act.png) no-repeat right center;
	}

	#video-link {
		line-height: 22px;
		color: #45A0E6;
		font-family: 'MuseoSansCyrl-900';
		font-size: 16px;
		text-transform: uppercase;
		max-width: $half-width;
		display: block;

		.icon {
			float: left;
			width: 5rem;
			height: 5rem;
			background: url(/images/home-video-icon.png) no-repeat right center;
			background-size: 5rem;
		}

		span {
			display: block;
			margin-left: 6rem;
			padding-top: 0.5rem;
		}
	}

	#initiatives {
		$initiative-width: 22.5rem;
		padding-top: 4rem;
		padding-bottom: 4rem;

		h2 {
			font-size: 2rem;
			line-height: 3rem;
			color: $link;
			border-bottom: 1px solid #00cb81;
			text-align: right;
			font-family: 'MuseoSansCyrl-900';
			text-transform: uppercase;
			max-width: $initiative-width;

			margin-bottom: -3rem;

			& ~ h2 {
				margin-top: 4rem;
			}
		}

		.initiatives {
			overflow: hidden;
			margin-left: $initiative-width;
		}

		.initiative {
			background: white;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
			transition: all ease 0.5s;

			width: $initiative-width;
			float: left;
			padding: 1rem 2rem 0;
			margin-left: 2rem;
			margin-bottom: 2rem;

			a {
				display: block;
			}

			time,
			.author {
				color: #AAAAAA;
				font-size: 1.4rem;
				font-family: "Tisa Pro Regular", serif;
			}

			h3 {
				font-size: 17px;
				color: #4F4F4F;
				line-height: 1.5;
				margin-top: 1rem;
				word-wrap: break-word;
				min-height: 16rem;
			}

			&:hover {
				box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
				h3 { color: $link; }
			}

			.progress {
				display: block;

				margin: 0.5rem -2rem 0;
				padding: 1rem 2rem 0.8rem;
				font-size: 1.3rem;
				line-height: 1;
				font-family: "MuseoSansCyrl-700";
				color: #3a434a;

				background-color: #eee;
				background-repeat: no-repeat;
			}

			&.discussable .progress.completed {
				background-color: #ffb400;
				background-image: url(/images/discussion-over.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.votable .progress.completed {
				color: white;
				background-color: #00cb81;
				background-image: url(/images/vote-success.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.votable .progress.failed {
				color: white;
				background-color: #9a9a9a;
				background-image: url(/images/vote-failed.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.processable .progress {
				color: #1C71A2;
				background-image: url(/images/clock.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}
		}
	}
}

#initiative-page {
	$aside-width: 24rem;
	background-color: $grey-background;

	#initiative {
		overflow: hidden;
		background: white;
	}

	article,
	aside {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	article {
		padding-left: 2rem;
		margin-right: $aside-width + 1rem;
		//padding-left: 2rem;

		font-size: 18px;
		font-family: 'tisaproregular', serif;
		line-height: 1.4;

		header {
			font-family: 'MuseoSansCyrl-500';
			font-size: 1.4rem;
			color: #999;
		}

		.deadline {
			text-transform: capitalize;
		}

		h1 {
			font-size: 48px;
			font-family: 'MuseoSansCyrl-700';
			line-height: 60px;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}

	aside {
		float: right;
		width: $aside-width;
		padding-left: 1rem;
		padding-right: 1rem;

		& > button {
			width: 100%;
			margin-bottom: 20px;
		}

		.aside-box {
			background: white;
			margin-bottom: 20px;

			a {
				color: $blue;
				line-height: 22px;
				cursor: pointer;

				&:hover { text-decoration: underline; }
			}
		}

		.aside-box-header {
			background: $light-blue;
			padding: 0 10px;
			line-height: 40px;
			color: white;
			font-family: 'MuseoSansCyrl-700';
			font-size: 14px;

			text-transform: uppercase;
		}

		.aside-box-list {
			padding: 10px 0;
			margin: 0 10px 10px;
			list-style: none;

			li > a {
				display: block;
			}
		}
	}

	#comments {
		margin: 4rem 2rem 4rem;
		max-width: 68rem;

		h2 {
			font-family: 'MuseoSansCyrl-700';
			font-size: 2.8rem;
			margin-top: 1rem;
			margin-bottom: 2rem;
		}

		.comment {
			margin-left: -2rem;
			margin-right: -2rem;
			padding-left: 2rem;
			padding-right: 2rem;

			h3 {
				font-family: 'MuseoSansCyrl-700';
				font-size: 1.6rem;
				display: inline;
			}

			time,
			.author {
				color: #aaa;
			}

			.author:before { content: " — " }
			.author:after { content: ", " }

			p {
				line-height: 1.5;
			}

			&.pro {
				border-left: 4px solid #89cb00;
			}

			&.con {
				border-right: 4px solid #f00052;
			}

			& + .comment {
				margin-top: 2rem;
			}
		}

		.reply {
			margin-top: 2rem;
			padding-left: 2rem;
			background: url(/images/reply-arrow.png) no-repeat left top;

			.author:before { content: "" }
			time:after { content: ":" }
		}

		.anonymous {
			text-align: center;
			border-top: 1px solid #cecece;
			margin-top: 2rem;
			padding-top: 2rem;
		}
	}

	#initiative-email-subscription {
		padding: 10px;

		h1 {
			margin: -10px -10px 10px;
		}

		label {
			display: block;
			&::after { content: ":"; }
		}

		input[type=email],
		button {
			display: block;
			margin-top: 5px;
			width: 100%;
		}
	}
}

#footer {
	position: relative;
	min-height: $footer-height;
	padding-top: 2rem;
	padding-bottom: 2rem;
	overflow: hidden;

	background: $header-color;
	color: white;
	line-height: 20px;

	a {
		color: $blue;
	}

	.contact {
		float: left;
	}

	.contact img {
		margin-bottom: 1rem;
	}

	.powered-by {
		text-align: right;
		float: right;
	}
}
