$page-width: 960px;
$page-padding: 20px;
$light-blue: #45a0e6;
$dark-blue: #3390d7;
$link: #1C71A2;
$blue: #53B1EB;
$form-input-padding: 8px;
$header-color: #124267;
$footer-height: 12rem;

@import "reset";
@import "_fonts";

html,
body {
	height: 100%;
}

body {
	font-family: 'MuseoSansCyrl-300';
	font-size: 1.4rem;
	color: #4A555D;
}

center {
  max-width: $page-width;
  margin: 0 auto;
  text-align: inherit;

	// Internet Explorer still centers <p>s under <center> even with
	// text-align: inherit.
	& > p { margin-right: auto }
}

#header,
.grey-section,
.white-section,
#footer {
	padding-left: 2rem;
	padding-right: 2rem;
}

.grey-section {
	background-color: #f2f2f2;
}

.white-section {
	background-color: white;
}

#header {
	background: $header-color;
	padding-top: 5rem;
	padding-bottom: 1rem;
	color: white;

	.logo {
		display: block;
		width: 18rem;
		height: inherit;
		margin-right: 2rem;

		float: left;

		img { width: 100%; }
	}

	nav li {
		display: inline;

		& + li { margin-left: 1rem; }
	}

	nav a {
		display: inline-block;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 0.5rem 1rem;
		border-radius: 2px;
		transition: color ease 0.4s;

		&.selected,
		&:hover {
			background-color: white;
			color: #45A0E6;
		}
	}
}

#main {
	min-height: 100%;
	height: auto;
	padding-bottom: $footer-height;
	margin-bottom: -$footer-height;
}

#home-page {
	$half-width: 48rem;

	#welcome {
		padding-top: 4rem;
		padding-bottom: 4rem;
		//min-height: 35rem;
		background: url(/images/hero-bg.png) no-repeat right center;
		background-position: calc(50% + 450px) center;

		h1 {
			font-size: 34px;
			color: $link;
			max-width: $half-width;
		}

		p {
			line-height: 1.5;
			margin-top: 2rem;
			margin-bottom: 2rem;
			max-width: $half-width;
		}
	}

	#create-link {
		float: right;
		line-height: 30px;
		padding-right: 25px;

		font-family: 'MuseoSansCyrl-900';
		font-size: 16px;
		color: #ffd900;
		border-bottom: 1px solid #ffd900;
		background: url(/images/hero-list-arrow-act.png) no-repeat right center;
	}

	#video-link {
		line-height: 22px;
		color: #45A0E6;
		font-family: 'MuseoSansCyrl-900';
		font-size: 16px;
		text-transform: uppercase;
		max-width: $half-width;
		display: block;

		.icon {
			float: left;
			width: 5rem;
			height: 5rem;
			background: url(/images/home-video-icon.png) no-repeat right center;
			background-size: 5rem;
		}

		span {
			display: block;
			margin-left: 6rem;
			padding-top: 0.5rem;
		}
	}

	#initiatives {
		$initiative-width: 22.5rem;
		padding-top: 4rem;
		padding-bottom: 4rem;

		h2 {
			font-size: 2rem;
			line-height: 3rem;
			color: $link;
			border-bottom: 1px solid #00cb81;
			text-align: right;
			font-family: 'MuseoSansCyrl-900';
			text-transform: uppercase;
			max-width: $initiative-width;

			margin-bottom: -3rem;

			& ~ h2 {
				margin-top: 4rem;
			}
		}

		.initiatives {
			overflow: hidden;
			margin-left: $initiative-width;
		}

		.initiative {
			background: white;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
			transition: all ease 0.5s;

			width: $initiative-width;
			float: left;
			padding: 1rem 2rem 0;
			margin-left: 2rem;
			margin-bottom: 2rem;

			a {
				display: block;
			}

			time,
			.author {
				color: #AAAAAA;
				font-size: 1.4rem;
				font-family: "Tisa Pro Regular", serif;
			}

			h3 {
				font-size: 17px;
				color: #4F4F4F;
				line-height: 1.5;
				margin-top: 1rem;
				word-wrap: break-word;
				min-height: 16rem;
			}

			&:hover {
				box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
				h3 { color: $link; }
			}

			.progress {
				display: block;

				margin: 0.5rem -2rem 0;
				padding: 1rem 2rem 0.8rem;
				font-size: 1.3rem;
				line-height: 1;
				font-family: "MuseoSansCyrl-700";
				color: #3a434a;

				background-color: #eee;
				background-repeat: no-repeat;
			}

			&.discussable .progress.completed {
				background-color: #ffb400;
				background-image: url(/images/discussion-over.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.votable .progress.completed {
				color: white;
				background-color: #00cb81;
				background-image: url(/images/vote-success.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.votable .progress.failed {
				color: white;
				background-color: #9a9a9a;
				background-image: url(/images/vote-failed.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.processable .progress {
				color: #1C71A2;
				background-image: url(/images/clock.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}
		}
	}
}

#footer {
	position: relative;
	min-height: $footer-height;
	padding-top: 2rem;
	padding-bottom: 2rem;
	overflow: hidden;

	background: $header-color;
	color: white;
	line-height: 20px;

	a {
		color: $blue;
	}

	.contact {
		float: left;
	}

	.contact img {
		margin-bottom: 1rem;
	}

	.powered-by {
		text-align: right;
		float: right;
	}
}
