.create1-bg(ng-show="('topics.create' | isState)")
	.enclose
		.step-two.right
		|                 
		.create-step1.clearfix
			.step-one.left
			|                 
			.create1-content.right
				h1(translate="EXPLANATION") Seletus
				|                     
				p(translate="EXPLANATION_CONTENT")
				|                         
				hr(style="color:#cecece; margin-top:30px;")
				|                     
				form
					.click-check
						input#check(type="checkbox", ng-checked="understandConditions", ng-click="checkConditionsRead()")
						|                             
						label(for="check")
							span(ng-bind-html="'I_HAVE_READ' | translate:{url: '/goodpractice'}")

						br
						|                             
						p.error.error_message(ng-show="!app.user.loggedIn", translate="LOGIN_TO_CREATE_TOPIC") Teema loomiseks peate sisse logima!
						|                             
						p.error.error_message(ng-show="notConfirmedRead", translate="CONFIRM_I_HAVE_READ") Teema loomiseks peate sisse logima!
					|                         
					.step1-buttons.clearfix
						a.yellow-button(href="#", ng-disabled="!app.user.loggedIn", ng-click="triggerStart('discussion')", translate="START_DISCUSSION") ALUSTA ARUTELU JA KOGU OMA IDEELE TEOTUST
						|                             
						a.green-button(href="#", ng-disabled="!app.user.loggedIn", ng-click="triggerStart('initiative')", translate="POST_INITIATIVE") POSTITA ALGATUS JA ALUSTA ALLKIRJADE KOGUMIST

.create2-bg(ng-show="('topics.deadline' | isState)")
	.enclose
		.create-step2.clearfix
			.step-two.left
			|                 
			.create2-content.left
				h1(translate="DEADLINE_TITLE") Valikud
				|                     
				div(ng-if="!topictype || topictype=='discussion'", translate="DEADLINE_EXPLANATION_DISCUSSION")
				div(ng-if="topictype=='initiative'", translate="DEADLINE_EXPLANATION_INITIATIVE")

				h3(ng-if="!topictype || topictype=='discussion'", translate="YOU_CAN_STILL_CHANGE_DEADLINE_DISCUSSION")

				h3(ng-if="topictype=='initiative'", translate="YOU_CAN_STILL_CHANGE_DEADLINE_INITIATIVE")
				|                         
				.step2-buttton
					a.blue-button(href="", ng-click="createDeadlineEnd(topic.endsAt)", translate="CONTINUE_TO_ADD_COAUTHORS")

				.step-back
					a(href="/topics/new", translate="BACK_TO_PREVIOUS_CHOICE")

				p.error.error_message(ng-show="dateNotSet", translate="CHOOSE_DEADLINE_TO_CONTINUE") Teema loomiseks peate sisse logima!

			.calendar-block
				.deadline-calendar.clearfix
					p.left
						span(translate="DEADLINE") Deadline
						| : {{topic.endsAt | amDateFormat : 'L'}}
					|                         
					p.right(translate="{{'TXT_DEADLINE_CALENDAR_DAYS_LEFT' | translate: topic}}") 23 days left

				hr(style="margin-bottom:20px;")

				.calendar-right.clearfix.hasDatepicker
					div(date-picker="topic.endsAt", max-view="date", min-view="date", template="/templates/components/datePickerTopic.html?1312234239084")
