.home-hero.clearfix
	.box.clearfix
		.right
			div
				h2(translate="LINK_VOTING", style="width:400px;")
				p(translate="INITIATIVE_CONTENT")

	.box.clearfix.bg
		.left
			ul.h-list
				li: a.active(href="/topics/new", translate="BTN_NEW_TOPIC")

div(ng-controller="HomeCtrl")
	.article-bg
		.enclose
			include ./_initiatives
			include ./_followups

	include ../_initiative_height
