.popover{
    position: absolute;
    top: 100%;
    background: rgba(255,255,255,0.95);
    width: 390px;
    padding: 20px;
    border-radius: 2px;
    color: #4A555D;
    right: 0;
    margin-top: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    font-family: 'museo_sans500';
    font-size: 14px;
    z-index: 50;
}
.popover:before{
	position:absolute;
	content:'';
	right:25px;
	top:-7px;
	width:13px;
	height:10px;
	background:url(images/pop-arrow.png) no-repeat;
}
.popover h4{
	color:#4A555D;
    font-family: 'museo_sans900';
	margin-bottom:12px;
}
.popover a{
    font-family: 'museo_sans700';
	color:#45a0e6;
	font-size:12px;
	text-decoration:underline;
	display:inline-block;
	margin-top:15px;
}


.bootstro-next-btn
{
    float:right;
}
.bootstro-prev-btn
{
    float:left;
}
.bootstro-backdrop
{
    opacity: 0.5;
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    filter: alpha(opacity = 50);
}
.bootstro-highlight
{
	z-index: 9999;
	position: relative;
	border: 1px solid white;
	background-color: white;
}

.bootstro-finish-btn-wrapper
{
	/*border-top:1px solid #eee;*/
	padding-top:10px;
    text-align:center;
    clear:both;
}
.bootstro-nav-wrapper
{
    margin-top:10px;
}

.bootstro-nav-wrapper button, .bootstro-finish-btn-wrapper button
{
	font-size:12px !important;
	padding : 3px 5px 3px 5px !important;
	font-weight:bold;
}


