extends ../../layout
include ./_form

block head
	- var PAGE = "update-event"
	- var TITLE = "Edit Event of " + initiative.title

block body
	a.admin-back-2(href="/initiatives") Initiatives
	a.admin-back(href="/initiatives/" + initiative.id)= initiative.title
	h1.admin-heading Edit Event
	include /_flash.jade
	+event-form(event)
